[2018-09-22 15:38] cmrockwell opened #1 "New Project Build Failure"
Hi
I was interested in trying Peregrin CMS. This command
percli create project my-project

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-archetype-plugin:3.0.1:generate (default-cli) on project standalone-pom: The desired archetype does not exist (com.peregrine-cms:peregrine-project-archetype:1.0) -> [Help 1]

Using
Ubuntu 18.04
NPM 3.5.2
Maven 3.5.2 (weird coincidence)
Java 1.8

[2018-09-22 16:47] cmrockwell commented on #1
After cloning the project
git clone https://github.com/headwirecom/peregrine-cms.git
The command worked

[2018-09-22 16:47] #1 closed

[2018-09-23 01:07] cmrockwell opened #2 "Mixed Content http"
Hello
Thank you making a nice looking CMS. I'm trying to use Peregrine on AWS where SSL is handled by the load balancer and forwarded on with a header HTTP:X-Forwarded-Proto https  But I'm finding a lot of trouble with mixed content with these resources.

/perapi/admin/access
/system/sling/info.sessionInfo

Generally what I'm finding is that any page below /content/admin.html will not load thru th

[2018-09-23 13:30] reusr1 commented on #2
Chris, thank you for reporting this issue . Is this in an author or publish scenario and are you using one or multiple servers behind the ELB?

[2018-09-23 18:36] cmrockwell commented on #2
This is in author mode. I'm using httpd on another instance between the peregrine instance and the ELB. When I use http only, everything seems fine. It might be a problem with the Authorization header. When the problem happens, the access.log at peregrine shows the request to /system/sling/info.sessionInfo from anonymous.

[2018-10-07 14:32] reusr1 commented on #2
just wondering - are you using 2 authors behind the elb or just one? If you install an out of the box sling instance - do you see the same issue?

[2018-10-07 16:09] cmrockwell commented on #2
For now, I have taken httpd out of the mix. As of now there is only one author and one elb.
No I don't think Sling or Composum have exactly this same problem. When I log in direct to https://access.rockwellcdn.com/bin/browser.html it will redirect after authn to http. But Sling and Composum still render when I request https URI's

I feel the problem relates to 302 sent from com.peregrine.admin.ser

[2018-10-07 18:29] cmrockwell commented on #2
I know this is not the best fix. But it avoids the problem and allows the app to render from https...

![screenshot from 2018-10-07 14-26-54](https://user-images.githubusercontent.com/1811207/46585293-23f6e900-ca3d-11e8-8b37-cf83bc4ccac9.png)

[2018-10-12 03:00] #2 closed

[2018-10-20 19:02] cmrockwell opened #4 "Content updates do not work as shown in video"
Viewing the page editing video http://www.peregrine-cms.com/videos.html
I am not seeing this behavior. The screenshot shows my edits on the Jumbotron. The changes are not reflecting on the page preview. After submitting changes, the updates are  not reflected. But reloading the page does render the updates.

![screenshot from 2018-10-20 14-58-33](https://user-images.githubusercontent.com/1811207/4

[2018-10-22 18:51] schaefa commented on #4
Locally I do not see these issues. Can you see if there are JS errors?

[2018-10-22 18:54] schaefa commented on #2
The current 'master' branch has a fix for this issue but it also contains other changes beside that.

[2018-10-23 02:39] cmrockwell commented on #4
I deleted my previous instance of pcms and reinstalled the project from scratch. Installed the latest from master. There is still no preview or refresh when editing. There are no JS errors or 404's. I tried Chrome and Firefox.

[2018-11-02 19:59] reusr1 commented on #4
we are still working on a good fix for this issue as it is a side effect of the combination of node modules used in peregrine, will update this thread once we have a better handle on the issue

[2018-12-09 23:43] cmrockwell commented on #4
Has there been any update to this? I notice PCMS dependencies use the carrot ^  in the package.json. Are there certain packages which need to be locked to a specific version?

[2019-02-07 19:18] devintuffy opened #13 "Missing Export error during build"
Rollup.js produces scores of this error while building the vue templates:

[code]

The result is that the vue app isn't bundled correctly, and pages in the admin don't work at all due to missing code.

[2019-02-07 19:20] devintuffy commented on #13
This turned out to be caused by an update to rollup-plugin-vue. As per this commit:

https://github.com/vuejs/rollup-plugin-vue/commit/fd3dfb9a4440b13b220fb2dc535506274280fa0c

rollup-plugin-commonjs is now required to be imported when we are using rollup-plugin-vue

[2019-02-08 21:53] devintuffy opened #15 "Vue console error when leaving input or textarea"
In the page editor, when a <input> or <textarea> element receives a DOM input event, the following is thrown to the console:

[code]

This appears to be cause by this issue:

https://github.com/vue-generators/vue-form-generator/issues/276

[2019-02-19 16:41] #13 closed, assigned to nobody

[2019-02-19 17:01] devintuffy opened #17 "Dragging component in editor throws server error"
To replicate:
- Go to Pages, click on Editor for a page (for this I used the built-in "Write" page)
- Press and hold on a draggable component, and attempt to move it to a new location on the page

Result: Component is not moved, and the server responds with a 400 error. Console output:

[code]
And here's the server response:

[code]

Form data sent with request:

[code]

Based on the server respon

[2019-02-19 17:04] reusr1 commented on #17
@devintuffy this may be related to the site itself and not the product as the docs site is auto generated from markdown files at compile time. Can you reproduce the issue in the examples site or themeclean site?

[2019-02-19 17:10] devintuffy opened #18 "Edit/Info action on object throws series of exceptions"
- Navigate to /objects/example
- click on "edit" button for collection object

Result: Garbled UI (see screenshot), and this exception thrown to console seven (7) times:

[code]

The same error is thrown clicking on the "Info" button for any object.

<img width="445" alt="screen shot 2019-02-19 at 9 06 38 am" src="https://user-images.githubusercontent.com/46942507/53033551-270bd800-3426-11e9-8dc5-

[2019-02-19 17:13] devintuffy opened #19 "Error when trying to edit certain components"
In the example site, when clicking on "Row Start", or other components, this error is displayed to the user:

<img width="1298" alt="screen shot 2019-02-19 at 9 11 43 am" src="https://user-images.githubusercontent.com/46942507/53033729-8f5ab980-3426-11e9-9532-7f64b4f43515.png">

Accompanied by this message in the console:

[code]

[2019-02-20 21:36] devintuffy commented on #17
@reusr1 I am getting the same error on this page:

sites   /  themeclean   /  Sample Sites   /  site 2  / child 1

[2019-02-21 19:09] devintuffy opened #20 "Series of console errors when creating new object"
- Go to "Objects", click on "New Object"
- Click on an object template. Every time you do, this is thrown to the console:

[code]

This happens five times in a row for each click

[2019-02-26 22:33] #15 closed, assigned to devintuffy

[2019-02-26 22:40] dna113p opened #24 "Datetime component styles are missing"
![image](https://user-images.githubusercontent.com/2624171/53451746-6614cd00-39d4-11e9-821e-14b0e9b91901.png)

[2019-02-26 22:42] dna113p opened #25 "Range field slider buggy"
Any field using vue form generator field with type="input" and inputType="range" - The slider Icon should follow the cursor as you adjust it, also there is a noticeable lag between the slider update and its being reflect on the page.
![image](https://user-images.githubusercontent.com/2624171/53451838-9d837980-39d4-11e9-83f6-9db38b7fc702.png)

[2019-02-27 15:08] dna113p commented on #19
Fixed with #23

[2019-02-27 15:08] #19 closed, assigned to dna113p

[2019-02-27 15:09] #18 closed, assigned to dna113p

[2019-02-27 16:27] reusr1 commented on #20
same issue exists in create page wizard and createsitewizard

[2019-02-27 17:49] reusr1 commented on #20
@devintuffy this issue should be resolved in the develop branch

[2019-02-27 18:44] devintuffy commented on #20
Confirmed as fixed in develop branch, closing

[2019-02-27 18:44] #20 closed, assigned to devintuffy

[2019-02-27 22:53] dna113p opened #29 "Inputs in preview mode are displaying editable inputs"
Should display just the values
![image](https://user-images.githubusercontent.com/2624171/53528737-59a97680-3a9f-11e9-99c0-3b45ce1ec4ea.png)

[2019-02-27 23:00] dna113p opened #30 "Object/Edit view form element display issues"
There are multiple style issues with form fields when editing objects, assets and components.
- [x] Button for add new item to collection is distorted
- [x] Width of textarea, range, collection, select, multiselect should be full width
- [x] Icon chooser icon is wrapping to a new line

[2019-02-28 18:05] #24 closed, assigned to dna113p

[2019-03-01 00:38] dna113p commented on #29
Made some changes to how the object edit view renders previews https://github.com/headwirecom/peregrine-cms/tree/bugfix/vfg-field-styles

[2019-03-01 19:10] dna113p opened #33 "material-select field not working"
In the example allfields object, the material multi-select cannot select multiple elements. If you try to select any item you can no longer select multiple items. Also if you then switch to preview mode it renders a large list of empty items.

[2019-03-01 19:28] dna113p opened #34 "Warning when editing a collection component without multifield"
I think this is functioning fine but we should allow an array as a prop type.
[code]

[2019-03-04 21:11] dna113p commented on #25
#31

[2019-03-04 21:11] #25 closed, assigned to dna113p

[2019-03-07 22:16] dna113p opened #36 "Cannot create certain objects"
When using the create object wizard and selecting 'allfields' object from the example project I can no longer proceed past the second step. No console errors.

[2019-03-11 19:50] devintuffy commented on #17
Update: Figured out that this happens only on template components. As a fix, going to prevent drag-and-drop on template components in the UI, figure out appropriate styling to indicate this to user.

[2019-03-13 16:27] devintuffy opened #38 "Deleting component in editor throws exception in console"
To replicate:
- Open page editor
- drag components onto page
- select component
- In the component editor panel, click on the Delete button. The following is thrown to the console:

[code]

This is ultimately cause by this block in https://github.com/headwirecom/peregrine-cms/blob/master/admin-base/ui.apps/src/main/js/apiImpl.js, lines 276-282:

[code]

That method fires after the object has been

[2019-03-13 16:33] dna113p opened #39 "Explore options for improved nested content editing"

[2019-03-13 18:13] devintuffy commented on #36
caused by: createObjectWizard/template.vue, line 169:

`return this.$refs.nameTab.validate()`

returns false.

This file defines `validator: this.nameAvailable`, which I would expect to bind validator() to this.nameAvailable, but isn't in this case; it's running the vue-form-generator validator() method instead. This can be found lines 158-197 here:  https://github.com/vue-generators/vue-form-gene

[2019-03-13 18:25] devintuffy commented on #36
This page has two forms, one which has what we expect, and the other which has a bunch of nonsense that is causing the validator to fail:

![Screen Shot 2019-03-13 at 11 21 29 AM](https://user-images.githubusercontent.com/46942507/54304524-95a20880-4582-11e9-904c-2de74e3d89ce.png)

This additional forms which is stopping the validator from passing is attached to the "tabPanel"  and is currently hi

[2019-03-14 15:17] devintuffy commented on #36
So it looks like createObject is trying to validate the "name" and "verify" steps at the same time...ooh, because they both have the same attribute value for vue-form-generator -> ref. Fixing.

[2019-03-14 16:14] #36 closed, assigned to devintuffy

[2019-03-14 16:23] #29 closed, assigned to dna113p

[2019-03-14 16:23] #30 closed, assigned to dna113p

[2019-03-14 16:23] #17 closed, assigned to devintuffy

[2019-03-18 20:04] devintuffy opened #41 "Site, page other Wizards: user sees validation error immediately upon page load"
- Sites -> New Site

<img width="1417" alt="Screen Shot 2019-03-18 at 12 58 56 PM" src="https://user-images.githubusercontent.com/46942507/54559596-9f11e300-497d-11e9-9de2-89081956ba7c.png">

"selection required" error is displayed right away. This should only appear if the user attempts to click "next" without selecting.

UI tweaks to fix with this as well:
- Fix capitalization on "selection requ

[2019-03-18 20:08] devintuffy opened #42 "Newly-created site shows wrong label on folders"
To reproduce:
- Navigate to 'sites', use + button to create a new site
- Go through the wizard, give site a name. Use "themeclean" as the basis

Result:

While the breadcrumbing shows the "correct" name of the folder or item, the explorer shows the site name for every sub-item in the site:

<img width="327" alt="Screen Shot 2019-03-18 at 1 06 11 PM" src="https://user-images.githubusercontent.com/4

[2019-03-18 20:10] devintuffy commented on #42
Oh nooooo

![Screen Shot 2019-03-18 at 1 10 31 PM](https://user-images.githubusercontent.com/46942507/54560284-3f1c3c00-497f-11e9-9c05-247eea348209.png)

[2019-03-18 21:06] devintuffy commented on #42
Looking at the response from http://localhost:8080/perapi/admin/nodes.json/content/sites/test%20area/Sample%20Sites/site%202/child%201, I can see that this 'title' value is coming from the server:

![Screen Shot 2019-03-18 at 2 04 16 PM](https://user-images.githubusercontent.com/46942507/54563615-e3ee4780-4986-11e9-8ada-c283cab58e48.png)

[2019-03-18 21:19] devintuffy commented on #42
Composum confirms this is persisted:

<img width="962" alt="Screen Shot 2019-03-18 at 2 19 03 PM" src="https://user-images.githubusercontent.com/46942507/54564352-d0dc7700-4988-11e9-8df1-1043e1f8b912.png">

[2019-03-18 21:32] devintuffy commented on #42
This is happening in the createSite api call:

When creating a new site from a template, we call com.peregrine.admin.resource.AdminResourceHandlerService#copySite, with the new site name as "targetName". This targetName is passed into com.peregrine.admin.resource.AdminResourceHandlerService#copyChildResources, which copies each page and then updates the title -- so in this case, updating every pag

[2019-03-23 18:35] #42 closed, assigned to devintuffy

[2019-03-23 18:36] #41 closed, assigned to devintuffy

[2019-03-29 17:42] devintuffy opened #46 "Templates created when new site is created have the same name as original template"
When creating a new site from a template, a new template gets created. This template always has the same name as the original template, leading to multiple copies of templates with the same name:

<img width="1417" alt="Screen Shot 2019-03-19 at 11 00 23 AM" src="https://user-images.githubusercontent.com/46942507/55251925-d64e8280-520e-11e9-9e18-6debcdba6d57.png">

Making sure that updateTitle() i

[2019-03-29 17:59] devintuffy commented on #46
This results in two "title" fields in the JSON object that describes the templates:

[code]

[2019-03-31 14:23] reusr1 commented on #38
addressed with PR https://github.com/headwirecom/peregrine-cms/pull/48/

[2019-03-31 14:24] #38 closed, assigned to nobody

[2019-04-01 16:54] #33 closed, assigned to dna113p

[2019-04-01 16:58] dna113p commented on #39
Looked into swapping our collection and multislect feels using [vfg-array-field](https://github.com/gwenaelp/vfg-field-array) but ultimately it uses a similar approach to ours.

#45 adds some improvements to maintain a cleaner vfg state when deleting items which was causing multiple collection issues.

[2019-04-01 16:58] #39 closed, assigned to dna113p

[2019-04-01 16:59] dna113p commented on #34
#45 changes collection preview to render inputs rather than nesting vue-form-generator

[2019-04-01 16:59] #34 closed, assigned to dna113p

[2019-04-01 17:20] devintuffy opened #50 "materialize css needs to be re-deployed manually after scss updates"
Steps:
- Change one of the .scss files located in /admin-base/materialize/custom
- run "percli compile -d" from /admin-base

Result: css changes are not deployed to the app with the rest of the changes. If I go into materialize/target I can see that sass has run and the css files are built, but they are not deployed to sling.

In order for these changes to take effect, I need to go into /materiali

[2019-04-01 19:03] devintuffy opened #51 "Explorer UX updates"
The UX for the explorer is not as intuitive as it could be. Two particular problems:
- It is not obvious to the user that the rows can be reordered
- Users expect Edit functionality when clicking on a label, not drill-down.

To fix this:
- Add drag handles to the left of the rows. For now we will use the materializecss drag_handle icon. The cursor should change to "grab" and "grabbing" while rows

[2019-04-02 18:12] devintuffy commented on #51
Pull request: #52

[2019-04-04 16:10] reusr1 opened #54 "special characters in node creation"
we need to make sure when we create nodes (new page, new template, new object, new asset) that we handle special characters correctly. As it stands right now creating a page with a question mark in the name results in a node that can break peregrine.

In general we should keep the display name as typed and change non alphanumeric characters to a dash and make sure we do not have a conflict when cr

[2019-04-06 14:13] reusr1 opened #55 "use percli process to build admin components and make admin console editable"
https://github.com/headwirecom/peregrine-cms/tree/feature/editauthor

[2019-04-06 14:22] reusr1 commented on #55
The admin components currently don't follow the same build process as regular sites component (fragments, etc). We should follow the same process to build admin components as we follow to build websites.

Changing this process should also allow us to make the admin console authorable ( see for example http://localhost:8080/content/admin/pages/edit.html/path:/content/admin to author the main screen

[2019-04-08 14:26] dna113p opened #56 "example site should be faster, and with improved accessibility"
To properly show Peregrine as a fast and accessible CMS, we need to make sure that our examples demonstrate that well.

For a starting point, we should get our Google Lighthouse audit scores for mobile devices on 3G up to 100%. For the example vue site:
https://googlechrome.github.io/lighthouse/viewer/?gist=0301c3017982a131b2a03007b71e1cdc

[2019-04-08 20:16] devintuffy commented on #54
Also with this ticket I will fix handling of duplicate names. If the user re-uses  name, they get a notification that the name is already in use:

<img width="1077" alt="Screen Shot 2019-04-08 at 1 10 05 PM" src="https://user-images.githubusercontent.com/46942507/55753630-ab7ae000-59ff-11e9-94ae-40c62804df0c.png">

which is a great first step, but it doesn't block the input; the user can click thr

[2019-04-12 18:39] devintuffy opened #57 "block input on slow operations"
When I click on the 'edit' button for a page, there is sometimes a brief (~1 second) pause before the edit screen appears; during this time I am still able to interact with the page. For such operations, we should react to the click immediately with some sort of loading layer or similar to 1) prevent the user from performing any further actions until the action completes and 2) indicate to the use

[2019-04-13 14:41] reusr1 opened #58 "sling11 deployment, peregrine logo on login screen missing"
when using https://github.com/headwirecom/peregrine-cms/tree/upgrade-to-sling-11 the logo on the login screen is missing (seems to be protected where in sling9 this was unprotected),

on a running peregrine instance when logged out, go to: http://localhost:8080/system/sling/form/login
notice the logo missing, reference to image is http://localhost:8080/etc/felibs/admin/images/peregrine-logo.png

[2019-04-13 14:44] reusr1 opened #59 "sling11 - after login does not take you to the peregrine welcome screen"
on a peregrine instance built with https://github.com/headwirecom/peregrine-cms/tree/upgrade-to-sling-11 after logging in through http://localhost:8080/ you are taken to the sling default homepage instead of the peregrine index.html file. This is due to the move of the starter content.

[2019-04-15 17:32] devintuffy opened #60 "Editor: show current page title"
While in the editor, the only way to see the page you are editing is via looking at the URL.

Some browsers hide the full URL by default, and it's not a good user experience to use it for a page title. We should find somewhere on the page where the name/path is displayed.

[2019-04-16 17:52] devintuffy commented on #54
Pull request for this: https://github.com/headwirecom/peregrine-cms/pull/61

[2019-04-16 17:52] #51 closed, assigned to nobody

[2019-04-24 15:47] schaefa commented on #59
Is fixed on branch develop-sling11

[2019-04-24 15:47] #59 closed, assigned to schaefa

[2019-04-24 15:48] schaefa commented on #58
Is fixed on branch develop-sling11

[2019-04-24 15:48] #58 closed, assigned to schaefa

[2019-04-26 08:26] DimitriPlotnikov opened #63 "Updating the peregrine-builder to the sling-feature model"
Since the old sling provisioning doesn't support content packages, perigrine content was installed manually on top of sling. The feature-model that was released this April does support provisioning of content packages (zips) and would enable to build a "self-contained" single jar peregrine distribution without any supplementary steps.

There is a preliminary work on adoption the sling features and

[2019-04-26 10:00] FabianHaupt opened #64 "Page Component is missing after creating new site"
When creating new site through *percli create project <name>* the created site doesn't include the page component which makes it impossible to drag components onto the page.

[2019-04-28 17:30] reusr1 commented on #64
@FabianHaupt this problem should be solved. Please rebuild the peregrine-cms project to update your archetype locally and then create a new project with `percli create project`

[2019-04-29 12:11] reusr1 opened #66 "when editing a component the first time in a session the edit does not save"
open a new browser, log in to peregrine, add a component to a page and change a value, then save.

when this action is done the first time for a new browser session the save fails

[2019-04-29 12:57] FabianHaupt opened #68 "Own Component has no Text"
I followed the quickstart guide and created my own site and own component. I can drag the component onto the page but it its just an empty div with no text.

[2019-04-29 13:10] #66 closed, assigned to nobody

[2019-04-29 13:11] reusr1 commented on #66
fixed with corresponding PR

[2019-04-29 13:25] reusr1 commented on #68
@FabianHaupt do you have maybe some more information about this? I just ran through the steps and they seem to work just fine for me. Would love to maybe see your project

[2019-04-29 13:31] reusr1 commented on #68
sorry, after further review there is an error in the docs:

[code]

[2019-04-29 13:41] FabianHaupt commented on #64
It works 👍

[2019-04-29 13:41] FabianHaupt commented on #68
It works 👍

[2019-04-29 13:41] #68 closed, assigned to nobody

[2019-04-29 13:41] #64 closed, assigned to nobody

[2019-04-30 06:24] flx-sta opened #69 "Component Filter not working properly (Author Interface)"
When editing a page (e.g. pages -> themeclean) the filter for the components is not applied right away and the drop-down value is initially empty.
To make it apply you have to click on an existing component to open the "edit component dialog" and close it again.

I tested this on the develop branch with commit db1995c03e751003b7ea6aed5baba4626e208904 (current latest commit)

Edit:
This error actua

[2019-05-06 11:26] #69 closed, assigned to nobody

[2019-05-06 11:27] flx-sta commented on #69
Couldn't reproduce the issue with serval different ways of trying.
Maybe it was just a local bug.
Issue closed

[2019-05-06 16:05] DimitriPlotnikov opened #70 "Using special character for component names leads to compilation errors"
During I was working through the tutorial ( http://www.peregrine-cms.com/docs/sitedev/quickstart.html ), I created a site with hyphen-minus character (-). The compilation of the site ended with the following error:
[code]
The source code of the generated TextModel:
[code]

I would rather add a check to ensure that only supported names are accepted by `percli create`

[2019-05-06 16:27] reusr1 commented on #70
@DimitriPlotnikov agree. will add this to the percli backlog as dashes are not supported for component names

[2019-05-06 19:19] DimitriPlotnikov commented on #70
@reusr1 thx for the quick response. I can reopen the issue in the percli repository if it would be more suitable place for it.

[2019-05-07 14:06] DimitriPlotnikov commented on #70
I corrected the issue. What contained dashes in my example was a site.

[2019-05-08 10:08] flx-sta opened #71 "materialchecklist field not working"
I've added the following JSON to my mode.json in a custom component:

[code]

Then I added my custom component to a page, clicked on it to open the editor-panel and everything I could see was this:

<img width="290" alt="Screenshot 2019-05-07 at 07 56 28" src="https://user-images.githubusercontent.com/50131232/57367626-a7221e00-7189-11e9-9e53-5a76e9ca2e54.png">

According to [the documentation](ht

[2019-05-09 02:50] hanbi918 opened #72 "how to use sling-11.jar?"
Now peregrine-cms use sling-9, when to upgrade to sling-11? I also found a branch for sling-11,how can i use it? thanks!

[2019-05-09 12:11] reusr1 commented on #72
we plan to be on sling11/java11 by the time we release peregrine 1.0.0. You can use https://github.com/headwirecom/peregrine-cms/tree/upgrade-to-sling-11 for sling11/java11

[2019-05-09 12:11] #72 closed, assigned to nobody

[2019-05-09 21:23] dna113p commented on #71
@Felix-Puetz Currently looking into this, looks like the checklist component is missing some recent updates.

[2019-05-10 11:33] FabianHaupt opened #73 "Being able to delete page component from template"
When you create a new site and then edit it under templates you are able to delete the page component which leads to the site being useless since you cant drag any components on it anymore. Is that intended?

[2019-05-10 11:38] reusr1 commented on #73
@FabianHaupt thank you for the ticket. Definitely not intended. We should block delete actions of the root node of a page.

[2019-05-21 20:46] GastonGonzalez opened #75 "Docker build fails under Mac OS X"
# Steps to Reproduce

1. Checkout `feature/docker` branch.

2. Run Docker build script.

[code]

[2019-05-21 21:24] GastonGonzalez commented on #75
I resolved several Docker build issues when running the build under OS X with this [commit](https://github.com/headwirecom/peregrine-cms/commit/c5151535874b8147e501204f89f68cb1b4e51a90).

1. Fixed the package file copy in `fetchfiles.sh` to work under Mac OS X. `xargs` behaves a bit different under OS X.
2. Replaced wget with curl since most Mac OS X systems do not have HTTPS support build into wg

[2019-05-21 21:24] #75 closed, assigned to GastonGonzalez

[2019-05-22 15:53] GastonGonzalez opened #77 "Docker documentation needed"
The `feature/docker` branch does not include documentation for running or building the Docker image.

[2019-05-22 15:56] GastonGonzalez commented on #77
Initial documentation created with this [commit](https://github.com/headwirecom/peregrine-cms/commit/6b60a24bc9e2a4bc9ad7314fd98b56266d385f6a).

FYI: @reusr1

[2019-05-22 15:56] #77 closed, assigned to GastonGonzalez

[2019-05-22 16:34] GastonGonzalez opened #78 "Refactor Dockerfile to adhere to best practices"
Refactor the Dockerfile to adhere to the following best practices:

1. Include `.dockerignore`.
2. Sort `apt-get install` package list alphanumerically to avoid potential duplication.
3. Reduce number of layers.

[2019-05-22 17:36] GastonGonzalez commented on #78
Resolved issues with this [commit](https://github.com/headwirecom/peregrine-cms/commit/169bfef9ce0dc174ec7899121658e94e9fd54d8f).

FYI: @reusr1

[2019-05-22 17:36] #78 closed, assigned to GastonGonzalez

[2019-05-28 13:01] flx-sta opened #81 "pageView.view state is not persistent"
When you are editing a page/template and you switch to preview-mode the state of `pageView.view` is `preview`:
<img width="200" alt="Screenshot 2019-05-28 at 14 31 56" src="https://user-images.githubusercontent.com/50131232/58479635-ef18dd00-8158-11e9-92cc-f09e33ec1f7d.png">
<img width="400" alt="Screenshot 2019-05-28 at 14 59 25" src="https://user-images.githubusercontent.com/50131232/58479844-53

[2019-05-29 10:43] flx-sta opened #82 "Cannot read property 'preview' of undefined"
### Reproduction:
1. checkout develop branch
1. build and deploy project
1. open browser (chrome in my case) and open a new tab **(the new tab is very important!)**
1. open http://localhost:8080/
1. open Dev-Tools and have the option "disable cache" active
<kbd><img width="331" alt="Screenshot 2019-05-29 at 12 37 36" src="https://user-images.githubusercontent.com/50131232/58550682-99067100-820e-11

[2019-05-29 10:46] flx-sta opened #83 "preview-mode not sticky in template-editor"
In commit [a242d344354946f8f5cb30986f9e55693e7a8c96](https://github.com/headwirecom/peregrine-cms/commit/a242d344354946f8f5cb30986f9e55693e7a8c96#diff-b945faa965143a893942472b00834ca3) the preview mode was made sticky for the page-editor but not for the template-editor

[2019-05-29 11:12] flx-sta commented on #83
I've provided a fix for this issue since its just a tiny bug
See #84

[2019-05-30 17:39] devintuffy opened #85 "Add healthcheck to peregrine docker"
When setting up automated testing to use docker, we need to have the test runner sleep for 30 seconds before starting tests to give the container time to start up.

Ideally, the container will implement a HEALTHCHECK ( https://docs.docker.com/engine/reference/builder/#/healthcheck ) so we can use docker inspect to check the status.

DoD: The following returns 'healthy' only when peregrine is in a

[2019-06-03 18:39] GastonGonzalez commented on #85
This feature was implemented in this [commit](https://github.com/headwirecom/peregrine-cms/commit/302553f8d96411ab592231879aff050be2323f8d). The image in Docker Hub has not yet been updated with this feature, so the steps below are required. They provide details on how to build a local Docker image.

1. Checkout the `feature/docker` branch.

[code]

2. Build the Docker image as this image is not y

[2019-06-04 08:23] flx-sta opened #86 "inputType: number is laggy"
When using `"inputType": "number"` for a component the delay between changing the value and watching the component apply the value (for example changing its width) is annoyingly long.

I've used the following field in my dialog.json:
[code]

When using an alternative like `material-slider` or `"inputType": "text"` it works perfectly fine without any noticeable delay

[2019-06-05 19:47] GastonGonzalez commented on #85
@devintuffy  - You no longer need to build the Docker image yourself as the `develop` image has been pushed to Docker Hub.

[code]

[2019-06-05 20:06] devintuffy commented on #85
@GastonGonzalez ~~Where was this pushed? The image I'm using:~~

~~https://hub.docker.com/r/reusr1/peregrine-cms~~

~~Doesn't show as updated on docker hub, and when I pulled I got a "Status: Image is up to date for reusr1/peregrine-cms:develop" response.~~

[2019-06-05 20:26] devintuffy commented on #85
@GastonGonzalez ignore the previous comment -- @reusr1 directed me to the correct location.

[2019-06-05 21:03] devintuffy commented on #85
@GastonGonzalez This is all working as expected, thanks for the quick turnaround on this.

[2019-06-05 21:03] #85 closed, assigned to GastonGonzalez

[2019-06-06 17:12] GastonGonzalez opened #88 "Node artifacts should be excluded from Docker image"
The Docker image should not include Node build-time artifacts. They are not needed by the image. `node_modules` and `package-lock.json` should be excluded.

[code]

[2019-06-06 17:28] GastonGonzalez commented on #88
Closing ticket. These artifacts are created by the Dockerfile.

[2019-06-06 17:28] #88 closed, assigned to GastonGonzalez

[2019-06-12 14:02] FabianHaupt opened #89 "Checkbox in Pathbrowser not working"
We are currently creating our own Components and created a Link Component which uses the Pathbrowser for setting the link.  When you open the Pathbrowser and then click on the link tab you cant check the checkbox.
<img width="666" alt="Bildschirmfoto 2019-06-12 um 15 29 22" src="https://user-images.githubusercontent.com/50013766/59357569-5e7ef700-8d2b-11e9-945b-8692dd966f4a.png">

[2019-06-12 15:03] DimitriPlotnikov commented on #63
The work seems to be done in: https://github.com/headwirecom/peregrine-cms/tree/develop-sling11

[2019-06-15 17:03] reusr1 opened #93 "site switcher (<section>/<tenant> to <tenant>/<section>)"
concern:

currently all consoles in peregrine start at the /content/{concept} level. It may be better to switch this and add a drop down to the top toolbar where one can select the site (or tenant) the user is currently working with. This should also allow us to have better path browsers to choose assets or links to other pages as we would always know the context the user is working in

this issue

[2019-06-17 14:31] GastonGonzalez commented on #93
I agree that introducing a top-level concept/tenant node is needed in Peregrine to easily allow support for multiple tenants on a single Peregrine instance. +1 for this feature.

[2019-06-17 15:03] schaefa commented on #93
Sling has no OOTB handling of tenants based on the (Servlet) Resource Resolver. This means we must handle the separation of the tenants. Do you intend to have the tenant info in a context object or as part of the path?
I am all for it but it's not easy as Adobe has quite some problems with it.

[2019-06-17 15:08] reusr1 commented on #93
@schaefa @GastonGonzalez this issue is more at the UI level in general (UX of peregrine). I agree however we should at one point come up with a strategy for tenant separation.

[2019-06-17 22:31] devintuffy commented on #86
@Felix-Puetz Hi, I am taking a look at this issue -- can you provide the full dialog.json you used, as well as the associated model.json? Thanks!

[2019-06-18 10:49] flx-sta commented on #86
I didn't use model.json since we avoid using the "fragments" approach because we ran into too many issues.

I've added a branch for you in our fork-repo and provided an example component where you can have a look at the bug.
When changing the value for the first time it does apply after a short delay. Changing for a second time does not work at all

- Branch: [bug/laggy-number-input](https://githu

[2019-06-19 08:49] flx-sta opened #94 "i18n is case sensitive but folders arent"
While I was working on the german translation for peregrine I had to realise, that the key (which is the english word) for translation is case sensitive but creating folders in the [`i18n.admin.de`](https://github.com/headwirecom/peregrine-cms/tree/develop/admin-base/ui.apps/src/main/content/jcr_root/i18n/admin/de) directory is not.

For example you have the following 2 code lines
[code]
You could

[2019-06-19 15:34] dna113p opened #96 "Rich text editor needs improved styling."
![image](https://user-images.githubusercontent.com/2624171/59779320-e35a9b00-926c-11e9-8715-7d99697ed468.png)

Currently very awkward to edit anything besides small text in the editor

[2019-06-19 15:36] dna113p opened #97 "Rich text editor link editing has not been styled"
![image](https://user-images.githubusercontent.com/2624171/59779445-1f8dfb80-926d-11e9-8f65-ef88db93b55a.png)

[2019-06-19 15:39] dna113p commented on #97
Editing a link in the rich text editor should open up the path browser dialog that we already have built.

[2019-06-20 17:10] devintuffy commented on #86
Thank you @Felix-Puetz , I was able to reproduce based on your code and am looking into this now.

After some initial debugging, this appears to be a delay within vue-form-generator; once the form emits the model-updated event everything else updates immediately, the delay is between the input being updated and FormGenerator's vue updating the model.

Will continue to investigate.

[2019-06-21 08:58] flx-sta opened #100 "Insert a copied component does not work"
### Reproduction:
- **open page-editor**
- **hover over any component and hit the "copy" button**
<img width="122" alt="Screenshot 2019-06-21 at 10 56 33" src="https://user-images.githubusercontent.com/50131232/59911032-5aca2f00-9413-11e9-8f03-fa2cb6c0ef39.png">

- **now hit the newly appeared "insert" button**
<img width="201" alt="Screenshot 2019-06-21 at 10 56 37" src="https://user-images.githu

[2019-06-23 12:17] NMuzaffar opened #102 "Page Renaming throws NullPointerException"
**Reproduction**

- open pages tab in admin console
- click 'Info' on any page and rename page
- the resource gets renamed, though an error is thrown

![Screenshot 2019-06-23 at 14 16 27](https://user-images.githubusercontent.com/24642899/59976218-8db22580-95c1-11e9-8aec-50325b8b81d6.png)

![Screenshot 2019-06-23 at 14 18 49](https://user-images.githubusercontent.com/24642899/59976235-d79b0b80-95c

[2019-06-23 12:25] NMuzaffar opened #103 "Unable to move Page to a new place"
**Reproduction**

- open pages tab in admin console
- click 'Move page' on any page

![Screenshot 2019-06-23 at 14 21 20](https://user-images.githubusercontent.com/24642899/59976302-bb4b9e80-95c2-11e9-8d31-fa5af207f324.png)

[2019-06-24 12:39] reusr1 commented on #83
thank you for the fix

[2019-06-24 12:39] #83 closed, assigned to nobody

[2019-06-25 21:25] devintuffy commented on #102
Root cause is that we are making a call to GET the new resource before the POST to change the name has returned:

![Screen Shot 2019-06-25 at 2 22 24 PM](https://user-images.githubusercontent.com/46942507/60134640-ccc4b000-9754-11e9-8e21-2887428fe8bb.png)

...probably an issue with the promise chain? Will continue to investigate..

[2019-06-25 21:44] devintuffy commented on #102
This is caused by the renamePage() method of:

apps/admin/components/assetview/template.vue

After the call to $perAdminApp.stateAction('renamePage') on line 167, we immediately make a call to $perAdminApp.stateAction('showPageInfo'), before renamePage has returned.

Will fix.

[2019-06-27 01:53] NMuzaffar opened #105 "NoSuchNodeTypeException thrown when installing base.core"
When Peregrine-CMS gets installed there is always the following error:

![Screenshot 2019-06-27 at 03 51 09](https://user-images.githubusercontent.com/24642899/60227246-f1bd3e00-988e-11e9-9c93-4e607736311c.png)

It can be resolved by putting **replication.cnd** declaration on top of other CNDs. This error disappears after that.

![Screenshot 2019-06-27 at 03 52 49](https://user-images.githubuserco

[2019-06-27 17:48] GastonGonzalez opened #106 "Site creation should create shell content package"
In order to create a site-level content backup in Peregrine, the following filters must be defined:

[code]

Ideally, a site-level content package should be created at the time a site is created to allow for easy backups.

[2019-06-28 14:10] NMuzaffar opened #109 "Changing page properties sets primaryType to nt:unstructured"
Whenever you edit Page properties through admin console, it resets Page's content primaryType **from per:PageContent to nt:unstructured**. E.g. you change the title of page

<img width="860" alt="Screenshot 2019-06-28 at 16 07 19" src="https://user-images.githubusercontent.com/24642899/60348108-31834300-99bf-11e9-8dc3-a0f6f2016620.png">

<img width="1311" alt="Screenshot 2019-06-28 at 16 07 50" sr

[2019-06-28 19:55] GastonGonzalez opened #110 "Text Component - Unordered list"
*Steps to Reproduce*

1. Create a page.
2. Drop a `Text Block` component on the page.
3. Click the unordered list button, then enter some text.

*Actual Behavior*
Unordered list bullets are not displayed. However, if you view the markup,  `<ul>` and `<li>` elements are created.

*Expected Behavior*
Unordered list bullets should be displayed.

This is blocking the creation of editorial copy for the

[2019-06-28 21:18] GastonGonzalez opened #111 "Unsaved component changes are lost if the user clicks on another component on the page"
*Overview*

This issue is critical as users will lose any work that has not been saved if they click on any other component while editing a component.

*Steps to Reproduce*

1. Edit or create a page.

2. Add at least two (2) Text Block components to the page. Note: This bug actually manifests itself with any set of components.

3. Edit the text for the first Text Block, but do not click the save b

[2019-07-03 14:52] GastonGonzalez opened #113 "Incorrect service worker defined when site uses the themeclean-flex template"
## Overview

While running a Chrome audit on https://blog.gastongonzalez.com/content/sites/gastongonzalez/2019/6/26/deploying-a-bare-metal-kubernetes-cluster-with-vagrant-and-virtualbox.html, I noticed that the service worker is misconfigured.

[code]

This demo site (https://blog.gastongonzalez.com) was created using the themeclean-flex template.

### Steps to Reproduce

1. Create a site and use

[2019-07-03 16:57] GastonGonzalez opened #114 "Add page-level support for meta tags"
# Overview

Peregrine currently only supports a limited set of HTML meta tag elements (e.g, keywords and description). Many web crawlers and social media platforms specifically look for additional metadata. When embedded on pages, these search engines and social networks will use this information to render rich media cards. These metadata elements include (but are not limited to):

1. Open Graph t

[2019-07-04 13:57] FabianHaupt opened #115 "Cant drop new Components between end and start placeholder of two container components"
When you add two container components to your page and you try to drop something between them it doesn't work. It either drops the component in the first or the second container.

[2019-07-05 15:14] GastonGonzalez commented on #114
@reusr1  - When you have some time can you take a look this PR for this ticket. Here's the [commit](https://github.com/headwirecom/peregrine-cms/commit/be38b79430ee9a03e22350c1ff958f953eb0b570). I am running into a problem in which I can add meta elements via the page properties dialog and save them, but when I visit the page properties later, the dialog UI does not render them. They are persisted

[2019-07-05 17:09] reusr1 opened #118 "move initial json request into page as a prefetch"

[2019-07-06 00:01] GastonGonzalez commented on #114
I believe there is a bug when a page property uses a collection. The tags under the page property view exhibits the same behavior as my custom meta properties collection A user can add tags and save them. They are persisted to a child node under jcr:content (i.e. `jcr:content/tags`). If the page is reload it, the UI no longer renders the tags.

[2019-07-08 16:54] GastonGonzalez commented on #113
Pleas note: I manually corrected the references in `/content/sites/gastongonzalez/serviceworker.js` and `/content/sites/gastongonzalez/manifest.json` to point to my site/tenant. This issue is no longer testable via the demo site above however, it is still reproducible if you followsthe steps above.

[2019-07-08 18:05] #118 closed, assigned to nobody

[2019-07-08 18:10] reusr1 commented on #82
this issue should be resolved in develop with https://github.com/headwirecom/peregrine-cms/commit/c744df24d3bdfd2188491994d725ef984ac78c0f

[2019-07-08 19:40] reusr1 opened #123 "support for hierarchical tags"

[2019-07-08 20:53] GastonGonzalez opened #124 "Add support for Google PageSpeed replication service"
# Overview

The [peregrine-docker-apache-explore](https://github.com/peregrine-cms/peregrine-docker-apache-explore) project provides a reference implementation for fronting a single Peregrine author instance with two Apache servers: one for live (publish) and one for stage (author). The live Apache instance uses `mod_pagespeed` as a caching layer for Peregrine. The goal of this ticket is to introd

[2019-07-08 21:19] reusr1 opened #125 "assets has issues displaying the selected tags"

[2019-07-09 06:13] flx-sta commented on #82
Issue has been resolved 👍

[2019-07-09 06:13] #82 closed, assigned to flx-sta

[2019-07-09 19:22] dna113p opened #128 "Cannot paste or directly edit color string in color picker field"
Currently the only way to edit a color field is through the dialog that pops up. We should be able to type in a specific color value.

[2019-07-09 20:42] ehdatheadwire opened #129 "Teaser Components: Button alignment naming convention inconsistent"
With both teaser horizontal and teaser vertical, the "button alignment" control is named differently between the two. Should be consistent.

Change Teaser Horizontal to match Teaser Vertical and have it say "Button Alignment."

<img width="1673" alt="Screen Shot 2019-07-09 at 3 37 50 PM" src="https://user-images.githubusercontent.com/51373617/60921443-1e466200-a260-11e9-96cd-64137b1c98d7.png">

<i

[2019-07-09 20:51] ehdatheadwire opened #130 "Teaser Horizontal: Text alignment and button alignment aren't working as expected"
In Teaser Horizontal only, toggling Button Alignment elicits no results. And Content Align only aligns the text either left or right, but doesn't relocate the buttons to either side of the text.

Steps to Reproduce:
1. Create page
2. Drag Teaser Horizontal component over to container
3. Under Align Content, select "Right"
4. Note that content realigns to the right, but buttons remain unmoved
5. Mo

[2019-07-09 20:55] ehdatheadwire opened #131 "Site/author navigational elements like breadcrumbs or folder structure"
Not a bug, just something to keep in mind for future. Some navigational elements would be helpful to those creating pages/sites on a non-developer level. E.g. breadcrumbs or node/folder visibility at left of screen (like AEM or WordPress.) Getting back to pages to edit them is clunky at the moment. Fine for small sites, but for larger content and structure-heavy sites, this will be problematic.

[2019-07-10 13:21] reusr1 commented on #131
@ehdatheadwire can you provide a screenshot/mockup of what you are envisioning?

[2019-07-10 13:22] reusr1 commented on #130
@ehdatheadwire it seems this is a themeclean-flex issue, right? should be opened in https://github.com/headwirecom/themeclean-flex

[2019-07-10 13:23] reusr1 commented on #129
@ehdatheadwire seems to be a themeclean-flex issue, please open in https://github.com/headwirecom/themeclean-flex

[2019-07-10 20:05] ehdatheadwire commented on #131
I'll mock it up -- there's no screenshot to be had. I'll balsamiq or sketch it up and attach.

[2019-07-10 20:06] ehdatheadwire commented on #130
Aye aye. I'll open it there. Thx.

[2019-07-10 20:06] #130 closed, assigned to nobody

[2019-07-10 20:08] ehdatheadwire commented on #129
Aye.

[2019-07-10 20:08] #129 closed, assigned to nobody

[2019-07-10 21:12] devintuffy commented on #103
Pull request here:  https://github.com/headwirecom/peregrine-cms/pull/132

[2019-07-10 21:13] bkheadwire opened #133 "Choosing "save edit" after canceling a component edit discards the changes anyway"
Steps to reproduce:
1. Drag a component onto the page
2. Make a change to the component in the editor
![01-edit](https://user-images.githubusercontent.com/5474176/61005264-bd309400-a31c-11e9-9aa5-759a91dca524.png)
3. Click the cancel button
![02-cancel](https://user-images.githubusercontent.com/5474176/61005280-c6216580-a31c-11e9-864b-ab83f00d1abf.png)
4. Choose "OK" on the "save edit" alerts

Exp

[2019-07-10 21:20] bkheadwire opened #134 "Leaving page editor causes last component being edited to become unselectable upon return"
Steps to reproduce:
1. Add a component to a page
2. Use the browser's "Back" button (doesn't matter where "back" actually goes)
3. Navigate back to the page edit view
4. Attempt to select/edit the component you had open

Expected result:
The component is editable

Actual result:
The component cannot be selected for editing without first clicking on another component

[2019-07-10 21:26] bkheadwire commented on #134
Updated the title to reflect the fact that it's not actually the back button that causes the issue - if you leave page edit mode in any way (e.g. by clicking "Pages" to return to the page list) and then come back, the component you last had selected won't be clickable until you select another component first.

[2019-07-11 18:06] devintuffy commented on #133
fixed in PR https://github.com/headwirecom/peregrine-cms/pull/135, will close ticket when that merges

[2019-07-11 19:18] bkheadwire opened #136 "Cannot recreate site with same name after deleting"
Steps to reproduce:
1. Create a site
2. Delete the site
3. Try to create another site with the exact same name

Expected result:
New site is created with the same name

Actual result:
Site creation fails

[2019-07-11 19:42] reusr1 commented on #134
@bkheadwire issue should be fixed in develop branch. please close once you can confirm

[2019-07-11 19:51] reusr1 commented on #73
@FabianHaupt this has been addressed in develop, if you have time, can you please verify and close this issue?

[2019-07-11 21:38] reusr1 commented on #81
@bkheadwire can you please test out this change and give your ok?

[2019-07-11 21:41] bkheadwire opened #137 "Component drop targets missing from new pages"
This broke sometime in the last day. I checked out commit 596496b9230c097a3920ce1df636df66562ad666 and built and it doesn't occur with new pages created after that (although pages created with the latest version remain broken even after rolling back and deploying).

Steps to reproduce:
1. Create a new page with the themeclean template
2. Open the page for editing

Expected result:
There should be

[2019-07-11 23:26] bkheadwire commented on #81
Tested issues/81 commit, pageView state now persists through page refreshes.

[2019-07-11 23:28] bkheadwire commented on #134
Confirmed fixed in developed.

[2019-07-11 23:28] #134 closed, assigned to nobody

[2019-07-12 12:09] #81 closed, assigned to bkheadwire

[2019-07-12 22:39] bkheadwire opened #139 "Edit panel organization and tooltips"
Right now all of the options in the component edit panel are in one big column, which makes it difficult to see which options are meant to be grouped together. It would be beneficial to have some kind of grouping system or even tabs.

It would also be good to have tooltips or inline descriptions for fields that aren't self-explanatory in what they do or what their valid values are. Things like "An

[2019-07-12 22:56] bkheadwire opened #140 "Allow some fields to have different values for each responsive breakpoint"
There are certain editable options for which it doesn't make sense to have one value set across desktop, tablet, and mobile widths, e.g. the "cards per row" option on the cards component. Having three fields for the same property is an option but seems inelegant. Maybe have an optional wrapper for form elements that adds radio buttons for choosing which view the current value should apply to?

[2019-07-12 23:24] bkheadwire opened #141 "Insert image dialog for RTE doesn't look right"
![01-insertimagedialog](https://user-images.githubusercontent.com/5474176/61163155-58626e80-a4c1-11e9-8231-2b99fad8495c.PNG)

Labels/fields for this dialog look a bit off.

[2019-07-12 23:25] bkheadwire opened #142 "UX Enhancement: Insert image dialog for RTE should allow browsing of assets"
Currently, the insert image dialog just asks for a URL and a description, which isn't very user friendly. If we're going to allow inline media insertion, the user should be able to pick that media from the assets instead of having to copy/paste URLs.

[2019-07-15 01:56] #103 closed, assigned to devintuffy

[2019-07-15 10:34] FabianHaupt commented on #73
@reusr1 I dont think it has been merged into develop yet

[2019-07-15 12:54] reusr1 commented on #73
@FabianHaupt you can check out https://github.com/headwirecom/peregrine-cms/pull/121 to see it in action pr branch https://github.com/headwirecom/peregrine-cms/tree/issue/73 - sorry

[2019-07-15 16:07] reusr1 commented on #136
workaround: go to composum and delete the site in /apps, /etc/felibs, /content/assets, /content/templates, /content/objects

[2019-07-15 16:48] reusr1 commented on #109
@bkheadwire please review if you see any other issues related to the nerge of this PR

[2019-07-15 17:00] reusr1 commented on #89
analysis: need a better way to set all possible options for a link. We should also consider noreferrer, nofollow - should there instead be a way to manage outgoing links better?

[2019-07-15 19:35] reusr1 commented on #115
@bkheadwire please review https://github.com/headwirecom/peregrine-cms/pull/144 and merge/close if the issue is solved

[2019-07-15 19:37] reusr1 commented on #110
@dna113p even after the resetCss fix for the editor the disc items dont show up - can you please look into what's going with the css here?

[2019-07-15 21:13] bkheadwire commented on #115
Confirmed issue solved, PR merged.

[2019-07-15 21:13] #115 closed, assigned to bkheadwire

[2019-07-15 22:36] bkheadwire opened #146 "Leaving page properties editor without saving after changing field appears to persist changes but doesn't"
Steps to reproduce:
1. Click the 'info' button on a page in the pages admin
2. Click the 'edit page properties' button
3. Change the text in the description field
![01-changedproperties](https://user-images.githubusercontent.com/5474176/61253673-a1f7c700-a716-11e9-9e23-3f7846477cc4.PNG)
4. Click the 'cancel edit' button
![02-fakepersist](https://user-images.githubusercontent.com/5474176/61253628-7

[2019-07-15 22:40] #109 closed, assigned to bkheadwire

[2019-07-16 08:52] FabianHaupt commented on #73
@reusr1 I checked it out and i cant delete it anymore

[2019-07-16 08:52] #73 closed, assigned to nobody

[2019-07-16 10:23] flx-sta commented on #100
Bug is fixed with PR #143

### Gif
![copy-paste-peregrine](https://user-images.githubusercontent.com/50131232/61287182-995dca00-a7c4-11e9-8952-786e99f77acf.gif)

[2019-07-16 10:23] #100 closed, assigned to nobody

[2019-07-16 11:18] flx-sta opened #148 "element with class row overflows on left and right side of editorView"
### Bug
Since merging the most recent develop version we have an issue in the editor that the components are overflowing.

### Cause
This is due to `_grid.scss:24` having a `margin-left: -15px` for some strange reasons

### Screenshots
<img width="356" alt="Screenshot 2019-07-16 at 13 15 52" src="https://user-images.githubusercontent.com/50131232/61290466-3b34e500-a7cc-11e9-9ba4-dd13aee4b374.png">

[2019-07-16 21:22] bkheadwire opened #149 "Moving an asset fails if the destination folder is entered instead of selected with the radio button"
Steps to reproduce:
1. Click on an asset on the assets page
2. Click the move button
3. Click on a folder in the path browser window (click the folder itself, not the selection radio button)
![01-insidefolder](https://user-images.githubusercontent.com/5474176/61330697-0a0ce280-a7d5-11e9-94ec-71912fdc9b73.PNG)
4. Click the select button

Expected result:
Asset is moved into the folder that was clic

[2019-07-16 21:28] bkheadwire opened #150 "Pathbrowser should make folders distinct from non-folders, allow selection by clicking on leaf node"
There are two somewhat related UX concerns with the pathbrowser. One is that every kind of node has the same icon regardless of whether it's a folder/has children or not. The other is that you can't make your path selection by clicking on the thing you want to select - you have to click the radio button for it instead. This is not a natural user interaction (compare to the OS filesystem browser -

[2019-07-16 21:34] dna113p opened #151 "Richtext copy paste bugs"
Copying from a rich text field with keyboard copies selected component.
- Select a component with a rich text field
- try to copy any text in the field using keyboard shortcuts
- try to paste that text w ctrl-v (results in a copied component on the page)

Pasting into rich text with keyboard shortcut no longer works
- Select a component with rich text
- Copy text from outside of the current page
-

[2019-07-16 21:48] dna113p opened #152 "Dialogs don't have any validation"
From: https://github.com/headwirecom/themeclean-flex/issues/42

Dialogs are not currently being validated at all. Vue-form-generator has some built in validators as well as ability to do custom validators but I don't believe we currently have any way to use those with the way we define dialogs in json.

[2019-07-17 06:58] NMuzaffar commented on #109
@reusr1 I had no access to the project during last 2 weeks, and had no means to test the fix. But it seems the bug is still unresolved. Attaching images from the same use case -> Page title change

<img width="1383" alt="Screenshot 2019-07-17 at 08 56 04" src="https://user-images.githubusercontent.com/24642899/61353806-ee571a00-a870-11e9-8eca-78af8ee3bc25.png">

<img width="1387" alt="Screenshot 2

[2019-07-17 15:37] reusr1 commented on #151
@dna113p pushed a change into develop that should fix this. please confirm and close

[2019-07-17 15:44] dna113p commented on #151
Look good now :)

[2019-07-17 15:44] #151 closed, assigned to nobody

[2019-07-18 20:58] dna113p opened #153 "Can't remove tags from page"
After adding some tags to a page from the info section, they can be removed from the info page but they still show up in page.tags

[2019-07-22 09:46] ehdatheadwire opened #155 "Component filter no longer works/does not sort components"
As authoring a page, if user wishes to display ONLY text components (e.g. Heading, Basic Text), selecting "Text Components" from the component group filter dropdown elicits no change/results.

This appears to have been a bug back in May but the filter was definitely working as recently as last week, so something has changed between now and then.

Dropbox link to issue screencast: https://www.dropb

[2019-07-22 09:53] ehdatheadwire opened #156 "Copying and pasting text into text block elicits numerous text blocks on page"
There was a bug noted with #151 that was closed recently, but this might be a different bug. Regardless, it has been happening for me since last week and continues to happen.

Steps to replicate:
1. Add basic text block to page
2. Remove placeholder text
3. Add new text via manual means (e.g. type some content in)
4. Save component/text
5. Enter component again and copy text there, and delete
6. P

[2019-07-22 19:36] bkheadwire opened #157 "Component Editor UI: Dragging a slider all the way to the right creates a horizontal scrollbar"
Steps to reproduce:
1. Add a component to a page
2. Drag the "Top Padding" slider in the component editor pane all the way to the right (or any other slider)

Expected result:
The editor pane should not change

Actual result:
A horizontal scrollbar appears at the bottom of the editor pane

![01-sliderbar](https://user-images.githubusercontent.com/5474176/61659791-3add9380-ac7d-11e9-9fc3-6693004a13

[2019-07-22 23:56] bkheadwire opened #158 "Cards component causes page bottom to get cut off"
Steps to reproduce:
1. Drag enough components onto the page to cause the vertical scrollbar to appear
2. Add the cards component to the page
3. Exit and reenter the page editor

Expected result:
Vertical scrolling should allow you to see the entire page

Actual result:
Vertical scrolling stops before the end of the page, leaving the bottom cut off

https://youtu.be/bNogYJBR20w

Note: I tried sever

[2019-07-24 09:05] FabianHaupt opened #159 "Can't disable Pathbrowser button"
You can currently set disabled or readonly for the pathbrowser. Disabled just disables the input field but you can still select and image by using the button. Readonly also disables the input field but slightly different and you can still use the button but when you select an image it just doesn't get saved.

[2019-07-25 19:03] GastonGonzalez opened #161 "VIPS renditions do not work under Linux"
# Overview

Peregrine renditions do not work under Linux. It seems that the implementation was based on the Mac homebrew installation of VIPs.

# Steps to Reproduce

1. Install VIPs under Ubuntu or use the [VIPs Dockerfile](https://github.com/bubba-h57/vips_docker_image).

[code]

2. From the command line, run:

[code]

It seems that under LInux, the thumbnail command is actually:

[code]

CC: @re

[2019-07-25 19:11] GastonGonzalez commented on #161
@schaefa - Please make any required updates in the `issue/161` branch. I updated the documentation and updated the Docker image to install VIPS.

[2019-07-26 15:25] GastonGonzalez commented on #161
@schaefa - Please hold off on this issue. It looks like libvips 8.6 supports the `vips thumbnail` plugin. Our current version of Ubuntu (18.04) is using libvips 8.4. I am looking into options for upgrading to 8.6.

[2019-07-26 16:36] #161 closed, assigned to schaefa

[2019-07-26 16:46] reusr1 commented on #159
seems in readonly we should not display the button at all

[2019-07-29 20:46] achouhans commented on #110
I will be looking into this issue now.

[2019-07-29 21:12] dna113p commented on #153
@reusr1 issues/114 branch has the fixes I added so that tags can be removed

[2019-07-29 22:52] bkheadwire opened #164 "Special characters in pasted text get mangled"
Steps to reproduce:
1. Add a teaser to a page
2. Paste in this text I borrowed from a random product launch page:

3. Save the component
4. Click on the component again
5. Cancel the component edit

Expected result:
Text should remain unchanged

Actual result:
Text turns into this:

https://youtu.be/Nd_b826oY4A

[2019-07-29 23:15] bkheadwire opened #165 "Copied components lose changed properties when pasted"
Steps to reproduce:
1. Add a "teaser primary" component to a page
2. Change some properties, e.g. title, text, background
3. Save the changes
4. Copy the teaser
5. Paste the teaser

Expected result:
The pasted teaser should look identical to the copied one

Actual result:
The pasted teaser has the default properties of the teaser primary component.

https://youtu.be/qVvD3_pKIJk

[2019-07-30 18:58] GastonGonzalez commented on #110
This appears to be fixed. Closing ticket. I can't reproduce this.

[2019-07-30 18:58] #110 closed, assigned to dna113p

[2019-07-31 15:18] reusr1 commented on #164
@bkheadwire can you check out the issues/114 branch and see if it is fixed there?

[2019-07-31 18:06] bkheadwire opened #166 "Getting to the welcome page"
There's no obvious way to get back to the welcome page (/index.html) once you're in the admin interface (/content/admin.html). There should be a link back to the welcome page somewhere in the top bar. Also, the result of clicking on the peregrine logo should always be consistent. Right now, when you're on the welcome page, it points at /. Once you're under the admin section, it brings you back to

[2019-08-02 10:52] flx-sta opened #168 "trumbowyg "remove format" not working properly"
### Bug
When I tried to use the richt-text editor "trumbowyg" i did try some stuff with "remove format".
Instead of removing the format though, It add it.

I tried to reproduce it on the official website of trumbowyg but it's working fine there.

Maybe an old version of trumbowyg?

### Video
![Screen Recording 2019-08-02 at 12 47 16](https://user-images.githubusercontent.com/50131232/62365410-5621

[2019-08-05 08:00] flx-sta commented on #86
@devintuffy any updates?

[2019-08-06 22:24] GastonGonzalez opened #175 "Docker build is not deploying all packages"
# Overview

The Docker build is producing an image with missing Peregrine packages. The following packages are missing:

1. Peregrine CMS - Example Vue - Core com.peregrine-cms.example-vue.core
2. Peregrine CMS - Platform - Replication - Core com.peregrine-cms.replication.core
3. Peregrine CMS - Platform - Node-JS - Core Script com.peregrine-cms.nodejs.scripts
4. Peregrine CMS - Platform - Node-JS

[2019-08-07 16:06] #175 closed, assigned to GastonGonzalez

[2019-08-08 21:51] dna113p opened #828 "Components with hide able content should reveal content when being edited"

[2019-08-09 16:31] dna113p opened #183 "Page tags and meta properties cannot be deleted"
Currently, the fields look for a "path" property on nodes to decide whether to send a delete command to the server, tags/meta properties do not have the path property

[2019-08-09 16:49] reusr1 commented on #183
server side is fixed. please validate if there are any remaining client side issues

[2019-08-12 15:54] #183 closed, assigned to dna113p

[2019-08-12 19:10] reusr1 opened #186 "better organization of dialogs"
dialogs get a bit to complex with to many options - it would be better to support a concept of a group and provide a better way to organize the dialogs

[2019-08-12 19:50] reusr1 commented on #186
https://github.com/headwirecom/peregrine-cms/tree/issues/186 contains a sample of using groups in the dialogs - needs better styling

[2019-08-12 20:03] reusr1 commented on #166
moved some of the links from the / page to the Tools pod on /content/admin.html as a workaround

[2019-08-19 17:43] reusr1 commented on #70
@DimitriPlotnikov this is resolved in the percli project. If you still find an issue with it please reopen the ticket on the percli project

[2019-08-19 17:43] #70 closed, assigned to reusr1

[2019-08-19 19:01] dna113p opened #188 "Pathbrowser should support filetypes"
For example, if we want to reference an asset, we should be able to limit it to video or image filetypes.

[2019-08-19 19:22] Thomas-Pelster opened #189 "Parallel asset upload"
User should be able to upload multiple assets (e.g. images) parallel.
1. User selects multiple assets
2. User starts upload
3. CMS simultaneously uploads assets and visualises individual progress of each upload

[2019-08-20 05:46] flx-sta opened #190 "template explorer-preview: no visual feedback on save/cancel"
### Description
There is not any visual Feedback when editing a templates information and clicking save or cancel.
Actually it looks like the save button does save (when checking the network tab in the dev tools) but it does not change back from the edit mode to the view mode.
The cancel button does not seem to do anything.

### Video
![template-info-no-feedback](https://user-images.githubusercont

[2019-08-20 11:55] reusr1 commented on #190
this issue is also mentioned as part of https://github.com/headwirecom/peregrine-cms/issues/146

[2019-08-20 11:58] reusr1 commented on #189
@Thomas-Pelster not sure if it helps but the asset page allows you to drag and drop multiple files from your computer directly onto the browser to trigger an upload

[2019-08-20 12:27] flx-sta commented on #190
@reusr1 should i close it then?

[2019-08-20 12:35] reusr1 commented on #188
is this not handled with https://github.com/headwirecom/peregrine-cms/pull/116 ?

[2019-08-20 12:48] reusr1 commented on #190
@Felix-Puetz let's leave it open as the other issue describes multiple issues

[2019-08-20 13:54] Thomas-Pelster opened #192 "Multiple upload of asset(s) with the same name generates error"
A user can upload one or more assets (via drap&drop) with the same name multiple times and an error occurs that is not handled.

What would be our expected behavior?
- An error with the name of the image is displayed. OR
- The user can decide via dialog whether the existing files should be overwritten. OR
- ....

[2019-08-20 14:15] dna113p commented on #188
Oh yeah looks like that is at least a start.

[2019-08-20 14:41] Thomas-Pelster commented on #189
@reusr1 Thanks for the information. Since the function is given via drap&drop we should assign this alternative way to the enhancements project.

[2019-08-20 16:03] reusr1 commented on #97
@dna113p I added the ability to override the modals from trumbowyg in the issues/97 branch - can you please hook this up to the url pathbrowser and the image browser?

[2019-08-20 19:28] reusr1 opened #194 "admin component templateview and pageview should expose same UX concepts"
pageview and templateview (editing of page level details and template level details are not consistent at the moment. They should both use the pageview UX (icons, ok to save)

[2019-08-21 07:24] flx-sta commented on #194
I was just about to write the same issue 👍

[2019-08-21 07:36] flx-sta commented on #96
you could open the side-bar in full-screen 🤷‍♂

[2019-08-21 10:12] NiklasFLuis opened #195 "Assets - Created field editable by pressing tab"
<img width="302" alt="Bildschirmfoto 2019-08-21 um 12 08 32" src="https://user-images.githubusercontent.com/51320830/63423395-80bc8180-c40c-11e9-9db3-2a409bc5ba39.png">

The *Created* field of an asset is selectable by clicking into the Title-field and then pressing 'tab'. This will open the Date-picker and if you save a date it will be displayed in the Created-field.

<img width="306" alt="Bildsc

[2019-08-21 11:58] reusr1 commented on #96
I think I fixed this already @dna113p - added the rest css property to the trumbowyg editor

[2019-08-21 12:41] flx-sta commented on #96
@reusr1 `resetCss` does not really increase the size of the editor and i think that's the issue

[2019-08-21 12:57] reusr1 commented on #96
@Felix-Puetz I don't think so - it was the fact that any h1 in the editor had such a big font a while back

[2019-08-21 13:07] flx-sta commented on #96
@reusr1 alright i misunderstood then

[2019-08-21 13:39] andreas-hauser opened #196 "Including of external javascript file for Internet Explorer"
The shim.min.js file is included from an external source (it seems to be necessary for the Peregrine editor to work under Internet Explorer):
[code]
We might want to avoid including external sources, as these could come with cookies, etc.
Would it be a good idea to provide the specific javascript file within peregrine?

[2019-08-22 10:12] flx-sta opened #199 "apiImpl js: rename methods are redundant"
all the rename method in the `apiImpl.js` file are pretty much the same (except the name)

We should always avoid duplicate code

[code]
[code]
[code]

[2019-08-22 10:14] flx-sta commented on #196
@reusr1 @GastonGonzalez @dna113p

What's your opinion on that?

[2019-08-22 10:36] reusr1 commented on #196
We can insource it for sure. Should follow the same process as all other insourcings

[2019-08-22 10:38] reusr1 commented on #199
While they work the same against sling they could work differently against another backend in the future. I am against refactoring them into a single method

[2019-08-22 11:12] flx-sta commented on #199
But isn't this the job of the api to handle it always the same in the backend?

If so we should re-think the logic we are using in the api.

[2019-08-27 00:42] bkheadwire opened #206 "'Save Changes' notification pops up even with no pending changes on some components"
Branch: feature/actionrewrite
Steps to reproduce:
1. Drag "Accordion (empty)" component onto page
2. Click on the component to open the editor
3. Cancel editing without changing anything

Expected result:
Editor should close without notifying user because nothing has been changed

Actual result:
"Do you want to save" dialog opens

Notes:
This issue is caused by the comparison at line 37 in editCom

[2019-08-27 00:51] bkheadwire opened #207 "Rename template button icon missing, rename fails"
Found this on branch feature/promptuser, but the underlying issue exists on develop.

https://www.youtube.com/watch?v=_l0K3uyf2sg

[2019-08-27 12:41] reusr1 commented on #199
I think the mistake here is more that we do not expose individual endpoints in the backend for this as the implementation of a page rename could be quite different from the implementation of an asset rename.

[2019-08-27 18:50] reusr1 commented on #155
@ehdatheadwire the issue has been addressed and will be available next time a release is deployed to your environment

[2019-08-28 09:11] flx-sta opened #208 "Insanely high number in number input breaks page"
### Bug
I was testing the number input with some edge cases and found out that using insanely high number causes the whole page to crash

### Video
[![Screen Recording](https://img.youtube.com/vi/jnqmeQ5Rbhg/0.jpg)](https://www.youtube.com/watch?v=jnqmeQ5Rbhg)
https://youtu.be/jnqmeQ5Rbhg

[2019-08-28 09:37] NiklasFLuis opened #209 "Dropping Components above or below Page-Component"
Dragging and dropping a component above or below the page-component-placeholder will cause an error in console.
`Unhandled promise rejection TypeError: "targetNodeUpdate is undefined"`

[2019-08-28 12:19] reusr1 commented on #208
@Felix-Puetz what is the json payload for the page after this edit?

[2019-08-28 13:07] flx-sta commented on #208
<img width="349" alt="Screenshot 2019-08-28 at 15 06 30" src="https://user-images.githubusercontent.com/50131232/63858323-92ba9900-c9a5-11e9-869f-91c3c7d868a4.png">

Not that much in there

[2019-08-28 13:47] flx-sta commented on #208
log file ERROR:

[code]

[2019-08-28 14:38] reusr1 commented on #208
was able to reproduce this with the themeclean breadcrumb component. for now handled there by making sure the ParseInt method handles error cases correctly (eg failing to parse). This seems to be part of a larger issue that was already logged in #152 around validation of the dialogs before submit

[2019-08-28 21:26] dna113p opened #212 "Images can become uneditble"
In themcelan or themeclean flex, editing images can cause issues where you cannot scroll to offscreen components that have an image. The resize event never fires when images get loaded on page.

[2019-09-12 19:42] reusr1 commented on #141
@bkheadwire this issue should be resolved together with #97 - please validate

[2019-09-12 19:56] reusr1 commented on #165
@schaefa this seems to be an issue in admin-base/core/src/main/java/com/peregrine/admin/servlets/InsertNodeAt.java - when creating a node through copy/paste the properties passed in the request do not get set anymore

[2019-09-12 20:25] reusr1 commented on #168
@Felix-Puetz I tried this on the trumbowyg website as well. it seems to not remove formats for paragraphs. Try this: select a text and make it a heading 1 then select the whole text and click on remove format. It does not work for me. It only removes styles but does not change html tags

[2019-09-12 20:36] reusr1 commented on #158
@bkheadwire the fix from @dna113p for lazy loading images seems to have fixed this issue as well. can you please check develop to make sure you can not reproduce this issue anymore?

[2019-09-12 20:36] schaefa commented on #165
Will check it out

[2019-09-12 20:38] #156 closed, assigned to nobody

[2019-09-12 23:56] #164 closed, assigned to bkheadwire

[2019-09-12 23:58] bkheadwire commented on #158
Can't reproduce it now either.

[2019-09-12 23:58] #158 closed, assigned to bkheadwire

[2019-09-13 00:21] schaefa commented on #165
Fixed it and pushed the changes to develop

[2019-09-13 13:19] NMuzaffar commented on #105
PR is merged:
https://github.com/headwirecom/peregrine-cms/pull/225

[2019-09-13 13:19] #105 closed, assigned to NMuzaffar

[2019-09-13 14:43] reusr1 commented on #165
@schaefa please also check for example the card component with subnodes. copy paste is not successful if a card is changed

[2019-09-13 19:22] schaefa commented on #165
Fixed the issue where properties of children are not applied to the copy's children

[2019-09-16 20:44] schaefa commented on #165
Added support for this scenario. The issue at hand is that the children in themeclean container is that the component is not given as internal component name. So the code will look for the source node by the given path and then take this as a template on creating the containers' children.

[2019-09-18 17:46] #4 closed

[2019-09-19 07:36] FabianHaupt opened #230 "Assets with spaces in their name don't work"
When you upload an asset that has one or more spaces in his name you get the following Error in your browser console and the build doesn't get displayed:
Failed to load resource: the server responded with a status of 404 (Not Found)
![Bildschirmfoto 2019-09-19 um 09 19 45](https://user-images.githubusercontent.com/50013766/65223179-e7db5d80-dac0-11e9-8236-4e5a5b2308fc.png)

[2019-09-19 07:39] FabianHaupt opened #231 "Assets with umlauts in their name don't work"
When you upload an asset that has one or more umlauts in his name you get the following Error in your browser console and the build doesn't get displayed:
Failed to load resource: the server responded with a status of 404 (Not Found)
![Bildschirmfoto 2019-09-19 um 09 20 05](https://user-images.githubusercontent.com/50013766/65223393-66d09600-dac1-11e9-8738-c143df569645.png)

[2019-09-19 13:02] reusr1 commented on #231
@schaefa seems to be a backend issue as the image gets uploaded and processed but the url to request it does not work.

[2019-09-19 13:03] reusr1 commented on #230
@schaefa seems to be related to #231

[2019-09-19 13:06] reusr1 commented on #165
@schaefa can you also push this into develop, please?

[2019-09-19 13:40] #106 closed, assigned to GastonGonzalez

[2019-09-19 13:42] reusr1 commented on #192
@schaefa while you are looking into #231 please also address this issue in the backend

[2019-09-19 13:43] reusr1 commented on #196
file is now insourced

[2019-09-19 13:43] #196 closed, assigned to nobody

[2019-09-20 17:55] schaefa commented on #230
This issue is fixed in the Rendition Servlet

[2019-09-20 18:13] schaefa commented on #231
Created a fix for it that will force a conversion of the file name if the character encoding is not in UTF-8

[2019-09-20 18:33] reusr1 commented on #231
@FabianHaupt this should be fixed in develop, please check if you have a moment and close the ticket if it's all good for you

[2019-09-20 18:33] reusr1 commented on #230
@FabianHaupt this should be fixed in develop, please check if you have a moment and close the ticket if it's all good for you

[2019-09-20 18:57] schaefa commented on #192
Added the replacement logic for already existing assets

[2019-09-20 23:28] bkheadwire commented on #46
I couldn't reproduce this. I think that since this ticket was created, we changed templates to be organized per-site so it's no longer an issue.

[2019-09-20 23:28] #46 closed, assigned to nobody

[2019-09-20 23:34] bkheadwire commented on #50
Couldn't reproduce - I went through the steps as stated and my css change showed up on the server.

[2019-09-20 23:34] #50 closed, assigned to nobody

[2019-09-20 23:40] bkheadwire commented on #71
@dna113p I see that there's a branch for this (issues/71) but it doesn't appear to have been merged. Is it done?

[2019-09-20 23:49] bkheadwire commented on #94
@reusr1 this was already semi-fixed as part of [PR #95](https://github.com/headwirecom/peregrine-cms/pull/95) - all keys are lowercased before requesting translations. However, this effectively means that anything that goes through i18n ends up coming back with whatever capitalization is in the i18n tree regardless of what it looked like initially. Thoughts?

[2019-09-20 23:50] #96 closed, assigned to nobody

[2019-09-20 23:52] bkheadwire commented on #141
Still has issues, see comments on the PR: https://github.com/headwirecom/peregrine-cms/pull/224

[2019-09-20 23:53] bkheadwire commented on #97
Still has issues, see comments on the PR: https://github.com/headwirecom/peregrine-cms/pull/224

[2019-09-20 23:59] bkheadwire commented on #133
This is now part of the [action rewrite branch](https://github.com/headwirecom/peregrine-cms/tree/feature/actionrewrite). Will be fixed whenever that is merged.

[2019-09-21 00:00] bkheadwire commented on #111
This is now part of the [action rewrite branch](https://github.com/headwirecom/peregrine-cms/tree/feature/actionrewrite). Will be fixed whenever that is merged.

[2019-09-21 00:08] bkheadwire commented on #113
Fixed: https://github.com/headwirecom/peregrine-cms/pull/178

[2019-09-21 00:08] #113 closed, assigned to reusr1

[2019-09-21 00:09] bkheadwire commented on #114
Done: https://github.com/headwirecom/peregrine-cms/pull/171

[2019-09-21 00:09] #114 closed, assigned to GastonGonzalez

[2019-09-23 16:34] reusr1 commented on #137
@bkheadwire closing as this is not reproducible anymore

[2019-09-23 16:34] #137 closed, assigned to devintuffy

[2019-09-23 16:35] reusr1 commented on #136
@bkheadwire please close as I think you resolved this issue?

[2019-09-23 16:38] #155 closed, assigned to ehdatheadwire

[2019-09-23 17:18] #136 closed, assigned to nobody

[2019-09-24 00:04] #195 closed, assigned to nobody

[2019-09-24 00:21] bkheadwire opened #233 "Assets don't show created/created by info"
Steps to reproduce:
1. Upload an asset
2. Click on the asset in the explorer and look at the info on the right side

Expected:
The "created" and "created by" fields should show a date and username, respectively

Actual:
The fields are blank
![missingdates](https://user-images.githubusercontent.com/5474176/65472061-813ea280-de26-11e9-984c-5638660ca385.PNG)

[2019-09-24 18:00] reusr1 commented on #57
this issue should be tackled in the actionrewrite branch

[2019-09-24 18:18] reusr1 commented on #146
this issue is tackled in the https://github.com/headwirecom/peregrine-cms/tree/feature/actionrewrite branch

[2019-09-24 23:41] #233 closed, assigned to bkheadwire

[2019-09-25 00:14] bkheadwire opened #236 "Add option to delete site package during site deletion"
When sites are created, we automatically create a package that includes all of the paths for that site's content and components. When sites are deleted, we don't delete those packages automatically (this is intentional - it's meant to act as a backup mechanism). We should make deleting the most recent package for that site an option when the site is deleted.

[2019-09-25 00:53] bkheadwire commented on #102
This is fixed in the feature/actionrewrite branch.

[2019-09-25 00:59] bkheadwire commented on #142
Closing this as it's effectively a duplicate of #141.

[2019-09-25 00:59] #142 closed, assigned to nobody

[2019-09-25 07:28] flx-sta commented on #168
I can confirm that.
- Should I close the issue?
- Should I create an issue in their Repo?
- Should we replace trumbowyg with another wysiwyg editor?

[2019-09-25 08:41] flx-sta commented on #94
The current fix is not a really a fix more like a workaround.

I would rethink the concept and think about using actual unique keys since this is the more common used concept

e.g:
[code]

[2019-09-25 15:38] #165 closed, assigned to schaefa

[2019-09-25 15:55] #157 closed, assigned to nobody

[2019-10-01 18:35] #149 closed, assigned to nobody

[2019-10-01 23:57] bkheadwire commented on #166
https://github.com/headwirecom/peregrine-cms/tree/issues/166

I added our "about" blurb with the github and contact links, logo, etc to a modal that you can open from the top nav so we now have everything from the welcome page accessible somewhere in the admin UI and can get rid of it if we want.

(Whether it really needs its own top-level nav item is another question - I think it probably makes t

[2019-10-02 18:20] bkheadwire opened #243 "Custom css for new site templates still references parent site"
Steps to reproduce:
1. Create a new site
2. Edit the root template for that site
3. Click on the "page start" placeholder in the template and scroll down to the site CSS files

Expected result:
Site css files under /content should point to the new site's path

Actual result:
Paths still point to parent site's css files

[2019-10-02 18:28] #194 closed, assigned to flx-sta

[2019-10-03 14:46] #243 closed, assigned to bkheadwire

[2019-10-03 16:32] dna113p opened #246 "RTE causes jumping when an image is present"
When editing text in the rich text editor with an image in the same RTE, there is sometimes a noticeable flashing effect caused by the image reloading the causing the content to jump around.

![lr2](https://user-images.githubusercontent.com/2624171/66145457-bdf56100-e5bf-11e9-9009-28b683e025d4.gif)

[2019-10-03 17:36] reusr1 commented on #57
support for blocking input on long running stateActions is now in the feature/actionrewrite branch

[2019-10-04 22:10] #125 closed, assigned to reusr1

[2019-10-04 22:20] bkheadwire opened #247 "Tags created outside /content/objects/tags are not available to use"
Steps to reproduce:
1. Go to the objects UI
2. Navigate into the folder for an individual site
3. Create a tag object
4. Go to the assets UI
5. Navigate into the folder for the same site you created the tag for
6. Select an asset and edit its properties
7. Attempt to apply the tag you created

Expected result:
The tag should be available in the dropdown to apply to the asset

Actual result:
The ta

[2019-10-04 22:34] bkheadwire opened #248 "Object explorer/creation UI lacks clarity"
The UX around objects leaves a lot to be desired. Starting from the first tab of object creation, you're presented with a list of names of object types with no information about what any of them are meant to do or how they work.

![objecttype](https://user-images.githubusercontent.com/5474176/66244046-8ec41a00-e6bb-11e9-8213-7f4b79c686df.PNG)

There's a similar lack of information on the final tab

[2019-10-04 23:17] bkheadwire opened #827 "Tags component should show display value instead of the tag name"
**Please describe the problem.**
Currently, the tags component shows the tags on the page by their names rather than their display values, which seems contrary to the purpose of having a display value in the first place.

**Describe the solution you'd like**
Display the display values for the tags instead of their names.

**Additional context**
Add any other context or screenshots about the featur

[2019-10-04 23:41] bkheadwire opened #249 "Tag selection UI only shows tag names, doesn't scale well with lots of tags"
Right now, our UI for selecting tags for a page/asset is a dropdown that flattens all the tags into a single list. It only shows their names, not their display values.

![04-list](https://user-images.githubusercontent.com/5474176/66245809-ef0b8980-e6c4-11e9-88ee-1aa7da937eb9.png)

This strategy for picking tags doesn't scale well with large numbers of tags and multiple hierarchies in the same syst

[2019-10-06 14:50] reusr1 commented on #148
@Felix-Puetz is this still happening for you?

[2019-10-06 14:58] reusr1 commented on #199
@bkheadwire can you please add endpoints for rename page, asset, object at /api/page/rename, /api/asset/rename, /api/object/rename and make sure the the apiimpl.js calls the right implementation? (also, does this path structure make sense with the rest of the api?)

[2019-10-07 06:22] flx-sta commented on #148
No.

_But we also made some changes on our side so I can't guarantee if it was fixed_
Maybe a link to the commit/pr that fixed it?

[2019-10-07 15:06] #246 closed, assigned to nobody

[2019-10-08 01:00] bkheadwire commented on #148
@Felix-Puetz looking at develop, I still see those styles on the row class, but I can't reproduce the cutoff issue. Was it happening to specific components or with particular settings on the components?

[2019-10-08 08:11] FabianHaupt commented on #246
@dna113p Could you please elaborate why this issue was closed?

[2019-10-08 08:25] FabianHaupt commented on #148
The Problem on our side existed when we put components directly in to Elements with the row class. As far as i understand the reason row uses a margin of negative 15 Pixel is that it comes from bootstrap and bootstrap intends to always have containers in rows. These container have a margin left and right of 15 Pixels so that there always is some space between them. But since they don't want the co

[2019-10-08 08:25] #148 closed, assigned to flx-sta

[2019-10-08 11:55] aaronseg opened #252 "Two trumbowyg editor with different configs dont work properly"
When adding two components with two different trumbowyg editor configurations the first component selected will overwrite the second config, when switching between the two components, without saving or closing.

![Screenvideo](https://user-images.githubusercontent.com/22643961/66393599-45cdd780-e9d3-11e9-9ae6-c6c9a197a3a6.gif)

[2019-10-08 15:00] reusr1 commented on #246
@FabianHaupt the issue only happens if you disable caching in the devtool network tab - hence it is not really a defect

[2019-10-08 16:39] #54 closed, assigned to devintuffy

[2019-10-08 16:52] reusr1 commented on #159
fix has been merged, @FabianHaupt can you please make sure this works for your use case and close it if it does?

[2019-10-08 17:38] reusr1 opened #253 "support for sitemap.xml"

[2019-10-08 18:15] bkheadwire commented on #168
Hi @Felix-Puetz, please go ahead and create an issue in their repo (or find one if it exists already) and link it here. We'll keep this ticket open with the cantfix label for now.

[2019-10-08 20:31] #199 closed, assigned to bkheadwire

[2019-10-08 20:34] #212 closed, assigned to dna113p

[2019-10-08 20:40] #209 closed, assigned to nobody

[2019-10-08 20:42] #153 closed, assigned to reusr1

[2019-10-08 20:51] #141 closed, assigned to dna113p

[2019-10-08 20:51] #97 closed, assigned to dna113p

[2019-10-08 21:24] bkheadwire commented on #231
The upload is fixed, but fetching the image with the non-ascii character in the name fails.

[2019-10-08 21:35] bkheadwire commented on #192
So to be clear, the solution that was adopted here is to simply replace the existing version without prompting/notifying the user. This addresses the actual error so I'm closing this, but we may want a future enhancement ticket to improve the UX.

[2019-10-08 21:35] #192 closed, assigned to reusr1

[2019-10-08 21:42] bkheadwire commented on #123
Addressed in PR merge for #125: https://github.com/headwirecom/peregrine-cms/pull/245.

[2019-10-08 21:42] #123 closed, assigned to reusr1

[2019-10-09 05:14] flx-sta commented on #168
Trumbowyg issue: https://github.com/Alex-D/Trumbowyg/issues/1033

[2019-10-09 05:16] flx-sta commented on #199
@bkheadwire which pull request was it?

[2019-10-09 06:04] bkheadwire commented on #199
@Felix-Puetz https://github.com/headwirecom/peregrine-cms/pull/250

[2019-10-09 06:05] bkheadwire commented on #168
Thanks!

[2019-10-09 07:20] FabianHaupt commented on #246
Ok good to know

[2019-10-09 17:03] dna113p opened #254 "Cannot remove all items from single collection or checklist"
See http://localhost:8080/content/admin/objects.html/path:/content/objects/example

Try to remove all of the items in the single collection and click okay.
The payload sent to the server shows the items successfully removed, but are re added in the response.

[2019-10-10 13:46] reusr1 commented on #252
@aaronseg this issue is due to https://github.com/headwirecom/peregrine-cms/blob/cf253e97313edd23fbe9e9cf8f9ce8379fbbdcca/admin-base/ui.apps/src/main/content/jcr_root/apps/field/texteditor/template.vue#L107 - the changes made here by metaproc to support configurations of the editor are not reflected as the editor is only created once. If you hit ok after your edit before editing the next component

[2019-10-11 20:47] bkheadwire commented on #231
Just confirmed that this is a windows issue - default property:
`file.encoding = Cp1252`

Adding
`-Dfile.encoding="UTF-8"`
to sling startup fixed the problem. Recommend adding this to percli start command.

[2019-10-12 21:07] NMuzaffar commented on #253
Hello @reusr1, can you please add some description. Currently in meta:proc fork we have SitemapServlet (adapted from AC Commons) and RobotsServlet for robots.txt. Maybe we can use that.

[2019-10-12 21:59] reusr1 commented on #253
would be interesting to see what you currently have - themeclean flex and the k8s installhandles robots.txt already but does not handle sitemap. a simple servlet would be a good first cut but would have to be evaluated for larger sites.

[2019-10-12 22:08] NMuzaffar commented on #253
* https://github.com/meta-proc/peregrine-cms/blob/metaproc-develop/platform/base/core/src/main/java/com/peregrine/seo/SitemapServlet.java

* https://github.com/meta-proc/peregrine-cms/tree/metaproc-develop/admin-base/ui.apps/src/main/content/jcr_root/perapi/admin/sitemap

Currently we create servlet node under parent page and servlet gets invoked.

<img width="728" alt="Screenshot 2019-10-13 at 00

[2019-11-04 07:13] flx-sta commented on #230
@reusr1 seems to be working perfectly fine 👍

[2019-11-04 07:13] flx-sta commented on #231
@reusr1 seems to be working perfectly fine 👍

[2019-11-08 07:20] flx-sta opened #261 ""Cannot read property 'experiences' of undefined" after first page load"
When opening the editor and trying to edit a component on the very first load of peregrine and the editor you can't press the "OK" Button because it's throwing an JS exception

<img width="606" alt="Screenshot 2019-11-08 at 08 18 46" src="https://user-images.githubusercontent.com/50131232/68457454-9fa70480-0200-11ea-9148-3f748a255c78.png">

[2019-11-08 07:25] flx-sta commented on #261
@reusr1 its just a quick fix. please merge asap

[2019-11-08 12:52] reusr1 commented on #261
done

[2019-11-08 12:52] #261 closed, assigned to nobody

[2019-11-16 15:27] reusr1 opened #271 "language selection for pages"
we'd love to provide the ability to set the language for a site structure. While https://github.com/headwirecom/peregrine-cms/pull/203 adds this feature its a bit heavy handed as it sets the language per page. This makes it hard to change the language at a later point.

Looking for input from editors on how to provide this functionality and from developers to consider all uses cases that need to b

[2019-11-17 12:07] flx-sta commented on #271
I'd say that setting per page is not completely wrong but a bit too much work if its not recursive.

So I'd say if you set the language of a page the sub-pages should inherit that language, EXCEPT they have a individual one set manually

[2019-11-17 14:43] reusr1 commented on #271
an additional way to handle this would be for example if the language is specified in the path of the page

/content/sites/mysite/en and /content/sites/mysite/de (or en_us, de_de) could serve as the language specifier

A general use case for a language switcher on the website itself driven from the language settings may be useful as well.

We should also consider the use case where we translate co

[2019-11-20 15:17] flx-sta commented on #186
@reusr1 a little screenshot/gif/video to present it would be great 👍

[2019-11-20 15:56] GastonGonzalez opened #272 "Native support for SEO and social enablement"
Native support for SEO and social enablement came up during the first Peregrine-CMS Live Community Hangout (11/20/19). What are the community's thoughts around including first class support for meta tags (e.g., Open Graph, Twitter and Facebook), microdata formats (JSON-LD and Schema.org), canonical URL support, RSS feeds, site maps, etc.?  The goal should be to provide sensible defaults for instru

[2019-11-20 16:09] reusr1 opened #273 "inline edit content"
enable inline editing in the page view

current work can be found at https://github.com/headwirecom/peregrine-cms/tree/feature/inlineedit

to enable inline edit on a component the component needs to use the attribute data-per-inline-edit="model.text" on the html element where inline editing should be enabled

current issues:
- should use the same editor as the dialog editor
- need to figure out wh

[2019-11-20 16:15] reusr1 opened #274 "default content for pages"
we started a new feature currently called boilerplate. the idea is to be able to have a couple of already authored content pages like a home page, news article page, etc that use a template and provide a couple stubbed out components on the page an author can then change

current work is at
https://github.com/headwirecom/peregrine-cms/tree/feature/boilerplate

some questions that came up during th

[2019-11-25 06:45] flx-sta commented on #274
Weren't you also looking for a better name for this feature?

[2019-11-26 07:56] flx-sta commented on #274
Also @reusr1 small gifs to present the feature would be helpful (my opinion)

[2019-11-26 07:56] flx-sta commented on #273
@reusr1 small gifs to present the feature would be helpful (my opinion)

[2019-11-26 07:58] flx-sta opened #275 "extension point"
has been mentioned in the meetup and was "teased" a couple of times.
Would love to hear more about it and receive a (lightweight) documentation of it 👍

[2019-11-27 09:22] #231 closed, assigned to reusr1, FabianHaupt

[2019-11-27 09:22] #230 closed, assigned to FabianHaupt

[2019-11-27 09:47] flx-sta opened #277 "asset upload with same name: no feedback"
Currently if you upload an asset with the same name the original one is replaced and the user gets no information.

This could lead to "angry" users and should be improved

Mentioned in #192

[2019-11-27 13:17] tsaurabh74 opened #278 "Pathbrowser hide under main section on the safari browser"
Pathbrowser hide under main section on the safari browser

![screenshot](https://user-images.githubusercontent.com/46415601/69724805-a6ab9d80-1142-11ea-9d33-bb9a07554823.png)

[2019-11-27 13:26] tsaurabh74 commented on #278
Fixed under the pull request
https://github.com/headwirecom/peregrine-cms/pull/279

[2019-11-27 19:32] reusr1 commented on #207
fixed

[2019-12-09 12:56] #278 closed, assigned to nobody

[2020-01-08 12:05] flx-sta commented on #186
@reusr1
So I've tested it by merging it properly into our branch and it seems to work fine 👍
(Except the styling, which you already mentioned)

[2020-01-14 12:26] flx-sta opened #281 "sling11: cannot open page explorer-window (404)"
Is it for you, with the current version using `slingfeature11`, possible to open the page explorer-window (click on info icon)?
On our fork it throws a `404` error..
thats due to `ComponentDefinitionServlet.java` in Line 97++

[code]

handling page-resource in the `else` block.
But pages have no `sling:resourceType`

-----------

I found what’s causing this:
So in the same file in Line 90++
[code]

[2020-01-20 15:22] schaefa commented on #281
Fixed and pushed to develop-sling11

[2020-01-20 15:22] #281 closed, assigned to schaefa

[2020-01-24 13:58] flx-sta opened #282 "you can delete templates that are used in sites/pages"
Currently it is possible to delete templates that are being used in a page/site (or multiple)

We should prevent
### Slack Log
![image](https://user-images.githubusercontent.com/50131232/73074445-f0ea9a00-3eb9-11ea-9ae2-5e375894f2cf.png)

[2020-01-24 21:10] flx-sta opened #288 "Pathbrowser moving into folder and back out -> Vue.warn"
When using the pathbrowser and you navigate around a bit
e.g (keep an eye on js-console while doing);
- You start in themeclean
- navigate back to root
- into example
- back to root -> themeclean

<img width="638" alt="Screenshot 2020-01-24 at 22 07 57" src="https://user-images.githubusercontent.com/50131232/73104148-02519780-3ef6-11ea-8f08-294e801aa4e0.png">

---------

_on develop & develop-slin

[2020-01-24 21:18] flx-sta opened #290 "example - Carousel: can't insert slides"
### Reproduction

1. open the example vuejs site in the editor
1. put the `Carousel` component somewhere on the page
1. select it  (to open the editor panel)
1. insert a slide by clicking the "+" icon at the bottom
1. click on the image-icon at the "image-source" input
1. http-status 500
<img width="661" alt="Screenshot 2020-01-24 at 22 18 09" src="https://user-images.githubusercontent.com/5013123

[2020-01-24 21:23] flx-sta opened #291 "themeclean insert element causes TypeError: Cannot read property 'parentElement' of null"
90% of the times when adding a component in themeclean an error is thrown in the js-console

<img width="430" alt="Screenshot 2020-01-24 at 22 21 40" src="https://user-images.githubusercontent.com/50131232/73104991-11394980-3ef8-11ea-86c9-9ef29023a1c2.png">

--------

_on develop & develop-sling11_

[2020-01-24 22:39] flx-sta opened #292 "docker image: unknown component <admin-components-explorerpreviewcontent/>"
Currently when using the docker-image and navigating into assets this message is showing up in the js-console and the side-panel content is not rendering.

[2020-01-27 19:55] flx-sta opened #293 "rename object says: "new name for undefined""
![image](https://user-images.githubusercontent.com/50131232/73208775-4edfe180-4147-11ea-9249-cc368202daa2.png)

[2020-01-27 19:57] flx-sta opened #294 "refactor 'populateComponentDefinitionFromNode' in apiImpl.js"
This method is way too complex/big

needs some better structuring

[2020-01-28 11:56] flx-sta opened #295 "sitemaps cache: Missing priviliges for system user "sitemaps-cache""
When enabling the sitemaps feature there is an issue right now with the privileges.

A system user "sitemaps-cache" is supposed to write the sitemap file into `var/sitemaps` but does not have the required privileges initially.

This is the initial ruling inside `/var/sitemaps`

![image](https://user-images.githubusercontent.com/50131232/73262012-8f823e00-41cd-11ea-9b4b-3f8098095f20.png)

---------

[2020-01-28 11:58] flx-sta commented on #295
@reggie7

[2020-01-28 12:08] flx-sta commented on #57
feature/actionrewrite has been merged 👍

[2020-01-28 12:08] #57 closed, assigned to reusr1

[2020-01-28 12:12] flx-sta commented on #295
@reusr1 can you assign reggie this issue?

[2020-01-28 13:45] reusr1 commented on #295
@schaefa can you please add the creation of the service user?

[2020-01-28 15:18] reggie7 commented on #295
The user gets created, but @Felix-Puetz didn't get the permisions for it on `/var/sitemps` within the deploy. It was working for me though since I've put [`rep:policy`](https://github.com/headwirecom/peregrine-cms/pull/269/files#diff-c9240cf9893363e5bb9f45f1b4bd6d57) in place...

[2020-01-29 15:49] flx-sta commented on #71
I've merged the newest develop into the issue/71 branch.
But i couldn't get the "materialchecklist" field to work at all
![image](https://user-images.githubusercontent.com/50131232/73372329-50c8b280-42b7-11ea-9053-7154e17c68ae.png)

[2020-01-29 16:13] flx-sta commented on #86
bump

I've created a new branch: [issue/86](https://github.com/headwirecom/peregrine-cms/tree/issue/86)

[2020-01-29 16:15] flx-sta commented on #89
@reusr1 I'd say we remove this checkbox for now

I mean: why provide a checkbox with no functionallity and this seems to be the wrong place to put this function in my opinion. I'd rather put checkboxes like these in the specific component that is suppoed to create a link

[2020-01-29 16:18] flx-sta commented on #94
So I came to understand thats it is actually possible to use a key-approach (based on file-names though).
Just put the key into the `i18n/de` and `i18n/en` directories

[2020-01-29 16:35] flx-sta commented on #89
I've set the default visiblity of the checkbox to `false`  in the pagebrowser component

[2020-01-29 16:35] #89 closed, assigned to nobody

[2020-01-29 16:37] flx-sta opened #297 "Translation concept"
### We should restructure/rethink/refactor the current translation concept.

[2020-01-29 16:37] flx-sta commented on #94
See #297

[2020-01-29 16:37] #94 closed, assigned to reusr1

[2020-01-29 16:38] flx-sta commented on #102
feature/actionrewrite is merged.

[2020-01-29 16:38] #102 closed, assigned to reusr1

[2020-01-29 16:38] flx-sta commented on #111
feature/actionrewrite has been merged

[2020-01-29 16:38] #111 closed, assigned to reusr1

[2020-01-29 16:39] flx-sta commented on #128
@dna113p could you provide an example component please?

[2020-01-29 16:40] flx-sta commented on #131
@ehdatheadwire any updates on the mock-up?

[2020-01-29 16:40] flx-sta commented on #133
feature/actionrewrite has been merged

[2020-01-29 16:40] #133 closed, assigned to reusr1

[2020-01-29 16:43] flx-sta commented on #139
@reusr1 wasn' there a branch for that ?
feature/186 was it I think #186

[2020-01-29 16:45] flx-sta commented on #146
@reusr1 there is no cancel button anymore... ?

[2020-01-30 02:05] ehdatheadwire commented on #131
Hi Felix! That was from last July so I’m not sure what I meant in the
original comment. I’ll take a look before the end of the week and see if I
can quickly mock something up to help you out.

On Wed, Jan 29, 2020 at 8:40 AM Felix Pütz <notifications@github.com> wrote:

--
____________________________________________

Erin Dailey
AEM Project Lead | www.headwire.com

[2020-01-30 08:24] flx-sta commented on #159
I can confirm that this works now!

- `disabled: true`: Button showing but disbaled.
- `readonly: true` Button not showing at all (but the gap that is reserved for the button is present)

[2020-01-30 08:24] #159 closed, assigned to FabianHaupt

[2020-01-30 08:26] flx-sta commented on #166
@bkheadwire I've checked this and provided german translation for it.
I'd say we close this issue and create a follow-up issue to get rid of the welcome page

[2020-01-30 08:29] flx-sta opened #298 "Get rid of the "welcome" page"
After implementing the welcome page as a modal in #166 we should get rid of the welcome page

[2020-01-30 08:56] #166 closed, assigned to nobody

[2020-01-30 08:56] flx-sta commented on #168
trumbowyg issue has been created (and denied)

[2020-01-30 08:56] #168 closed, assigned to flx-sta

[2020-01-30 09:00] flx-sta commented on #188
Image file-type support is given.
Video should be implemented: #299

[2020-01-30 09:01] flx-sta opened #299 "pathbrowser: browserType "video""
Same as the implemented `browsertype: 'image'` in the pathbrowser component we should add support for video Files (mp4, webm etc..)

[2020-01-30 09:01] #188 closed, assigned to nobody

[2020-01-30 09:03] flx-sta commented on #190
The 2 mentioned buttons dont't even exist anymore and visual feedback is now given by the new loading anmiation added by feature/actionrewrite

[2020-01-30 09:03] #190 closed, assigned to nobody

[2020-01-30 09:07] flx-sta commented on #206
@bkheadwire what accodion component are you refering too?
- themeclean?
- themeclean-flex?
- example?

[2020-01-30 09:10] flx-sta commented on #207
this works fine on devleop. no isssues there.

[2020-01-30 09:10] #207 closed, assigned to nobody

[2020-01-30 09:15] flx-sta commented on #208
The exception has been resolved.
Though components still break but no more errors in the console

[2020-01-30 09:15] #208 closed, assigned to nobody

[2020-01-30 09:17] flx-sta opened #300 "Very high number in input breaks component"
### Reproduction
- Open any page editor of a themeclean page
-  add Component `breadcrumb` to a page
-  set number of levels to something like `99999999999999999999999999999999999999999999999999999999999999`
- the number is converted by the system as seen in the Screenshot
- The component is not  renderer properly anymore

### Screenshot
![image](https://user-images.githubusercontent.com/50131232/

[2020-01-30 09:18] flx-sta commented on #208
See #300 for specification of the follow up issue

[2020-01-30 09:39] flx-sta commented on #247
we should rethink the tag concept in whole.

I think it would be better to have like a general "tags" object with a collection in it.
But i don't know what all behind the tag logic

[2020-01-30 09:42] flx-sta commented on #249
I don't know. Would be better to provide both ways

[2020-01-30 09:45] flx-sta opened #301 "Fix creating configurable trumbowyg-editors"
Currently you set your configuration once and then it can't be changed when its the default field `texteditor`. So technically right now you have to create another field called something like `texteditor-alt` or so to support another configuration.

That is due to the creation hook of the editor.

For more Details see: #252

[2020-01-30 09:46] flx-sta commented on #252
Add follow-up issue to specify the problem
#301

[2020-01-30 09:46] #252 closed, assigned to nobody

[2020-01-30 09:47] flx-sta commented on #253
Sitemap has been implemented by @reggie7 and is merged into develop.

See #269

[2020-01-30 09:47] #253 closed, assigned to nobody

[2020-01-30 09:51] flx-sta commented on #254
![image](https://user-images.githubusercontent.com/50131232/73438509-6fc65380-434e-11ea-924a-efbfec6d108a.png)

this issue is not fixed

[2020-01-30 09:51] flx-sta commented on #254
@reusr1 @bkheadwire

[2020-01-30 09:53] flx-sta commented on #272
I'd say it would be better to have it as some kind of "plugin" but it could also be implemented by default

[2020-01-30 09:54] flx-sta commented on #275
@reusr1 bump

[2020-01-30 09:55] flx-sta commented on #277
bump

[2020-01-30 10:09] flx-sta commented on #292
Has been fixed and fix has been verified by me right now

[2020-01-30 10:09] #292 closed, assigned to flx-sta

[2020-01-30 10:24] #293 closed, assigned to flx-sta

[2020-01-30 10:36] flx-sta commented on #291
This happens if no `header` component is inside the page

[2020-01-30 10:55] flx-sta commented on #291
fixed via propery vue coding with event listener

[2020-01-30 10:55] #291 closed, assigned to flx-sta

[2020-01-30 13:31] reusr1 commented on #298
the first 5 minute experience of peregrine has to be reevaluated, imho

[2020-01-30 13:34] flx-sta commented on #271
see #297

[2020-01-30 13:34] #271 closed, assigned to nobody

[2020-02-10 13:38] flx-sta opened #302 "Switch from custom state-management to vuex"
### [>Vuex<](https://vuex.vuejs.org/)
### Pros:
- Big Community
- (Fully) thought through concept
- less time wasted with problems caused by state mangement async issues
- made specifically for vuejs

### Cons:
- Will take some time to implement it

-------------------
### Please comment your opionions!

[2020-02-17 08:56] flx-sta opened #304 "Color Palettes selector for "new site""
## About
Creating a new site based on themeclean-flex should result in a palettes selector where you can choose the default palette

### themeclean-flex

https://slack-files.com/T67UM8P8F-FTZL3QG0Z-b9cf3d5cf2
![image](https://user-images.githubusercontent.com/50131232/75017345-1a80ec00-548d-11ea-82bc-a88eb530f7cc.png)

[2020-02-18 15:03] cmrockwell commented on #298
When I reinstalled Peregrine CMS, the 'Welcome' page /index.html is the one that comes with Sling. I was pretty sure something went wrong, but Home /content/admin.html works.
I was looking for the link to Peregrine's Backend Javadocs. I think this used to be on the Welcome screen,

[2020-02-25 01:57] GastonGonzalez opened #306 "Docker build fails due to missing release file in repository"
### Steps to Reproduce

1. Check out `develop` branch.
2. Change into `docker` directory.
3. Build Docker image.

[code]

[2020-02-25 02:49] GastonGonzalez commented on #306
Upgraded Ubuntu release/package pinning for vips. We are using Disco Dingo now instead of Cosmic Cuttlefish. The build no longer fails on the apt section of the build.

[code]

CC: @reusr1

[2020-02-25 03:17] GastonGonzalez commented on #306
The branch for this issue (`issue/306`) has been merged to `develop`. Travis CI build #674 was successful: https://travis-ci.org/headwirecom/peregrine-cms/builds/654716013?utm_medium=notification&utm_source=github_status

I confirmed that the `latest` and `develop` tags were updated in DockerHub following the Travis CI build. The following was used to test the image.

1. Remove the local image and

[2020-02-25 03:17] #306 closed, assigned to GastonGonzalez

[2020-02-25 16:41] GastonGonzalez opened #308 "Peregrine pod fails to start Java process on GKE"
The `develop-sling11` works as expected on GKE. However, the Peregrine pod does not start up correctly from the `develop` branch when deployed to GKE.

[2020-02-25 20:21] GastonGonzalez commented on #308
A proposed fix has been deployed to DockerHub with this Travis CI build #676: https://travis-ci.org/headwirecom/peregrine-cms/builds/654997234

[2020-02-25 22:27] GastonGonzalez commented on #308
After deploying this Docker image to GKE, the pod failed to start Peregrine. This issue came up last year and was resolved in the Sling 11 Docker image.

The issue is as follows:
1. GKE uses a non-standard OS version that includes a trailing plus (`+`) character.
[code]
2. There is a bug in Sling 9 in the parsing of the OS version when it encounters the plus sign.

[code]

We are not in a position

[2020-02-25 23:23] GastonGonzalez commented on #308
It looks like https://github.com/headwirecom/percli/blob/master/lib/tasks.js may be a good place to investigate a method for injecting the `os.version` property.

[2020-02-26 14:02] flx-sta opened #310 "new name for "boilerplate" feature (POLL)"
### Instructions

**Please put thumup on your favorite choice**

[2020-02-26 14:02] flx-sta commented on #310
prototype

[2020-02-26 14:03] flx-sta commented on #310
Stock

[2020-02-26 14:03] flx-sta commented on #310
blueprint

[2020-02-26 14:03] flx-sta commented on #310
skeleton

[2020-02-26 14:05] Felix-Puetz commented on #310
### END OF POLL

[2020-02-26 17:57] GastonGonzalez commented on #308
After merging the `issues/308` PR, I confirmed that the `os.version` property is getting passed and used during the Docker build. The following output was captured from Travis build #680 (https://travis-ci.org/headwirecom/peregrine-cms/builds/655461900)

[code]

[2020-02-26 18:04] GastonGonzalez commented on #308
I confirmed that GKE pod now starts Sling 9 correctly when deployed via helm.

[code]

[2020-02-26 18:09] #308 closed, assigned to GastonGonzalez

[2020-02-26 18:09] GastonGonzalez commented on #308
Confirmed fixed.

[2020-03-02 20:12] cmrockwell opened #313 "Rename Function"
# Feature: Rename Function

## Scenario: Pages Interface
Given I am a site admin
And I want to rename a page located under the `pages-admin` page
When I select the page currently called `current-name`
And clink the **Rename Page** icon
Then an Alert window opens containing two fields: Name (required) and Title (optional)
Given I enter a `New Name` in the name prompt and leave title blank
Then the

[2020-03-03 16:03] cmrockwell opened #315 "percli for a publish instance"
The following does not seem to work for me
`percli server install --publish`
`percli server install --publish --port 8180`

In both cases it fails to upload the peregrine-cms packages, and tries to use 8080
<img width="1467" alt="Screen Shot 2020-03-03 at 10 57 50 AM" src="https://user-images.githubusercontent.com/1811207/75794246-83dee580-5d3e-11ea-8807-ca9f74736e20.png">

[2020-03-03 16:48] #315 closed, assigned to nobody

[2020-03-03 16:48] cmrockwell commented on #315
Opened issue against wrong project.
Closed to https://github.com/headwirecom/percli/issues/10

[2020-03-08 20:41] cmrockwell opened #321 "NPE happens when pages are replicated"
As I work on replication, I'm finding a common problem with pages that I replicate. Rendering breaks (white page) and an error is printed on author and publish instances. It happens whether the default replication is remote or local; other replication options were not tested

**Note;** The problem seems to be related to `nt:unstructured` nodes under jcr:content having the `jcr:mixinTypes=per:Repli

[2020-03-09 15:24] flx-sta commented on #310
The Winner is:

Skeleton (-pages)

------------------------------

![image](https://user-images.githubusercontent.com/50131232/76229378-61f3d000-6222-11ea-9c9f-d7d178e76663.png)

[2020-03-09 15:24] #310 closed, assigned to nobody

[2020-03-09 19:46] cmrockwell commented on #321
Aside from deleting the property `jcr:mixinTypes=per:Replication` another way to resolve the error and rendering problem is to add `sling:resourceType=themecleanflex/components/container` which as the screenshot shows is missing

[2020-03-09 20:09] cmrockwell commented on #321
Given I create a new page using the theme-clean-flex `base-page` template
And then open the new page in the page editor
And I add a container-block inside the main container
Then the parent container should have a sling:resourceType (but it does not)

<img width="1336" alt="Screen Shot 2020-03-09 at 4 06 50 PM" src="https://user-images.githubusercontent.com/1811207/76253103-6919de80-6220-11ea-850e

[2020-03-09 21:22] reusr1 commented on #321
@cmrockwell @schaefa I think there is a defect that the sling:resourceType for non existing parent nodes are not copied over from the template at this point

[2020-03-09 21:23] reusr1 commented on #274
issue was addressed in PR 305 (https://github.com/headwirecom/peregrine-cms/pull/305) and was renamed to skeleton-pages

[2020-03-09 21:23] #274 closed, assigned to nobody

[2020-03-11 14:05] cmrockwell commented on #321
@reusr1 @schaefa I was thinking about that yesterday, but it doesn't seem correct to copy resources and properties from templates to the pages; given that template components are merged in with page components. Maybe just copying the resourceType for template containers would be enough?

Another option would be to investigate why `jcr:mixinTypes=per:Replication`  are added on every singe node. Wha

[2020-03-11 15:41] reusr1 commented on #321
@cmrockwell was able to reproduce the issue, will dig into it deeper

[2020-03-19 23:08] GastonGonzalez opened #322 "Add support pre-authentication using Apache"
For Peregrine instances running behind a reverse proxy (i.e. Apache HTTPD + mod_proxy) there may be a worthwhile use case that allows the web tier to perform user authentication and authorization. For example, a module such as [mod_auth_openidc](https://github.com/zmartzone/mod_auth_openidc) can be deployed to Apache HTTPD and perform the actual OpenID Connect authentication, then forward the auth

[2020-03-19 23:14] GastonGonzalez commented on #322
An initial branch (issue/332) has been created that includes a version of the Sling9 launchpad with an External Header Login Module. Note: Since this is still in early development, a local Maven build is required for the External Header Login Module (See https://github.com/peregrine-cms/peregrinecms-com-peregrine-sling-auth-header).

[2020-03-25 20:46] flx-sta opened #325 "landing page translation "scope" wrong"
![image](https://user-images.githubusercontent.com/50131232/77583723-d8125b00-6ee1-11ea-9f29-ee7c232614f9.png)
[code]

all over the place

[2020-03-25 20:54] flx-sta opened #326 "translation issue in (sub-)path"
![image](https://user-images.githubusercontent.com/50131232/77584480-283ded00-6ee3-11ea-84d9-099ee953cb07.png)

[2020-03-25 20:56] flx-sta opened #327 "javadocs link ends in "404""
![image](https://user-images.githubusercontent.com/50131232/77584672-82d74900-6ee3-11ea-8a25-50b671f6de31.png)

[2020-03-25 21:00] flx-sta opened #328 "pathbrowser should show what you are moving (if moving)"
Currently when moving a page you cannot see in the pathbrowser what you chose to move.. it think that inconvinient

![image](https://user-images.githubusercontent.com/50131232/77584940-f7aa8300-6ee3-11ea-9214-0666e7765834.png)

[2020-03-25 21:01] flx-sta opened #329 "make "website" link in about us open in new tab/window"
![image](https://user-images.githubusercontent.com/50131232/77585068-2cb6d580-6ee4-11ea-95d9-3001fa2df412.png)

this link currenly overrides the current url which is kinda inconvinient

[2020-03-25 21:04] flx-sta opened #330 "rename object throws error: "TypeError: currNode.split is not a function""
![image](https://user-images.githubusercontent.com/50131232/77585282-84554100-6ee4-11ea-99cc-66d8039aa497.png)

[2020-03-25 21:07] flx-sta opened #331 "help menu item should never be not shown"
the "help" icon is sometimes not rendered.

Probably because some conditions for it are not `true` but this makes the menu-length very inconsistent.

A simple disabled with some styling that makes it look disabled should work

[2020-03-25 21:15] flx-sta opened #332 "assets links to objects or switching from object to assets doesnt update path"
this seems to happen after creating a new folder in objects and then switching to assets

very weired behaviour

[2020-03-25 21:37] flx-sta opened #333 "themeclean-flex not showing as site-template nor as a tenant"
after uploading themeclean-flex it's not showing up anywhere anymore

[2020-03-25 21:52] flx-sta opened #334 "themeclean - article media - mediatype image - "Cannot read property 0 of null""
![image](https://user-images.githubusercontent.com/50131232/77589033-46a7e680-6eeb-11ea-9870-b0463c92deb0.png)

[2020-03-25 21:58] flx-sta opened #335 "themeclean - article media- image source - "Reference Error getBasePath is not defined""
![image](https://user-images.githubusercontent.com/50131232/77589561-2dec0080-6eec-11ea-8a14-ab7fac594c7a.png)

[2020-03-25 22:00] flx-sta opened #336 "themeclean - article media- Overlay - 404 (Not Found)"
GET http://localhost:8080/content/asdfg/pages/null

![image](https://user-images.githubusercontent.com/50131232/77589702-79061380-6eec-11ea-9916-e372d08bc8ab.png)

[2020-03-25 22:02] flx-sta opened #337 "Deleting component still gives "Save Page Edit?" prompt"
When deleting a component and you did changes before you still the the "Save Page Edit?
Would you like to save your page edits?" prompt which is kinda out of place

[2020-03-25 22:03] flx-sta opened #338 "themeclean - article pager - onAdd -"Update with Form request to undefined failed"
![image](https://user-images.githubusercontent.com/50131232/77589875-c97d7100-6eec-11ea-9e23-7c586a35cb8f.png)

[2020-03-25 22:04] flx-sta opened #339 "themeclean - Adding image in RTE throws 404: Not Found"
![image](https://user-images.githubusercontent.com/50131232/77589976-fb8ed300-6eec-11ea-8526-75171915cd84.png)

[2020-03-25 22:06] flx-sta opened #340 "themeclean - breadcrumbs - onAdd - "Update with Form request to undefined failed""
![image](https://user-images.githubusercontent.com/50131232/77590119-4dcff400-6eed-11ea-9898-43960484fc73.png)

[2020-03-25 22:16] flx-sta opened #341 "create new site (tenant) button is still available on "pages""
![image](https://user-images.githubusercontent.com/50131232/77590708-a6ec5780-6eee-11ea-8b58-9d3088b14c82.png)

[2020-03-25 22:17] flx-sta opened #342 "Tenant name cannot be changed"
There is no option to change the name of the tenant

[2020-03-25 22:20] Felix-Puetz commented on #332
this seems to happen after creating a new folder in objects and then switching to assets

[2020-03-25 22:23] flx-sta opened #343 "<tenant> -> Tools -> JCR Query Tool link wrong"
For me it linked to "objects" but maybe that was just the previously visited link that was chosen

![image](https://user-images.githubusercontent.com/50131232/77591117-9688ac80-6eef-11ea-93c7-f9c1fcfcff30.png)

[2020-03-25 22:28] flx-sta opened #344 "references are not recognized"
![image](https://user-images.githubusercontent.com/50131232/77591453-478f4700-6ef0-11ea-8a94-cd5eb91e780f.png)
![image](https://user-images.githubusercontent.com/50131232/77591468-4f4eeb80-6ef0-11ea-8c51-9699058eb62e.png)

[2020-03-25 22:29] flx-sta opened #345 "rename asset throws "TypeError: currNode.split is not a function""
![image](https://user-images.githubusercontent.com/50131232/77591517-6392e880-6ef0-11ea-93db-b8bab8b53b6e.png)

[2020-03-25 22:35] flx-sta opened #346 "link to root in sub-path breadcrumbs missing"
We should give a link to the root path otherwise the only option to get there is to click ".." at the very top

![image](https://user-images.githubusercontent.com/50131232/77591872-3eeb4080-6ef1-11ea-9951-9ac239637d33.png)

[2020-03-25 22:37] flx-sta opened #347 "objects created from "select" cannot be selected in explorer"
![image](https://user-images.githubusercontent.com/50131232/77592052-9b4e6000-6ef1-11ea-83f0-b36758298002.png)

[2020-03-25 22:39] flx-sta opened #348 "publishing a page doesn't change the color of the globe anymore"
seems like this doesn't work properly anymore (Replication)

[2020-03-25 22:41] reusr1 commented on #346
@Felix-Puetz I added one more level to the pathfield, however, there seems to be a bit of a styling issue - it changes the possition a bit depending on what tool you are on. Can you please have a look at that? thank you

[2020-03-26 01:55] reusr1 commented on #343
that one is weird, works the second time you click it

[2020-03-26 01:57] reusr1 commented on #327
that is normal if the javadocs are not built into the your instance

[2020-03-26 03:44] reusr1 commented on #332
this seems to happen when the create folder wizard for objects is called. check out state/tools/assets as soon as the wizard is opened

[2020-03-26 03:48] reusr1 commented on #332
@Felix-Puetz can you please validate and close if ok?

[2020-03-26 03:53] reusr1 commented on #348
@NMuzaffar assigning to you as this seems to be more of a backend issue. when clicking the globe icon you should see the content replicated into the file system at sling/staticreplication. This seems to not work anymore. Please have a look and address the issue (note, the globe icon had issues before, it would only change color when the view was refreshed, most likely due to the time it takes to r

[2020-03-26 04:03] reusr1 commented on #347
@Felix-Puetz was not able to reproduce this issue

[2020-03-26 04:27] reusr1 commented on #345
@Felix-Puetz issue should be fixed, please validate

[2020-03-26 04:32] reusr1 commented on #344
@Felix-Puetz was not able to reproduce this issue. Your image seems to be from **themeclean**, you however are in the **abcdefg** tenant - are you looking at the right asset?

[2020-03-26 04:39] reusr1 commented on #343
bad key used for a v-for v-bind:key - should be fixed now, @Felix-Puetz please validate

[2020-03-26 04:44] reusr1 commented on #333
@Felix-Puetz themeclenflex and themeclean currently only show up as a selection to create a new site. The new UI does not allow to _play_ with the themes directly anymore unless you switch the template property on the tenant.

[2020-03-26 04:45] reusr1 commented on #331
@Felix-Puetz the help menu item is bound to the tour node on the page. If no tour node is available the help menu item is not available either. I changed it for now to always show the help menu item but disable it if there is no tour available

[2020-03-26 04:57] reusr1 commented on #335
@Felix-Puetz please validate

[2020-03-26 05:04] reusr1 commented on #330
@Felix-Puetz should be fixed, please validate

[2020-03-26 12:40] reusr1 commented on #329
trivial, fixed

[2020-03-26 12:40] #329 closed, assigned to nobody

[2020-03-26 14:45] flx-sta commented on #344
![image](https://user-images.githubusercontent.com/50131232/77659754-bdd78c00-6f78-11ea-8932-500aa7ca016b.png)

Definietly a bug @reusr1

![image](https://user-images.githubusercontent.com/50131232/77659788-c6c85d80-6f78-11ea-80c5-09da970e2d96.png)

[2020-03-27 16:30] cmrockwell opened #350 "One Click Update"
There are main reasons WordPress is so popular:
1) You don't need to be developer to use it.
2) You don't need IT to maintain it. They make updating very easy.

<img width="996" alt="Screen Shot 2020-03-27 at 12 24 14 PM" src="https://user-images.githubusercontent.com/1811207/77777424-ecf80700-7025-11ea-8010-0b08b78cacf1.png">

Please consider adding a One Click Update for Peregrine CMS from the W

[2020-03-27 16:38] flx-sta opened #351 "Highlight Active section in menu-bar"
![image](https://user-images.githubusercontent.com/50131232/77778751-c8198900-7051-11ea-87d6-28f80687c613.png)

Like this

[2020-03-27 16:46] flx-sta commented on #333
@reusr1 i know but its not showing up as an option when creating a new tenant.
Thats why I called it "site-template"

[2020-03-27 17:04] flx-sta commented on #351
@reusr1 is merged into branch issues/#93 please verify

[2020-03-27 17:19] flx-sta commented on #346
@reusr1 fixed that with flexbox
take a look at it

[2020-03-27 17:26] flx-sta commented on #347
@reusr1 i can reproduce it but can't really see why this is happening. seems to be an api issue
![image](https://user-images.githubusercontent.com/50131232/77782992-6c9ec980-7058-11ea-8e1e-de116a060cd9.png)

[2020-03-27 17:30] flx-sta commented on #326
This has been fixed by adding the root-path node at the beginning since a translation is only happening for index = 0

![image](https://user-images.githubusercontent.com/50131232/77783394-141bfc00-7059-11ea-83a0-691ca807c1d0.png)

[2020-03-27 17:33] #326 closed, assigned to flx-sta

[2020-03-27 17:51] flx-sta commented on #325
fixed by chaning to never show T[] to the user only to devs (loglevel.fine)

[2020-03-27 17:52] flx-sta commented on #325
@reusr1 please validate

[2020-03-27 20:14] reusr1 commented on #333
@Felix-Puetz that works for me - did you use the right branch of themeclean-flex? branch is feature/contentrestructure

[2020-03-27 20:38] reusr1 commented on #347
@Felix-Puetz maybe I do not follow the same steps as you do but I am not able to reproduce

[2020-03-27 20:40] reusr1 commented on #351
looks good!

[2020-03-27 20:40] #351 closed, assigned to reusr1, flx-sta

[2020-03-27 20:41] reusr1 commented on #350
@cmrockwell totally agree with you on the feature. As a first pass I however think it will be easier to add this to percli with `percli server update` as the command

[2020-03-27 20:44] reusr1 commented on #346
@Felix-Puetz did you push this change? I do not see this working on objects

[2020-03-27 20:45] reusr1 commented on #341
looks good

[2020-03-27 20:45] #341 closed, assigned to flx-sta

[2020-03-28 03:31] reusr1 commented on #325
looks good - thank you

[2020-03-28 03:31] #325 closed, assigned to reusr1, flx-sta

[2020-03-28 18:12] cmrockwell commented on #350
That would be awesome! Thanks for considering this. Do you think the project might also adopt versions on the packages sometime soon?

[2020-03-28 20:59] reusr1 commented on #350
@cmrockwell yes, semantic versioning of the packages is also in the cards. The goal of peregrine is to move away from the current starter and provide an option that is more - shall we say - cloud ready. The work on this is in progress right now.

[2020-03-28 21:00] reusr1 commented on #350
@cmrockwell I realized the option we need to update a running peregrine instance with the latest version from the download site already exists: `percli server install -e` will in fact download the latest assets and install them onto your local peregrine instance.

[2020-03-29 15:45] flx-sta commented on #347
@reusr1 you go to:

1. objects
1. click "add object" button
1. in "select template" choose "select" at the very bottom
1. give it a name
1. finish the creation
1. try to select it in explorer

[2020-03-29 15:53] flx-sta commented on #344
@NMuzaffar could you have a look at this? there seems to be an issue with searching for references with the new structure in use

[2020-03-29 17:33] NMuzaffar commented on #344
@Felix-Puetz When the new website gets created it simply copies another website's content. Hence, the reference value in this image component is from themeclean. There is no such logic to replace image path references in development either (AdminResourceHandler service). The only reference change logic is applied to Felibs files when copied. @reusr1 Shall we add some functionality to AdminResource

[2020-03-30 02:23] reusr1 commented on #344
@NMuzaffar that's not fully true - try to test with themecleanflex as it has better support for changing the urls for its references (you may want to try on develop as a comparison to see if indeed this still works in the contentrewrite branch)

[2020-03-30 06:28] flx-sta commented on #339
@reusr1 please validate

[2020-03-30 06:31] flx-sta commented on #339
The Problem was l. 121
[code]
There was some unknown `getBasePath` method in use since the `self.` in front of it was misssing:
[code]

[2020-03-30 06:32] flx-sta commented on #332
@reusr1 works perfectly fine now. could now reproduce 👍

[2020-03-30 06:32] #332 closed, assigned to flx-sta

[2020-03-30 06:35] flx-sta commented on #346
I pushed it. yeah
You can see this in commit da97840b450fc255f434c00aab498b574838b068

[2020-03-30 06:36] flx-sta commented on #330
@reusr1 works perfectly fine now 👍

[2020-03-30 06:36] #330 closed, assigned to flx-sta

[2020-03-30 06:37] flx-sta commented on #345
@reusr1 works perfectly fine now 👍

[2020-03-30 06:37] #345 closed, assigned to flx-sta

[2020-03-30 06:39] flx-sta commented on #343
@reusr1 could not reproduce 👍

[2020-03-30 06:39] #343 closed, assigned to flx-sta

[2020-03-30 06:40] flx-sta commented on #333
@reusr1 whops...

[2020-03-30 06:43] flx-sta commented on #346
Well now the sub-nav in the page-editor is wrong
![image](https://user-images.githubusercontent.com/50131232/77883021-90cdf680-7262-11ea-9939-efadb6406579.png)

[2020-03-30 06:44] flx-sta commented on #335
@reusr1 works perfectly fine now 👍

[2020-03-30 06:44] #335 closed, assigned to flx-sta

[2020-03-30 06:53] #346 closed, assigned to flx-sta

[2020-03-30 07:36] flx-sta commented on #334
This seems to be fixed.
Could not reproduce it

[2020-03-30 07:36] #334 closed, assigned to flx-sta

[2020-03-30 09:34] flx-sta commented on #328
![image](https://user-images.githubusercontent.com/50131232/77897772-69832380-727a-11ea-9c2d-c097d9d80053.png)

@reusr1 please validate (ignore that weired black gap  on the left side below the tabs, that wasnt pushed or comitted)

[2020-03-30 12:24] flx-sta commented on #340
this is a very strnage bug an i can't reproduce it 100% of the times... ill leave it for now

[2020-03-30 12:45] flx-sta commented on #337
@reusr1 please validate

[2020-03-30 12:46] #333 closed, assigned to nobody

[2020-03-30 14:42] reusr1 commented on #328
@Felix-Puetz looks good

[2020-03-30 14:42] #328 closed, assigned to reusr1

[2020-03-30 14:45] reusr1 commented on #337
works well @Felix-Puetz - thank you

[2020-03-30 14:45] #337 closed, assigned to reusr1

[2020-03-30 14:47] reusr1 commented on #339
@Felix-Puetz works like a charm - thank you

[2020-03-30 14:47] #339 closed, assigned to reusr1

[2020-03-30 15:00] reusr1 commented on #347
@Felix-Puetz closing this issue - I removed the select object type from the list as it is missing it's java model - we have to rethink the objects anyhow with this content restructure

[2020-03-30 15:00] #347 closed, assigned to reusr1

[2020-03-30 17:50] reusr1 commented on #338
@Felix-Puetz issue should be addressed, please verify

[2020-03-30 17:51] reusr1 commented on #340
@Felix-Puetz issue should be addressed, please verify. In order to reporoduce you need to clear the application cache and edit a page that does not contain the breadcrumb.

[2020-03-30 19:09] reusr1 commented on #336
@Felix-Puetz ready to review, should work in both themeclean and themecleanflex now

[2020-03-31 07:02] flx-sta commented on #336
could not reproduce in themeclean of themeclean-flex.
👍

[2020-03-31 07:02] #336 closed, assigned to flx-sta

[2020-03-31 07:03] flx-sta opened #352 "Change of tenant does not reset path"
Image you have 2 tenants:
1. tenant01
1. tenant02

tenant01 has one page with the path: [..]/pages/index/my-page/my-sub-page

If you now go back to the home-screen by clicking the peregrine icon, switch to tenant02 you go to "Pages" and you can see in the `<pathfield>` that the path cached from the tenant01 is still present although it doesn't exist in tenant02.

![image](https://user-images.githu

[2020-03-31 07:38] flx-sta opened #353 "Cannot read property 'parentElement' of null"
In the screenshot you can see the error and the code where it is thrown.
I do remember that we fixed this issue in our metaproc repository.
I'll have a look at it when I address this issue

![image](https://user-images.githubusercontent.com/50131232/77999525-1620dc00-7333-11ea-8ad8-f1bf61f54324.png)

[2020-03-31 07:43] flx-sta commented on #338
same issue as in #340
Further adressing will happen there!!

[2020-03-31 07:43] #338 closed, assigned to flx-sta

[2020-03-31 07:46] flx-sta commented on #340
@reusr1 nope.. still present

Here is what I did:

- Created a new page
- inserted the "breadcrumb" component
-- no console error there
- remove the component
- do a FULL reload (shift + control + r)
- insert breadcrumb again

![image](https://user-images.githubusercontent.com/50131232/78000078-fd64f600-7333-11ea-9d67-efa544166309.png)

[2020-03-31 09:02] NMuzaffar opened #354 "Clicking 'Edit' on website does not change the state value"
Navigating to the website by clicking 'Edit' button on target site does not change the state value

![Screenshot 2020-03-31 at 11 05 59](https://user-images.githubusercontent.com/24642899/78008684-415df800-7340-11ea-8c4f-10d496bcae8a.png)

![Screenshot 2020-03-31 at 11 08 01](https://user-images.githubusercontent.com/24642899/78008695-44f17f00-7340-11ea-9ebd-61df0aead42e.png)

[2020-03-31 09:19] NMuzaffar commented on #344
@Felix-Puetz Image references in content get changed, try Themecleanflex. @reusr1 Unfortunately, url changing does not apply to references in components (sample fragments) both for develop and our branch.

[2020-03-31 09:23] flx-sta commented on #352
@reusr1 should be fixed now.please validate

[2020-03-31 09:25] flx-sta commented on #354
This is the source of the problem
![image](https://user-images.githubusercontent.com/50131232/78010152-550a5e00-7342-11ea-8942-56c49296f649.png)

[2020-03-31 09:26] flx-sta commented on #93
### see [Project 3](https://github.com/headwirecom/peregrine-cms/projects/3)

[2020-03-31 09:26] #93 closed, assigned to reusr1, NMuzaffar, flx-sta

[2020-03-31 09:42] flx-sta commented on #354
fixed.
@reusr1 or @NMuzaffar please verify

[2020-03-31 10:20] NMuzaffar commented on #354
Fixed

[2020-03-31 10:21] #354 closed, assigned to reusr1, NMuzaffar

[2020-03-31 11:59] flx-sta commented on #353
THis fix was once already comitted but @reusr1 undid it. to fix the "formdata of undefined" bug but its still present so i reverted it (#340)

[2020-03-31 12:04] flx-sta commented on #353
@reusr1 please verify

[2020-03-31 12:13] flx-sta commented on #340
It's a bit more complex.
I've inserted multiple `<breadcrumbs>` components.
couple of them worked. You get to a certain point though where it fails but its not really obvious what is causing that.

<details>
  <summary>Screenshots</summary>

  ![image](https://user-images.githubusercontent.com/50131232/78025088-b4279d00-7359-11ea-8c83-0e1cf38ae3c5.png)

![image](https://user-images.githubuserconte

[2020-03-31 12:28] reusr1 commented on #352
@Felix-Puetz works as expected, thank you

[2020-03-31 12:28] #352 closed, assigned to reusr1

[2020-03-31 13:42] flx-sta commented on #340
1. Create a new tenant called `flex01` base on `themeclean` (i know. kinda confusing)
2. Copy the following code into the console of your browser to reproduce the error (sometimes you have to do it a couple of times):
[code]
3. investigate the problem here

[2020-03-31 13:44] flx-sta commented on #340
@NMuzaffar
@reggie7
https://github.com/headwirecom/peregrine-cms/issues/340#issuecomment-606635572
Please investiage

[2020-03-31 18:03] NMuzaffar commented on #348
* Fixed the wrong references in content -> Pull commits from **themecleanflex**
* Added small check to DefaultMapperService to use **localFS** as default, and **local** for specific paths

[2020-03-31 18:36] flx-sta opened #355 "Switch to show internal/template "tenants" (themeclean/-flex)"
![image](https://user-images.githubusercontent.com/50131232/78070544-43ee3b00-739c-11ea-9828-03b9fef06991.png)

[2020-03-31 19:26] flx-sta commented on #355
implemented.
please verify @reusr1

[2020-03-31 19:43] reusr1 commented on #355
@Felix-Puetz I think we should be able to filter by websites, templates and internal sites (maybe a dropdown or tabs may be good for that). Also make sure the colors you choose are ADA compliant (not sure if the blue text on the gray backround passes)

[2020-03-31 20:09] flx-sta commented on #355
@reusr1 please verify

[2020-04-01 13:12] reusr1 commented on #355
@Felix-Puetz we also need to make sure the login page uses ada compliant colors and looks well on mobile devices and tablets

[2020-04-01 13:13] reusr1 commented on #355
@Felix-Puetz we need to make sure the page looks ok on smaller devices and make sure the colors are ada compliant

[2020-04-01 13:14] reusr1 opened #356 "Login-Page rework"

[2020-04-01 13:32] #331 closed, assigned to nobody

[2020-04-02 08:19] flx-sta commented on #356
### Desktop
![image](https://user-images.githubusercontent.com/50131232/78225959-531fd680-74cb-11ea-8bc2-7d4e2ca1a032.png)

### Mobile
![image](https://user-images.githubusercontent.com/50131232/78226079-78ace000-74cb-11ea-9261-ed90aa8c47fb.png)

[2020-04-02 12:59] reusr1 commented on #56
I think this issue can be closed for now as themecleanflex together with mod_pagespeed provides this

[2020-04-02 12:59] #56 closed, assigned to dna113p

[2020-04-02 16:50] reusr1 opened #357 "page navigation in the page editing interface"
when editing a page we currently have to leave the editor and come back to the editor if we want to edit another page. We should add a page navigation element at the top right of the editor

![image](https://user-images.githubusercontent.com/779992/78275889-14881d00-74c7-11ea-94d7-5b6dc35e6821.png)

the dropdown should allow us to browse the page hierarchy of the site as a tree and allow for addin

[2020-04-02 16:51] reusr1 opened #358 "create page should allow to start editing the page immediately"
at the end of the create page flow we should allow the user to either go to the pages view or directly start editing the page (same applies to templates)

[2020-04-02 16:54] reusr1 opened #359 "page properties and the actions a user can take on page properties should be available while editing the page"
the area of the page editor where we expose the list of the components should allow us to also see and edit the same information currently exposed through the 'eye' icon on the /content/admin/pages/pages page (same should be applied to templates)

[2020-04-02 16:58] reusr1 commented on #60
see https://github.com/headwirecom/peregrine-cms/issues/357 - closing this issue

[2020-04-02 16:58] #60 closed, assigned to flx-sta

[2020-04-02 17:23] flx-sta opened #360 "new Navigation concept (menus etc.)"
![image](https://user-images.githubusercontent.com/50131232/78279155-65bffd00-7517-11ea-9e6b-6a738e0280b1.png)

[2020-04-02 17:24] Felix-Puetz commented on #360
![Untitled Diagram](https://user-images.githubusercontent.com/50131232/78279275-93a54180-7517-11ea-8a01-1092261cb361.png)

[2020-04-02 17:35] flx-sta commented on #359
Add tabs to the right panel "components" on the page editor view to give the option of editing page properties and perform actions like "move" "rename"

[2020-04-02 21:08] reusr1 commented on #247
tags are now implemented per tenant as a sub node called tags in the tenants objects node

[2020-04-02 21:08] #247 closed, assigned to reusr1

[2020-04-02 21:46] reusr1 commented on #206
this was due to the editor returning an empty array for some properties where the input to the form was null. Fixed the issue by treating empty array and null the same in the comparison

[2020-04-02 21:46] #206 closed, assigned to reusr1

[2020-04-03 05:29] reusr1 commented on #288
@Felix-Puetz I am not able to reproduce this issue anymore in issues/93 branch. If you can't reproduce it either I think we should close the issue

[2020-04-03 05:52] #288 closed, assigned to flx-sta

[2020-04-03 07:31] flx-sta commented on #356
TODO: remove image on left side in mobile view

[2020-04-03 11:51] flx-sta commented on #356
@reusr1 fix mobile view layout

[2020-04-03 12:13] reusr1 commented on #356
@Felix-Puetz looks good, thank you!

[2020-04-03 12:13] #356 closed, assigned to reusr1

[2020-04-03 12:36] reusr1 commented on #355
went ahead and changed the columns for small and medium screen size to 12 - seems to work well

[2020-04-03 12:36] #355 closed, assigned to reusr1

[2020-04-03 12:42] reusr1 commented on #146
there is indeed no cancel button at the bottom. the ;'cancel' is currently through the icon at the top that switches back to the view of the properties (its tooltip says cancel) - we should probably add a cancel button at the bottom of the form as well (same as in dialog editing) and introduce the same type of experience as exists for components, asking the user if he/she wants to save the changes

[2020-04-03 12:43] reusr1 commented on #359
I think this issue should also take in concsderation https://github.com/headwirecom/peregrine-cms/issues/146 - the UX between the 2 panels where page properties will be available should be consistent.

[2020-04-03 12:45] flx-sta commented on #359
okay then i have to strap out this part from the `explorerpreviewcontent` and put it into a new component to i can reuse it

[2020-04-03 15:16] flx-sta commented on #358
@reusr1  please validate

![image](https://user-images.githubusercontent.com/50131232/78376565-ceb67c00-75ce-11ea-9d9c-5644a844a24d.png)

[2020-04-06 11:57] reggie7 commented on #295
@Felix-Puetz I have checked it locally in both `issues/93` and `develop`. Works for me in there. Can you check on your side too? I ran it in a fresh instance.

[2020-04-06 11:57] #295 closed, assigned to flx-sta

[2020-04-06 17:47] reusr1 commented on #358
@Felix-Puetz thank you - this looks good!

[2020-04-06 17:47] #358 closed, assigned to reusr1

[2020-04-07 03:07] mckeehanheadwire opened #361 "Upon creating a new page, the jcr:title property of the jcr:content node is being set to "undefined""
Upon creating a new page, the jcr:title property of the jcr:content node is being set to "undefined". The title given during the page creation wizard is stored in the "title" property of the jcr:content node.

This is with the "issues/93" branch of peregrine-cms and the "feature/contentrestructure" of themeclean-flex.

The issue appears to be related to the post to /perapi/admin/createPage.json; t

[2020-04-07 12:20] flx-sta commented on #359
<details>
  <summary>@reusr1 current concept:</summary>

 ![image](https://user-images.githubusercontent.com/50131232/78668389-e184c580-78da-11ea-8a4e-9b484af02bed.png)

![image](https://user-images.githubusercontent.com/50131232/78668402-e9446a00-78da-11ea-8d8f-f6d3025552b9.png)
![image](https://user-images.githubusercontent.com/50131232/78668571-2f013280-78db-11ea-8ae6-6878c46eaf8b.png)

</detai

[2020-04-08 07:47] flx-sta commented on #359
@reusr1 I'd say you can validate the feature now 👍

[2020-04-08 09:43] flx-sta commented on #146
@reusr1 fixed. please validate

[2020-04-08 11:45] #146 closed, assigned to reusr1

[2020-04-08 11:51] reusr1 commented on #359
@Felix-Puetz looks and works well, the only thing I see is that we have to do something with the (X) in the editor:
![image](https://user-images.githubusercontent.com/779992/78781034-6a8c1300-7954-11ea-9d49-1455285bffc8.png)
and once you click it we have to make sure people can still get to the scroll bar
![image](https://user-images.githubusercontent.com/779992/78781110-90b1b300-7954-11ea-8540-e8

[2020-04-08 12:10] reusr1 commented on #359
@Felix-Puetz thank you - looks great

[2020-04-08 12:10] #359 closed, assigned to reusr1

[2020-04-08 12:10] flx-sta commented on #357
@reusr1 as we agreed: you start off with this issue

[2020-04-08 14:48] flx-sta commented on #360
First concept is live in Branch [issues/93](https://github.com/headwirecom/peregrine-cms/tree/issues/93)

![image](https://user-images.githubusercontent.com/50131232/78798036-ce482780-79b8-11ea-9385-2f3e9c1f7520.png)

[2020-04-08 18:16] reggie7 commented on #340
@Felix-Puetz @reusr1 - I am pretty sure it all boils down to the following stacktrace from running
[/content/themecleanflex/pages/library/breadcrumb/jcr:content.model.json](http://localhost:8080/content/themecleanflex/pages/library/breadcrumb/jcr:content.model.json):

[code]

It does not appear always, but quite frequently actually. And I'm running it on branch [issues/340](https://github.com/regg

[2020-04-09 10:22] reggie7 commented on #340
Fix in [PPR 363](https://github.com/headwirecom/peregrine-cms/pull/363) @Felix-Puetz @reusr1 please check.

[2020-04-09 13:10] flx-sta commented on #360
all drop-downs are implemented but still have to be styled properly

[2020-04-09 16:02] #350 closed, assigned to nobody

[2020-04-10 14:44] #313 closed, assigned to nobody

[2020-04-10 15:44] cmrockwell commented on #327
I would suggest deleting stuff that does not work and simplifying the process even if that means generating the aggregated docs as html under the parent target directory. At least there should be one reliable way to view the API. It doesn't need to be fancy.

There is maven stuff related to this javadocs bug commented out.

`<plugin>`
`<groupId>org.apache.maven.plugins</groupId>`
`<artifactId>mave

[2020-04-10 15:51] reusr1 commented on #327
@cmrockwell I have started looking into this a bit more and have been working on it but with a bit lower priority than other issues

I'd suggest we do the following:

- if you install with percli or docker the javadocs are present
- if you run a local maven build the docs are only pushed when a profile is used to do so

also see https://github.com/headwirecom/peregrine-cms/commit/75d83ededbf29b885

[2020-04-10 16:05] #321 closed, assigned to nobody

[2020-04-10 16:12] cmrockwell commented on #277
Error handling in general seems to be a problem in Peregrine CMS.

* Improper JCR permissions fail on the backend and JS blows up in many cases
* Creating an Asset with the same name (this issue)
* Creating a Site with a name already taken will have a similar error on the backend, JS error and broken UI

[2020-04-13 21:20] cmrockwell opened #365 "Restore Deleted Pages and Assets"
# Feature: Restore Deleted Pages and Assets
Background:
A critical feature for any CMS is the ability to restore deleted pages and assets. Regularly, someone in our CMS user-base accidentally deletes something, and they need support to help restore whatever was deleted.

Possible Solutions:
* Nightly AWS backups
* Scripts that execute Composum to rebuild packages
* UI that enables restoring deleti

[2020-04-14 08:00] flx-sta commented on #360
@reusr1 please validate

[2020-04-14 13:55] reusr1 commented on #360
@Felix-Puetz I like the changes, however I think we have to improve the visual on the website name (it's not clear that the tenant switcher and settings are hidden behind it)

`change tenant` should be renamed to `change website` imho

[2020-04-14 14:04] reusr1 commented on #361
@mckeehanheadwire thank you for the fix, the PR has been merged

[2020-04-14 14:04] #361 closed, assigned to mckeehanheadwire

[2020-04-14 14:26] reusr1 commented on #340
@reggie7 I was not able to reproduce this anymore after the merge :-) thank you.

[2020-04-14 14:26] #340 closed, assigned to flx-sta

[2020-04-14 14:27] reusr1 commented on #304
closing this issue as the code has been merged

[2020-04-14 14:27] #304 closed, assigned to flx-sta

[2020-04-14 14:29] reusr1 commented on #298
the welcome page has been removed/combined with the tenant selector (part of issues/93 branch)

[2020-04-14 14:29] #298 closed, assigned to nobody

[2020-04-14 14:31] reusr1 commented on #360
@Felix-Puetz changes look good to me - closing the issue - thanks :-)

[2020-04-14 14:31] #360 closed, assigned to flx-sta

[2020-04-14 18:13] reusr1 commented on #254
@Felix-Puetz if you get a couple of minutes - could you please check this out in the issues/93 branch for me? This should now work better

[2020-04-15 16:26] cmrockwell commented on #322
Hi Gaston

I tried your code, and it worked well for me. At least as far as the processes discussed in the README. We discussed pre-authenticated / SSO options a little bit in the last community hangout. SSO using header security works for some user-cases. For other use-cases an application level authentication provider may be more suitable.

Header Security
* Pros: Simpler to implement with more

[2020-04-15 17:06] cmrockwell opened #367 "Errors that break the UI"
**Improper JCR permissions failures need UI notifications**
Consider handling a scenario where the user might pace a permission error when editing a page. Currently if the user lacks write permissions, the XHR returns 500, the pages UI breaks and the user needs to refresh the browser and there is no feedback.

<img width="1070" alt="Screen Shot 2020-04-15 at 1 02 29 PM" src="https://user-images.gi

[2020-04-15 17:10] reusr1 commented on #327
@Felix-Puetz the 404 error for the javadoc page should now be gone and was replaced by how to build and push the javadocs into your local environment - feel free to improve the html :-)

[2020-04-15 18:48] cmrockwell commented on #367
With the proposed fix when replication fails, there will be notice at the bottom. If the user clicks OK, then UI remains intact. They can try again or any other operations.

<img width="1216" alt="Screen Shot 2020-04-15 at 11 46 41 AM" src="https://user-images.githubusercontent.com/1811207/79376363-0e168e00-7f28-11ea-9d2a-a547bf0dd738.png">

[2020-04-15 18:51] cmrockwell commented on #367
With the proposed fix when the user has insufficient permissions to make a change (save page edit), there will be notice about the error. They can click OK, and the UI should stay intact. The user can navigate away, click cancel or other operations.

<img width="1070" alt="Screen Shot 2020-04-15 at 2 43 41 PM" src="https://user-images.githubusercontent.com/1811207/79376495-428a4a00-7f28-11ea-8913-

[2020-04-15 19:08] cmrockwell commented on #327
@reusr1  Would it be possible for you to also post the instructions here to this ticket? Checking out and deploying the develop branch is inconvenient right now because the content restructuring. The develop branch is no longer compatible with the content in my instances. Thank you so much 👍

[2020-04-15 19:12] reusr1 commented on #327
@cmrockwell its actually in the issues/93 branch - just run `mvn site -PinstallDocs` to get the docs into your instance

[2020-04-15 19:38] cmrockwell commented on #277
Couple of thoughts about the original asset getting replaced when a new one with the same name is uploaded to the same parent.
1. Possibly the servlet could return 204 and the front-end could notify the user that it was updated.
2. If there was some way to restore trash as discussed in issues/365, then angry users would be much less likely

[2020-04-15 19:58] cmrockwell commented on #327
Thanks for instructions, Unfortunately it's not working for me. After pulling the latest issues/93 and running `mvn site -PinstallDocs` at the parent level, I get the following repeated 24 times.

[INFO] --- wcmio-content-package-maven-plugin:1.6.0:install (aggregate-install) @ parent ---
[INFO] Check bundle activation status...
[INFO] Upload and install (force) parent-1.0-SNAPSHOT.zip to http://l

[2020-04-15 20:07] cmrockwell commented on #327
Scratch that! I stopped and started using percli and upload worked via composum :-)
<img width="1070" alt="Screen Shot 2020-04-15 at 4 06 14 PM" src="https://user-images.githubusercontent.com/1811207/79383441-2c35bb80-7f33-11ea-94d8-6635a1a865fe.png">

[2020-04-16 04:46] flx-sta commented on #277
Still inconvenient. Why not used established error handling like windows ?

“Replace”
“Keep both”

Just make sure the duplicate is checked before upload, not like confluence

[2020-04-16 12:57] flx-sta commented on #71
dismissed

[2020-04-16 12:57] #71 closed, assigned to reusr1

[2020-04-16 12:58] flx-sta commented on #86
dismissed!

[2020-04-16 12:58] #86 closed, assigned to reusr1, devintuffy

[2020-04-16 13:04] reusr1 commented on #327
great! closing the issue for now

[2020-04-16 13:04] #327 closed, assigned to flx-sta

[2020-04-16 13:18] reusr1 commented on #186
@Felix-Puetz can you merge this into the issues/93 and clean up the styling a bit?

[2020-04-16 15:50] cmrockwell commented on #277
Yep. That's it. Simple and effective upfront validation.

[2020-04-19 09:44] flx-sta commented on #357
@reusr1 is this now all oiled up and ready to go for you? (verify)

[2020-04-20 05:27] flx-sta commented on #254
I've emptied the `single-collection` example and no error in the console

<img src="https://user-images.githubusercontent.com/50131232/79716880-475c4e80-82d8-11ea-8726-01a0be37a526.png" width="300"/>

just some warning:
![image](https://user-images.githubusercontent.com/50131232/79716899-5511d400-82d8-11ea-888c-5317f751ee83.png)

[2020-04-20 05:59] reusr1 commented on #357
@Felix-Puetz looks good to me except for 2 things:

1. when changing from page to page in preview mode we loose the preview
2. adding new pages as per the initial requirements is not implemented

I think we can leave the add new page item as it will be hard to implement it nicely in the tree but we have to look at the preview issues - please create a new ticket for 1) and we'll close this one

[2020-04-20 06:09] flx-sta commented on #357
@reusr1 I've tried to reproduce this issue but i could not see this issue taking effect

[2020-04-20 06:31] flx-sta opened #370 "Reloading a page in preview-mode causes the drop-targets to render"
Same behaviour when:
1. edit a page
1. change to preview-mode
2. select a different page in the tree-view (top-left)

<img src="https://user-images.githubusercontent.com/50131232/79720663-45e35400-82e1-11ea-8fc4-e5a967b1708c.png" width="600"/>

[2020-04-20 06:33] flx-sta opened #371 "Create Page button in tree-view"
As request by @reusr1 in #357 the tree-view should give the ability to create a new page

[2020-04-20 06:33] flx-sta commented on #370
As referenced in #357

[2020-04-20 06:34] flx-sta commented on #357
Both error have been documented in new issues @reusr1
Issue closed

[2020-04-20 16:49] cmrockwell commented on #367
Please add @Felix-Puetz and any others as assignee.

[2020-04-20 20:51] schaefa opened #372 "Create User / Group for a Site and Set Access to the Site"
When a Tenant is created then a Group is created under /home/groups/tenants as '<tenant>_group'. If the user creating the site is admin then a User is crated under /home/users/tenants as '<tenant>_user' and the admin can set the password. If not done then the user will become disabled.
Permissions are set on the group and limit access to just what is needed for the site.

[2020-04-20 20:55] reusr1 opened #373 "add create page/template to the lists in the explorer as the (+) button at the top right is hard to find"

[2020-04-20 20:58] reusr1 opened #374 "allow for object definitions to be created similar to templates"
- provide a form editor for object definitions
- support for object definitions without a sling model

[2020-04-20 21:56] reusr1 commented on #357
@Felix-Puetz looks like we missed implementing this correctly for the templates editor

[2020-04-20 22:09] reusr1 commented on #373
fixed in https://github.com/headwirecom/peregrine-cms/commit/679f0a544d96dd4334dd48d56123218b87339724

[2020-04-20 22:09] #373 closed, assigned to reusr1

[2020-04-21 00:09] reusr1 opened #375 "enhanced editorial experience"
define an approach for an enhanced authoring experience tailored to the contend editor

[2020-04-21 00:31] reusr1 commented on #277
@cmrockwell after merging the PR I realized there are some issues when dragging the same file again before reloading the page. Seems there are still some edge cases not handled

example:
- upload a file
- upload the file second time

however, if I reload the page between the 2 uploads this works

[2020-04-21 00:53] cmrockwell commented on #277
Ok. Thanks for letting me know. I'll take a look tomorrow.

  On Mon, Apr 20, 2020 at 8:32 PM, Ruben<notifications@github.com> wrote:

@cmrockwell after merging the PR I realized there are some issues when dragging the same file again before reloading the page. Seems there are still some edge cases not handled

example:

   - upload a file
   - upload the file second time

however, if I reload the

[2020-04-21 04:54] flx-sta commented on #357
Jup...

[2020-04-21 14:19] flx-sta commented on #357
@reusr1 now supports templates.
please validate

[2020-04-22 08:46] flx-sta commented on #186
Done @reusr1 please validate

[2020-04-22 18:42] schaefa opened #376 "Creating a Site Failure Ends in a Hung Call"
If a site creation fails at the final form (clicking 'finish') the call will hang forever.

To reproduce do:
1. Create a user
2. Take write permission away from /content for that user
3. The site creation will fail with a 500 call (NPE on AdminResourceHandlerService on copyResource(), line 1401)
4. Call hangs

[2020-04-23 12:38] reusr1 commented on #186
@Felix-Puetz thank you for merging

[2020-04-23 12:38] #186 closed, assigned to reusr1, flx-sta

[2020-04-23 12:53] reusr1 commented on #357
@Felix-Puetz we need to filter out any nodes that do not have the resourceType set to per:Page as otherwise we confuse the user (for example navigating to the robots.txt file does not work in this case).  I'd suggest we should add an array of allowed node types to the nodetreeitem component and filter against that list

[2020-04-23 14:25] reusr1 commented on #370
I fixed the original issue but now the drop targets are not rendered when navigating to another page in preview mode and then exiting the preview mode

[2020-04-23 14:37] Felix-Puetz commented on #357
@reusr1 fixed

[2020-04-23 14:38] flx-sta commented on #357
_was a bit quick there_

BUT NOW fixed

[2020-04-23 15:18] reusr1 commented on #370
fixed the remaining issue

[2020-04-23 15:18] #370 closed, assigned to reusr1

[2020-04-23 15:24] reusr1 commented on #357
@Felix-Puetz please add the list to filter by as a prop to the nodetreeitem - we should also not use v-if for this but change the list to a computed property with a filter - apparently that's better for performance in vue :-)

[2020-04-23 16:05] flx-sta opened #377 "TreeView: node.hasChildren does not include resourceType filtering"
Nodes with children but no children of type `per:Page` will show up as folder/collapsible in the treeview because `node.hasChildren` is set to `true` because there is not pre-check for the `node.resourceType`

![image](https://user-images.githubusercontent.com/50131232/80122426-d219a380-858d-11ea-8057-e747161f5523.png)

![image](https://user-images.githubusercontent.com/50131232/80122391-c62de180-

[2020-04-23 16:14] flx-sta commented on #357
@reusr1 pre-filtering is now active

and new issue has been created for the edge-case of having `hasChildren = true` but no `per:Page` children presen (#377)

[2020-04-24 16:13] schaefa opened #378 "Logging out from a User and then Log In as another User will show Old Profile"
When logging out as User A from the profile box (top right) and then log in as User B does work just fine but the profile box will still show User A

[2020-04-24 20:26] schaefa opened #379 "Rename API / backend from Site to Tenant"
Rename the Perapi as well as the Backend Servlets / Services from Site to Tenant but leave the frontend labels as is.

[2020-04-24 20:28] schaefa commented on #63
The Sling Feature Model is currently developing. That said the develop-sling11 has a version available even though it is not built on the latest.

[2020-04-27 08:53] flx-sta commented on #273
@reusr1 please add the checklist we discussed

[2020-04-27 19:09] GastonGonzalez opened #380 "og:image must be an absolute path"
**Overview**

Open Graph images are not recognized by any social media providers since a relative URL is currently used by a Peregrine.

<img width="1277" alt="Screen Shot 2020-04-27 at 12 02 23 PM" src="https://user-images.githubusercontent.com/1387966/80410389-59616280-887f-11ea-94ef-2bf524b7b0d8.png">

<img width="1241" alt="Screen Shot 2020-04-27 at 12 03 10 PM" src="https://user-images.github

[2020-04-27 21:40] reusr1 commented on #273
- make sure the selection of a component can be done programmatically using actions
- establish an inline edit state for the contentview
- use the contenteditable approach (body contenteditable, wrapper-div contenteditable=false, element to edit in component: contenteditable=true
- track movement of selection range between components and show correct right hand rail based on the component
- start

[2020-04-28 13:05] reusr1 commented on #124
this should be solved in a generic way to plug in invalidators as needed (for example if a cdn is used)

[2020-04-29 16:58] cmrockwell commented on #365
https://github.com/cmrockwell/peregrine-cms/commits/issues/365

[2020-04-30 00:49] cmrockwell commented on #365
Testing for this feature is based on Sling Junit Test Runner.

http://localhost:8080/system/sling/junit/com.peregrine.admin.slingtests.VersionsJTest.html

<img width="1419" alt="Screen Shot 2020-04-29 at 8 47 43 PM" src="https://user-images.githubusercontent.com/1811207/80660810-c5e48900-8a5a-11ea-8764-c75d7463ba51.png">

It's one of my favorite TDD tools in Sling's testing toolset.

[2020-05-04 18:21] flx-sta commented on #273
- make sure the selection of a component can be done programmatically using actions
establish an inline edit state for the contentview ✔️
- use the contenteditable approach (body contenteditable, wrapper-div contenteditable=false, element to edit in component: contenteditable=true✔️
- track movement of selection range between components and show correct right hand rail based on the component✔️
- s

[2020-05-05 04:34] reusr1 commented on #273
@Felix-Puetz please also look at the following:
- autosave when moving from one component to another in inline edit mode
- themecleanflex cards not focusing on current field
- issues with deleting all text and starting to write text again
- ctrl-a (mac command-a) support to select the text in the current content editable
- generally try to edit a larger page with themecleanflex components

- suppo

[2020-05-05 04:40] reusr1 opened #381 "add a styling toolbar to inline edit"
related to https://github.com/headwirecom/peregrine-cms/issues/273
explore the option to add a simple styling toolbar (features like the trumbowyg toolbar)

toolbar with styles should stay at top of the contentview area

example toolbar: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Editable_content

[2020-05-05 11:36] flx-sta commented on #357
@reusr1 any new info about validation?

[2020-05-05 13:13] reusr1 commented on #357
closing this issue as it works as spec'd

[2020-05-05 13:13] #357 closed, assigned to reusr1, flx-sta

[2020-05-05 13:22] Felix-Puetz commented on #273
- autosave when moving from one component to another in inline edit mode ✅
- themecleanflex cards not focusing on current field ✅
- issues with deleting all text and starting to write text again 🔲
- ctrl-a (mac command-a) support to select the text in the current content editable 🔲
- generally try to edit a larger page with themecleanflex components 🔲
- support for move with cursor keys between co

[2020-05-05 13:34] reusr1 commented on #273
- in themecleanflex add the horizontal teaser (not the example one) to the page, enable the title and try to edit the content
- drag and drop reordering of components is not supported anymore

[2020-05-05 13:38] Felix-Puetz commented on #273
- autosave when moving from one component to another in inline edit mode ✅
- themecleanflex cards not focusing on current field ✅
- issues with deleting all text and starting to write text again 🔲
- ctrl-a (mac command-a) support to select the text in the current content editable 🔲
- generally try to edit a larger page with themecleanflex components 🔲
- support for move with cursor keys between co

[2020-05-06 06:34] flx-sta commented on #273
@reusr1

[2020-05-06 06:34] flx-sta commented on #273
- autosave when moving from one component to another in inline edit mode ✅
- themecleanflex cards not focusing on current field ✅
  - (also for slow connections) ☑️
- issues with deleting all text and starting to write text again ✅
- ctrl-a (mac command-a) support to select the text in the current content editable ✅
- generally try to edit a larger page with themecleanflex components ☑️
  - _consi

[2020-05-11 06:53] flx-sta commented on #273
@reusr1 anything else related to this specific issue (not any new features)

[2020-05-11 13:34] reusr1 commented on #273
- [x] all text deleted in a content editable does not delete the text in the right rail until you start typing (using select all and then backspace or delete)
- [x] when deleting text with select-all and backspace in a content editable undo does not work (just noting this here, we may have to look at a better undo/redo strategy for page editing to allow all content edits made on a page to be undoa

[2020-05-12 07:31] flx-sta commented on #273
I've tried certain approaches and as I see it the only 100% workable way would be to implemenet a history + undo + redo ourself.
This would take way too much time though...

I've made it partially available though. It just doesn't recover the content of the header after undo

[2020-05-12 07:48] flx-sta commented on #273
I don't really have any idea how to overcome this issue.
This is caused by the conditional rendering of the inline-edit element. Since i create a clone from every inline-edit element to unhook the reactivity the clone is not influenced by the conditional rendering causing the clone to be re-created when the original is re-added conditionally.
My suggestion is to avoid behaviour like this for inlin

[2020-05-12 12:15] reusr1 commented on #273
@Felix-Puetz since there can only be one contenteditable at the given location in the dom it should be possible to at least test if we have a leftover contenteditable from before and remove that one when adding the new one

[2020-05-13 05:50] flx-sta commented on #381
There is no toolbar visible in the example.
Neither in Chrome nor in FF

[2020-05-13 06:12] flx-sta commented on #273
@reusr1 done, please verify

[2020-05-13 13:05] reusr1 commented on #381
if I grab the example code on the page I see this:
![image](https://user-images.githubusercontent.com/779992/81816091-b3009880-94df-11ea-8fa7-6e4b866b8ab4.png)

[2020-05-13 22:01] reusr1 commented on #273
@Felix-Puetz the duplication of content when clearing a content editable seems to be gone now, thank you

found another couple of issues:

- [x] clicking on a component outside of the contenteditable are of the component does not select the component anymore
- ❌  I still see an issue with cursor direction up and cursor direction down skipping a component if the component has empty content editable

[2020-05-13 22:54] smcgrath0 opened #383 "Tags component should show display value instead of the tag name"
Please describe the problem.
Currently, the tags component shows the tags on the page by their names rather than their display values, which seems contrary to the purpose of having a display value in the first place.

Describe the solution you'd like
Display the display values for the tags instead of their names.

Additional context
Add any other context or screenshots about the feature request he

[2020-05-14 07:41] flx-sta commented on #273
~~Still not able to reproduce :/~~
**Was able to reproduce**

[2020-05-15 13:57] cmrockwell commented on #365
Dashboard button
<img width="1413" alt="Screen Shot 2020-05-14 at 10 19 23 AM" src="https://user-images.githubusercontent.com/1811207/82057804-e4b96100-9691-11ea-8595-6dbf56e0d6c9.png">

Information List and Restore button
<img width="1288" alt="Screen Shot 2020-05-14 at 1 49 24 PM" src="https://user-images.githubusercontent.com/1811207/82058057-395cdc00-9692-11ea-9d9b-46ca37a61fbc.png">

Ask user

[2020-05-15 14:38] cmrockwell commented on #365
TODO

- [X] `AskUser` has incorrect name (using parent’s name instead)
The prompt now uses the path of the item instead of the name
- [x] Delete Forever not implemented
- [x] Proper Recycle Bin set up when a a New Site is created
- [x] Investigate tar compaction and maintenance considerations
- [x] Show recently deleted first (order by)
- [X] ACL error scenario
Added back-end handling to check use

[2020-05-18 14:27] flx-sta commented on #273
- [x] suddenly appearing gap if the newly selected component is out of screen

- [x]  empty inline-edits (e.g. jumbotrons) are skipped when using arrow-keys

- [x] Changes made on the right-panel are not reactive anyore since the clones only are displayed

- [x] `Ctrl` + `Shift` + `ARROW_KEY` does not support the default behaviour

- [x]  the javascript:void(0) seems to have issues while editing r

[2020-05-18 18:53] reusr1 commented on #273
- [ ] the javascript:void(0) seems to have issues while editing rich text components - the href of a elements does not get replaced back when saving components

[2020-05-18 22:49] reusr1 opened #390 "assets reference list fails to render nicely"
![image](https://user-images.githubusercontent.com/779992/82266641-12670a00-991f-11ea-91c5-1974b8432e81.png)

should render better, have tooltip on the url to see the full path and needs scrollbar if more pages use the same asset. It may be a good idea to use ... on the left side of the path as the urls usually differ the most to the right

[2020-05-19 10:03] Felix-Puetz commented on #273
Even if I disable the current `ARROW_KEY` event by adding `if (... && !event.shiftKey)` the behaviour is still present. It seems to be a defautl behaviour of the browser. I'd have to overwrite the default behaviour then
@reusr1 FYI

[2020-05-19 11:43] reusr1 commented on #273
@Felix-Puetz dont think so as this works fine on https://jsfiddle.net/d9fxos4y/1/

[2020-05-22 12:39] reusr1 commented on #273
@Felix-Puetz I think we should close this ticket but hold off on the merge until https://github.com/headwirecom/peregrine-cms/issues/381 is complete

[2020-05-22 13:19] #273 closed, assigned to reusr1

[2020-05-22 15:45] #322 closed, assigned to reusr1, GastonGonzalez

[2020-05-22 17:31] reusr1 opened #392 "backup/restore of tenants with users"
since we now have tenants and users in the issues/93 branch we also need to update the backup/restore flow to support the backup of the users/groups for a tenant. We should allow for backup with or without users/groups and restore accordingly. We also have to evaluate the impact on security for such a backup

please first provide a proposal on how we want to handle this and ask for the peregrine c

[2020-05-26 06:21] flx-sta commented on #381
@reusr1 i've added the toolbar to the submenu on the left side (moved the pagtree to the right)

Question is: should it also include the fomatting/ font / size / color / bg dropdowns?
or are just the buttons good?
Because the dropdowns are hard to fit in with the given size of the subnav
![image](https://user-images.githubusercontent.com/50131232/82866815-e9033b00-9f29-11ea-8acb-9e1f21ed07a1.png)

[2020-05-26 12:32] reusr1 commented on #381
it should - maybe if we move the screen size selector and the preview mode buttons into the toolbar as well (first items) we would have enough space.

also, we need to hook up link (and image) correctly and make sure the toolbar reflects the current style of the selection or where the cursor is.

[2020-05-26 19:45] schaefa commented on #392
I will start with clamping down the access to tenant artifacts by other tenants:
- /apps/<tenant>
- /etc/felibs/<tenant>
- /etc/packages/<tenant>
This should prevent the ability of another tenant to download a backup package from another tenant

[2020-05-27 19:01] cmrockwell commented on #365
Added a button and action to remove items from the Recycle Bin (Delete Forever)
<img width="1279" alt="Screen Shot 2020-05-27 at 2 14 03 PM" src="https://user-images.githubusercontent.com/1811207/83061456-feac5980-a02a-11ea-8d40-268e000a75c7.png">

[2020-05-27 19:18] cmrockwell commented on #365
Revision and Compaction Study and considerations

**Procedure**

1. Ran a query and determined total number of before results (10,276)
`SELECT * FROM [nt:frozenNode] as n WHERE ISDESCENDANTNODE ([/jcr:system/jcr:versionStorage])`
2. Used **jconsole** from the command jconsole to launch the JMX GUI
Selected the Peregrine CMS instance running locally
Open the `SegmentRevisionGarbageCollection` and e

[2020-05-27 22:59] reusr1 opened #396 "og properties in the head section of the page are not updated when navigating from page to page"
### to reproduce
- create 2 pages linking to each other
- configure the og:title for each page
- go to page 1
- click on link to page 2
- inspect the html dom

og:title for page 2 should be what was set for page 2

### actual
og:title is still the value set for page 1

### how to address
the og props are missing from the PageModel and should be update in the head section of the html the same way a

[2020-05-27 23:10] reusr1 opened #397 "open link from main navigation in new tab does not initialize the tenant correctly"
### steps

- go to a site in the peregrine admin interface
- right click on one of the main navigation pillars, open in new tab

### expected
able to continue working with peregrine

### actual
tenant state is not set correctly and falls back to admin

### how to address
we should make deep links and sharing urls of peregrine generally make it so peregrine work in a fresh browser tab

- http://loc

[2020-05-29 20:08] smcgrath0 opened #398 "Pages list of use cases"
Similar to asset list of references found under assets tab
![image](https://user-images.githubusercontent.com/49845255/83300789-802bf500-a1ad-11ea-944b-fd42c32dbe3a.png)

[2020-05-29 20:10] smcgrath0 opened #399 "Templates list of references"
Similar to asset references' list
![image](https://user-images.githubusercontent.com/49845255/83300991-cb460800-a1ad-11ea-83ee-4bd52a5bf7ac.png)

[2020-05-29 20:11] smcgrath0 opened #400 "Objects list of references"
Similar to asset references list
![image](https://user-images.githubusercontent.com/49845255/83301100-e44eb900-a1ad-11ea-8b62-a67aa6fa3b48.png)

[2020-06-02 19:01] GastonGonzalez commented on #383
`issues/383` has been merged for both projects: peregrine-cms and themeclean-flex.

<img width="1678" alt="Screen Shot 2020-06-02 at 11 53 00 AM" src="https://user-images.githubusercontent.com/1387966/83558974-b2e52e80-a4c8-11ea-8978-5bcc77b0f3ea.png">

[2020-06-02 19:01] #383 closed, assigned to nobody

[2020-06-02 20:26] GastonGonzalez commented on #390
This issue has been reviewed and merged. Per my comment in the PR, it may make sense to clean up the experience further and add support for collapsing duplicate references and rendering a count next to the referenced path.

![Screen Shot 2020-06-02 at 1 18 34 PM](https://user-images.githubusercontent.com/1387966/83566266-98b14d80-a4d4-11ea-83bc-856f226cd9cf.png)

[2020-06-02 20:26] #390 closed, assigned to smcgrath0

[2020-06-02 20:39] GastonGonzalez commented on #400
@smcgrath0 - Please add steps to reproduce this issue.

[2020-06-02 21:16] flx-sta commented on #381
- [x] merge viewport & preview button into Toolbar
- [x] always visible but disabled
- [x] Image Modal equivalent to the current trumbowyg implementation
- [x] linking Modal equivalent to the current trumbowyg implementation
- [x] only enable`viewport` and `preview` button when in preivew mode
- [x] move`viewport` and `preview` button to the left
- [x] remove trumbowyg (Make ppl use the toolbar on

[2020-06-03 17:15] GastonGonzalez commented on #400
Confirmed issue resolved. Merged to develop.

[2020-06-03 17:15] #400 closed, assigned to nobody

[2020-06-03 18:08] smcgrath0 opened #409 "Renaming objects and pages only changes paths, not names"
Assets and template renames seem to work, not objects and pages
![image](https://user-images.githubusercontent.com/49845255/83671716-03709080-a58a-11ea-8be5-a2767acc33a7.png)
Steps to reproduce:
#1 go into themeclean-flex and under the pages tab selecta a page
#2 click actions tab on explorer-preview
#3 try to rename the page, and go back to info tab; name will not be changed

Same thing happens w

[2020-06-03 19:01] smcgrath0 opened #411 "collapse the references to show only unique values with a count"
<img width="1203" alt="Screen Shot 2020-06-03 at 12 00 38 PM" src="https://user-images.githubusercontent.com/49845255/83677996-d9bb6780-a591-11ea-911b-930125761541.png">

This should work for assets/pages/templates/objects

[2020-06-03 19:18] GastonGonzalez commented on #398
Confirmed fixed. Merged to develop.

[2020-06-03 19:18] #398 closed, assigned to nobody

[2020-06-05 17:16] GastonGonzalez commented on #411
Closing this issue. It was handled in PR #408

[2020-06-05 17:16] #411 closed, assigned to smcgrath0

[2020-06-05 17:17] GastonGonzalez commented on #399
Confirmed resolved with PR #408. This is now merged into develop.

[2020-06-05 17:17] #399 closed, assigned to nobody

[2020-06-08 17:54] smcgrath0 commented on #380
PR https://github.com/headwirecom/peregrine-cms/pull/410

[2020-06-08 20:25] smcgrath0 opened #413 "Reference list bugs/styling for assets/objects/pages/templates"
Few issues:
#1 Console gives error when trying to edit something that is not a page
Steps: change to the example website and create an all fields object, you can then assign an image to that newly created object. go over to the assets view and look at the references for the image you selected
<img width="1786" alt="Screen Shot 2020-06-08 at 1 24 31 PM" src="https://user-images.githubusercontent.co

[2020-06-08 21:23] reusr1 commented on #375
this work is partially around what Eileen talks about on http://webmeadow.com/presentations/authoring-experience.html (better integration of content guidelines into a cms)

[2020-06-09 21:26] smcgrath0 commented on #413
New design issue:
Have count be a badge
![image](https://user-images.githubusercontent.com/49845255/84202437-22c15f00-aa5d-11ea-9845-33ccacd95abe.png)
so it will be (subscript count)path, edit icon

[2020-06-10 19:37] smcgrath0 opened #415 "Close mobile nav menu when new page rendered"
![image](https://user-images.githubusercontent.com/49845255/84314154-6a5af000-ab1c-11ea-8581-4fdb625d1412.png)

mobile nav will not close unless click menu button to close, make it like themeclean-flex

[2020-06-10 20:33] smcgrath0 commented on #415
PR for this issue: https://github.com/headwirecom/peregrine-cms/pull/416

[2020-06-12 18:30] GastonGonzalez commented on #365
@cmrockwell - Once again, great work and thank you for the contribution. The corresponding PR has been merged into the `develop` branch.

[2020-06-12 18:30] #365 closed, assigned to cmrockwell

[2020-06-15 14:44] flx-sta commented on #381
A few bugs are still present (especially with inserting image/link via. pathbrowser) but all in all the main stuff/features have been implemented

[2020-06-16 11:34] flx-sta commented on #381
### BUG List

- [x] removing an image removes all content
- [x] right panel and actual content do not sync
- [x] clicking into pathbrowser makes the caret loose its position

[2020-06-16 11:39] flx-sta commented on #381
@reusr1 any more bugs?
just add them to the list

[2020-06-16 12:23] reusr1 opened #418 "dialogs with groups do not respect the visibility expressions"
if a dialog uses visibility expressions and groups at the same time the visibility expressions are not evaluated

[2020-06-16 12:27] reusr1 commented on #418
see https://github.com/headwirecom/themeclean-flex/tree/pcms-issues/418 as an example
drag a richtext onto a page and explore the grouped dialog. It should work about the same as when a simple text component is used

[2020-06-17 01:32] reusr1 opened #419 "access endpoint should also return profile and perference information"
the endpoint at /perapi/admin/access should return a configured list of preferences and profile information from the server. The info should be stored in the frontend for later use by the application

[2020-06-18 21:56] reusr1 commented on #381
@Felix-Puetz it seems we are missing the add page/add folder in assets and all the other buttons from the navigation of all the explorers in your branch?

[2020-06-18 21:59] reusr1 commented on #381
- [x] background of editable area in dialog should be white
- [x] dialogs should have their own small toolbar as before for the editables
- [x] observed: when moving the cursor between inline edit and the dialog edit the toolbar sometimes does not reflect the correct state
- [x] observed: sometimes the always insert at the first character issue is back

[2020-06-19 13:30] reusr1 commented on #418
fixed in issues/273 branch (was a typo of a property)

[2020-06-19 13:30] #418 closed, assigned to nobody

[2020-06-22 14:08] flx-sta commented on #381
this is now consistently not working and i can't figure out why.
Nothing done different from the working one...
Will be looking into it tomorrow

[2020-06-23 14:21] flx-sta opened #420 "Caret jump to the top (inline-editing)"
How to reproduce:
1.  open a fresh page
2. focus into an inline-edit component and move the cursor to the end of it and press enter about 2 times to create new lines
3. reload the page
4. now click exactly into the same inline-edit component to be at the very end with the caret (right away!)
5. now type: cursor will jump to the top

[2020-06-23 14:21] flx-sta commented on #381
Alright I found out how to 100% reproduce it but i can't really figure out how to properly fix it.
To not waste anymore time I've implememented a quick & dirty solution with some programmatic clicking.
I've created a followup issuie for it #420

[2020-06-25 07:34] flx-sta commented on #381
- [x] max-height for text-editor
- [x] adjust/tweak fullscreen view
- [x] dynamic link handling (dyn. title/ icon for delete/add)

[2020-06-25 10:55] flx-sta opened #421 "Reloading when in fullscreen causes component view to be fullscreen (cannot EXIT!)"
The "exit fullscreen" button is not available in the shown view

### How to reproduce
* Open any page inside your website (backend)
* click on a component
* switch in the right-panel to fullscreen
* Reload page (e.g. ctrl + r)
* _There you are, stuck in a fullscreen of a component list_

![image](https://user-images.githubusercontent.com/50131232/85707228-46360c00-b6e3-11ea-965a-8ea1c67dc5ad.png)

[2020-06-25 12:39] flx-sta commented on #421
fixed in branch issues/273 (#381)

[2020-06-25 12:39] #421 closed, assigned to flx-sta

[2020-06-25 13:10] Felix-Puetz commented on #381
- [ ] change form material-icons to font-awesome
- [ ] remove lefovers in project dir from trumbowyg

[2020-06-25 17:52] reusr1 commented on #381
@Felix-Puetz the link tool should not only be a toggle between add/remove - if you have an existing link you may want to change it (alt text, possibly other options). Trumbowyg switches to a dropdown with change/remove once you are on a link - that should be the way better user experience.

[2020-06-25 21:10] GastonGonzalez opened #423 "Endpoint for updating user profiles"
Peregrine now supports returning robust user profile data as a service with the introduction of PR #422  (issues/419) . However, the only application code that currently populates the user profile is the Default Sync Handler. A flexible and native service endpoint should be added to Peregrine to support enhanced profile management. This service should have the ability to add and update user profil

[2020-06-26 05:13] flx-sta commented on #381
- [x] change form material-icons to font-awesome
- [x] remove lefovers in project dir from trumbowyg
-- admin-base/ui.apps/src/main/content/jcr_root/etc/felibs/admin/dependencies/node_modules.txt
- [x] add editablity of links (not only remove)
- [x] adjust alignment

[2020-06-26 21:56] reusr1 commented on #419
looks good :-) closing

[2020-06-26 21:56] #419 closed, assigned to GastonGonzalez

[2020-06-29 17:44] GastonGonzalez opened #424 "Add JSON-LD support"
JSON-LD is a microdata format for encoding additional information about websites/webpages. Search engines like Google use structured data, like JSON-LD, to improve the quality of search results. Google in particular uses this data to deliver enhanced search results such as rich media results.

This feature shall add initial support for JSON-LD using common Schema.org objects. Subsequent issues sha

[2020-06-30 03:50] reusr1 opened #425 "inline edit "[CTRL]+[ , ] and [CTRL] + [ . ]" support"
finish implementation of ctrl-. support for inline editing

- [x] overall styling should be nicer
- [x] while editing a component ctrl-. should bring up a list of all available components
- [x] selection of a component should be possible with the keyboard
- [x] after selecting a component focus should be on the first inline editable field of the component
- [x] if the newly inserted component does

[2020-06-30 03:53] reusr1 opened #426 "inline edit: find better solution for a hrefs on page while editing"
currently we replace all a href's on a page while editing. This however should not be necessary as the pagerender/vue javascript code already has a handler for clicks on the page. We should be able to prevent that mechanism while editing a page.

this would also make sure that the functionality works outside of a href's

[2020-06-30 13:14] flx-sta commented on #426
I've changed this behaviour here:
https://github.com/headwirecom/peregrine-cms/commit/4f17c68c50ffc0d7364597f7121309c152ae733e#diff-6f426f46f3dd44d95cce7233554acdf8R692

[2020-06-30 13:26] flx-sta commented on #426
New Task
* Find a solution that works in `state.js`
https://github.com/headwirecom/peregrine-cms/blob/develop/pagerenderer/vue/ui.apps/src/main/js/state.js

[2020-07-01 00:23] #380 closed, assigned to reusr1

[2020-07-02 13:20] reusr1 commented on #420
maybe a small observation on this issue: the cursor only jumps if the element with the contenteditable is fully replaced

[2020-07-03 05:35] #426 closed, assigned to flx-sta

[2020-07-06 11:44] flx-sta commented on #425
@reusr1 is only meant for `ctrl` + `.` exclusively or should these changes include the + `,` case of inserting above too?

[2020-07-06 12:29] reusr1 commented on #425
you are right, ctrl-, was meant to insert above

[2020-07-08 06:43] flx-sta commented on #425
@reusr1 Added this as a new task

[2020-07-08 11:10] flx-sta commented on #425
@reusr1 plrease review

[2020-07-08 12:08] flx-sta commented on #425
- [x] can't drop components into page-start/-end
- [x] should save state of current selected component before inserting the new one to prevent the "save" ask-user-modal from appearing
- [x] trying to enter an inline-edit element on vue-example causes a "Maximum call stack size exceeded"
- [x] hide editable when preview mode is active

[2020-07-08 21:47] smcgrath0 opened #435 "Inline image not saving when added with sub-navigation"
![defects-inline-image-2](https://user-images.githubusercontent.com/49845255/86972776-50ff9080-c128-11ea-8077-a15cd8e28da1.png)

**When adding an image to a text block with the top image icon, it doesn't save to the text block after refreshing. Works fine in side panel.**

<img width="1067" alt="defects-inline-image" src="https://user-images.githubusercontent.com/49845255/86973689-d9326580-c129-11

[2020-07-08 21:55] reusr1 opened #436 "validation of page performance"
its that time of the year again to look at overall page performance and see how we can improve it

[2020-07-08 21:59] smcgrath0 opened #437 "Inline image url selector not working"
![image](https://user-images.githubusercontent.com/49845255/86974423-2bc05180-c12b-11ea-8868-e72f61410be1.png)

^^old
New inline version lost the ability to put an inline image from a third-party url.
vv new

<img width="1279" alt="Screen Shot 2020-07-08 at 2 37 41 PM" src="https://user-images.githubusercontent.com/49845255/86974669-970a2380-c12b-11ea-9169-f6dedfdf52f4.png">

[2020-07-10 09:25] flx-sta commented on #435
@smcgrath0 I don't really get it how to reproduce this or what exactly the problem is.

FYI right now you can not mark/select an existing image and the image-icon would turn to the highlight color. That might be a considrable feature for the future

[2020-07-10 10:01] flx-sta commented on #437
fixed in commit https://github.com/headwirecom/peregrine-cms/commit/f03472b02ad7a4b66f6afcb72e3e43f1768720a3

[2020-07-10 10:01] #437 closed, assigned to smcgrath0

[2020-07-10 11:36] flx-sta opened #442 "onDblClick on images should open up "editImage" dialog (only in inlineEdit elements)"

[2020-07-10 12:13] flx-sta commented on #425
- [x] wrong pathbrowser view when opened from subanv rich-toolbar

[2020-07-10 15:10] smcgrath0 commented on #435
@Felix-Puetz Sorry about that, here are the steps to reproduce.
1. drop a richtext component on a page
2. try to add a inline image with the icon indicated above
3. refresh page after saving richtext component

The problem is that you will not see the inline image anymore in the component after refresh, but this feature works perfect in the side panel.

[2020-07-13 13:08] #415 closed, assigned to smcgrath0

[2020-07-13 13:09] reusr1 commented on #378
issue is now resolved

[2020-07-13 13:09] #378 closed, assigned to nobody

[2020-07-13 13:11] reusr1 commented on #301
closing this issue as we do not use trumobwyg anymore

[2020-07-13 13:11] #301 closed, assigned to flx-sta

[2020-07-14 20:19] reusr1 opened #443 "set brand slug when creating new site from template"
while creating a new site we should automatically set the brand property on the root template with the site title

[2020-07-14 20:53] reusr1 opened #444 "fix links in sample content when tenant is created"
some links in the rich content are not changed to the new tenant urls when we create the content of a new tenant. (for example, footer links)

we need a way to make sure when we copy over string properties we check and fix A tags if they are pointing to content of the site itself.

[2020-07-14 21:39] reusr1 opened #445 "when creating a new tenant do not change path fields for content that is not copied"
in themecleanflex the node /content/themecleanflex/assets/samples is set to doNotCopy - if a property of any page points to an image under that path we should not change the tenant on that property

[2020-07-14 22:29] GastonGonzalez commented on #444
In order to reproduce this bug, you need to perform the following:
1. Deploy the latest `develop` branch of `themeclean-flex`.
2. Create a site.
3. View a page.
4. Inspect the links in the footer.

*Expected Behavior*
Links reflect the current tenant.

*Actual Behavior*
Links reflect the `/content/themecleanflex/pages/...` structure.

[2020-07-15 02:33] reusr1 opened #447 "spec the feature 'invite a collaborator'"
- a tenant should be able to invite a collaborator to the sites he created
- the invited person should be able to see and accept or reject an invitation

the above requirements are rather simple. this ticket is meant to solicit input on how we should present the UX for this type of task

looking input from anybody that would like to participate

[2020-07-15 07:05] flx-sta opened #448 "Huge offline loading time"
When triyng to load a page offline (e.g. developing offline in a train or something else)
The loading time of an empty page is around 1min.
- That is due to some (apparently synchronous) requests taking forever to realise that they don't have a connection.
- additionally alot of CDN links are used for some css
-- ![image](https://user-images.githubusercontent.com/50131232/87514288-4d18c480-c67a-11

[2020-07-15 14:01] reusr1 opened #449 "inline edit: error after ctrl-. insert of component"
- add a rich text to a page
- start typing in the the text (inline)
- click ctrl-.
- add another rich text

error dialog is presented

error
TypeError: Cannot read property 'component' of null
(selectComponent method call)

[2020-07-15 14:03] reusr1 commented on #443
works like a charm - thank you!

[2020-07-15 14:03] #443 closed, assigned to GastonGonzalez

[2020-07-15 14:07] flx-sta commented on #425
- [x] #449

[2020-07-15 14:12] reusr1 commented on #424
@GastonGonzalez looks like this works, right? can you close the issue once you are satisfied with this initial approach?

[2020-07-15 14:16] reusr1 commented on #371
now that the tree view is on the right we should be able to add a button next to it in the toolbar to create a child page or a sibling page (or child template or sibling template)

[2020-07-15 16:31] GastonGonzalez commented on #444
@reusr1 - PR ready: https://github.com/headwirecom/peregrine-cms/pull/450

[2020-07-15 17:29] GastonGonzalez commented on #445
The following are some tests cases based on the current build of themeclean flex.

1. `/content/themecleanflex/templates/base page/jcr:content/n1f964177-2026-4697-80ce-7ea78fa1b3e2` contains a reference to `/content/themecleanflex/assets/samples/sample-logo.png`

2. `/content/themecleanflex/templates/base page/jcr:content/nbeb05b9b-3df4-4d4a-a770-a2d7357912db` contains a reference to `/content/the

[2020-07-15 20:50] GastonGonzalez commented on #445
@reusr1 - Fixed in PR: https://github.com/headwirecom/peregrine-cms/pull/452

1. Deploy code.
2. Create a new site.
3. Navigate to site > page > home.
4. Edit the Teaser Vertical component and toggle Custom Background.

*Expected Behavior:*
The image reference should render and point to `/content/themecleanflex/assets/samples/beach-bird-s-eye-view-daytime-1249586.jpg`.

[2020-07-16 00:42] GastonGonzalez commented on #445
@reusr1 - issues/444 and issues/445 are fixed with this PR: https://github.com/headwirecom/peregrine-cms/pull/452/files

[2020-07-16 09:43] flx-sta opened #453 "[Inline-edit] Making a complete <p> to a link causes the <p> tag to be removed"
### Fix Suggestion

This can probably be fixed by maniplulating the nodes via the `Range` object.
These changes would not support undo/redo though.

[2020-07-16 09:50] flx-sta commented on #435
@smcgrath0 unfortunatly I'm still not able to reproduce it on my currently active development branch.

I'am working on branch `issues/425` .
Could you try if you can reproduce it on that branch? if not I may have already fixed it

[2020-07-16 11:45] reusr1 commented on #435
@Felix-Puetz the same issue existed with links - looks like you fixed both at the same time :-)

[2020-07-16 11:45] #435 closed, assigned to flx-sta

[2020-07-16 11:46] reusr1 commented on #449
just did a quick test on this, looks good, thank you!!

[2020-07-16 11:46] #449 closed, assigned to flx-sta

[2020-07-16 11:54] flx-sta commented on #381
- [x] fix outline highlight multiple present (nested components)
- [x] fix selected component should not be highlighted to prevent double highlighting

[2020-07-16 11:56] reusr1 commented on #425
looks great! closing the issue

[2020-07-16 11:56] #425 closed, assigned to flx-sta

[2020-07-16 11:57] reusr1 commented on #442
validated works as expected in issues/425 branch

[2020-07-16 11:57] #442 closed, assigned to flx-sta

[2020-07-17 07:09] flx-sta commented on #381
- [x] #453

[2020-07-17 13:05] #453 closed, assigned to nobody

[2020-07-17 14:58] reusr1 commented on #445
looks good @GastonGonzalez

[2020-07-17 14:58] #445 closed, assigned to reusr1, GastonGonzalez

[2020-07-17 14:58] reusr1 commented on #444
works like a charm :-)

[2020-07-17 14:58] #444 closed, assigned to reusr1, GastonGonzalez

[2020-07-17 15:00] reusr1 commented on #377
this issue has a minimal impact on peregrine at the moment

[2020-07-17 15:05] GastonGonzalez commented on #424
Closing issue. The `develop` branch has a short term implementation that provides minimal JSON-LD support in the page properties.

CC: @reggie7

[2020-07-17 15:05] #424 closed, assigned to GastonGonzalez

[2020-07-18 14:35] reusr1 opened #455 "inlineedit: toolbar stacks on smaller viewport sizes"
![image](https://user-images.githubusercontent.com/779992/87854736-cd346980-c8c8-11ea-8859-070d3aa378b6.png)

we should make sure it stays as one line and once it does not fit anymore the overflow items should be in a dropdown as the last item of the toolbar

something similar how http://dojo.telerik.com/aBAPi moves overflow items into a dropdown