[2020-07-18 14:39] reusr1 opened #456 "inlineedit: component hover border looks odd while scrolling with mousewheel"
- create a page large enough for the scroll bar to show
- hover over a component
- use mouse wheel to scroll

expected: hover border (the green one) should scroll with the component

observed: hover border stays where the component was before until end of scrolling and the mouse is slightly moved

[2020-07-18 14:51] reusr1 commented on #456
note: also noticed a similar issue when resizing the browser window. the border does not update accordingly

[2020-07-20 06:25] flx-sta commented on #447
I'd just keep it simple and easy.
Just a modal-box with an input for an E-Mail.
The e-mail then contains an activation link which will lead to a form of creating an account or login with an existing one.
After registration/login the given account gains access to the invited tenant

### Mockup
![image](https://user-images.githubusercontent.com/50131232/87906642-5089c280-ca63-11ea-8b24-16e8a00f3cef.

[2020-07-20 12:58] reusr1 commented on #420
it seems if the component is first selected (click outside the editable area) and then the edit area is clicked editing works without the cursor jumping

[2020-07-20 13:56] #353 closed, assigned to reusr1

[2020-07-20 13:59] reusr1 commented on #348
since publishing a page takes some time this action happens asynchronously. we currently do not have a way to track the status of the activation request in the back-end. closing this issue for now

[2020-07-20 13:59] #348 closed, assigned to reusr1, flx-sta

[2020-07-20 14:04] reusr1 opened #458 "backend activation status tracking"
when activating a page we currently do an async call but do not have a way to track the current activations and their status

we should (general)

- have a generic way to manage a list of async processes
- return a path to the monitoring endpoint of an async process when we make a call to an async service
- provide a synchronous and asynchronous way to poll for the status of an async process
- pro

[2020-07-20 14:19] reusr1 commented on #381
code has been merged to develop - any other issues related to inline edit and the toolbar should be tracked as individual tickets

[2020-07-20 14:19] #381 closed, assigned to reusr1, flx-sta

[2020-07-20 15:21] cmrockwell opened #459 "Insecure Code"
There are insecure coding practices on AbstractUserAndPermissionsService.java In my fork, I deleted this Java code and the two classes that extend AbstractUserAndPermissionsService.java. Service users and ACL's should be handled with Repoinit, and there is no reason in the catch statement to create regular users having password "123"

    /**
     * Creates a Service User if it does not exist

[2020-07-20 17:16] reusr1 commented on #447
I think we need a bit more than that. usually it's a good idea to also see the invites you sent and if they were accepted or not (and copy a link to email)

the invited user may also need a console to see all invitation for the user

[2020-07-20 17:30] reusr1 commented on #375
the feature can also be used to better tailor the experience for the editors (like remove features from peregrine)

[2020-07-20 18:43] reusr1 opened #460 "avoid layout shifts by making sure we know the image width and height before rendering an image"
- annotation for sling models to support fetching image width and height
- retrofit components to consume and render the additional information

[2020-07-20 19:08] schaefa commented on #460
I create a branch: issues/460-develop that contains the Image Info annotation and its handling as well as some Unit tests.

[2020-07-20 19:44] schaefa opened #461 "Allow to Externalize Paths in Peregrine Sling Models"
Path to resources in Peregrine should be able to be externalized to represents the client's view rather the internal JCR structure.

[2020-07-21 07:43] flx-sta commented on #371
Could you provide a small Mock-Up of what your idea is

@reusr1

[2020-07-21 07:46] flx-sta commented on #348
@reusr1 couldn't we change the color when the request itself was successful then?
Some visual feedback would be good.

I mean. It may look like some false postive since its not verfied but at least some feedback to the user that the request was sent

[2020-07-21 14:20] flx-sta commented on #420
- [x] play around with timing to verify if this the problem
- [x] verify events/methods emitted (to check for missing calls on the initial click)

[2020-07-21 14:24] flx-sta opened #463 "editable wrapping on scroll/window-resize not updating"

[2020-07-21 15:00] flx-sta commented on #397
- [ ] on open new-tab the tenant is lost (e.g. select any page-> right-click -> open in new tab)
- [ ] 3 tiny links on the website-card at the bottom of the card are broken (normal & new tab)

[2020-07-21 15:09] flx-sta commented on #302
not an option due to specs

[2020-07-21 15:09] #302 closed, assigned to nobody

[2020-07-22 13:35] flx-sta commented on #420
### What happens

- When focussing the first time and then typing the component is completly rerendered by the vue instance on the peregrine-app itself
- this behaviour should actually be prevented by this code:
[code]
- why is it not prevented (but only on the first time):
  - I dont know 😭

[2020-07-22 14:32] flx-sta commented on #420
New idea:

Replace all `this.target = ..` (which would call the watcher) with an actual call to the `this.selectComponent` method

[2020-07-22 22:06] GastonGonzalez commented on #392
This issue has been merged into develop. We'll create separate issues to address the review comments in https://github.com/headwirecom/peregrine-cms/pull/465

[2020-07-22 22:06] #392 closed, assigned to schaefa, GastonGonzalez

[2020-07-22 22:11] GastonGonzalez commented on #459
Thank you for raising this issue, @cmrockwell . Would you mind send in PR with your change?

[2020-07-22 23:06] GastonGonzalez opened #466 "Backup and restore UI enhancements"
The backend for the "backup and restore" feature has been merged into `develop`, however, there are some UI issues that should be addressed:

1. Replace browser alert box with a modal for the various backup/restore functions
2. Add whitespace/padding around backup and restore buttons on settings page
3. Fix the default state for the "Result" value on the backup and restore settings page. If this i

[2020-07-22 23:55] reusr1 commented on #397
@Felix-Puetz I started a lot of refactoring around this, all in feature/tenantstate - looks better already. We need to make sure our reload states are correct and use the suffixes in the urls correctly

[2020-07-23 00:05] cmrockwell commented on #459
Sure I can. It's in a branch that I've been working on for some time for sling 12, java 11 and improving replication issues, so I'll just have to cherry pick a few commits.

  On Wed, Jul 22, 2020 at 6:11 PM, Gaston Gonzalez<notifications@github.com> wrote:

Thank you for raising this issue, @cmrockwell . Would you mind send in PR with your change?

—
You are receiving this because you were mentio

[2020-07-23 06:40] flx-sta commented on #420
@reusr1 I've provided a better solution based on the previous comment:

#467

[2020-07-23 12:20] flx-sta commented on #397
I've created a pull request for this branch to link it to this issue

[2020-07-23 12:48] flx-sta commented on #456
This issue will also address #463

[2020-07-23 12:48] flx-sta commented on #463
will be adressed in #456

[2020-07-23 12:49] #463 closed, assigned to flx-sta

[2020-07-23 12:49] flx-sta commented on #456
- [x] When resizing the whole browser-window the selected wrap does not update
- [x] When scrolling and having no component selected the hover-outlines are not updating while scrolling (green/orange ones)
- [x] When resizing the whole browser-window the hover-wrap does not update

[2020-07-23 15:07] flx-sta commented on #456
@reusr1 check PR #469

[2020-07-23 15:27] GastonGonzalez commented on #459
Thanks, Cris. I'll review and merge as soon it comes in.

[2020-07-23 16:09] reusr1 opened #470 "better dashboard"
the current dashboard is a bit simple (just a collection of cards linking out to other areas of peregrine) and does not add much value

![image](https://user-images.githubusercontent.com/779992/88310035-10754a80-ccc4-11ea-8d04-4b4ae0a647bd.png)

[2020-07-23 17:48] GastonGonzalez commented on #459
@cmrockwell - This has been reviewed, approved and merged into `develop` with this PR: https://github.com/headwirecom/peregrine-cms/pull/471. Thanks, again. Since you opened this ticket, please feel free to close it when you have time.

[2020-07-23 18:16] cmrockwell commented on #459
Thanks for looking at this so quickly. I'm just looking over the change again, and I'm sorry if I missed something. I'm looking for a configuration Service User Mapping for  nodejs-service nodejs-service-user, but I'm not seeing it here...
https://github.com/headwirecom/peregrine-cms/tree/develop/platform/base/ui.apps/src/main/content/jcr_root/apps/runmodes/config
Shall I add that?

[2020-07-23 20:35] GastonGonzalez commented on #459
Please add it and I'll approve and merge.

[2020-07-24 21:28] cmrockwell commented on #459
So, there are chucks of this project related to node that I'm not quite familiar or comfortable with.

NpmExternalProcessService
NpmPackageConfigurationEventHandlerService
com.peregrine.nodejs.script.servlet.ScriptCallerServlet
com.peregrine.nodejs.servlet.SlingNodeServiceServlet

The servlet API's are not documented in Swagger
/perapi/nodejs/list
/perapi/nodejs/package/install
/perapi/nodejs/list

[2020-07-24 22:08] reusr1 commented on #459
@cmrockwell @GastonGonzalez this is all part of providing j2v8 and a node8 compatible runtime in sling for server side compilation - the swagger documentation can be found here: /perapi/nodejs/swaggereditor/index.html - unfortunately the j2v8 project abandoned maintaining a version compatible with the current node version - I am also not sure if we do have a need for a server side renderer at all

[2020-07-25 14:23] reusr1 opened #473 "do not copy replication state from theme when a tenant is created"
activate themecleanflex, then create a tenant based on themecleanflex. The new site shows the activation state from themecleanflex but that is not correct. In the tenant creation process the replication state should not be copied

[2020-07-26 19:06] flx-sta opened #474 "Small dashboard button enhancement"
![image](https://user-images.githubusercontent.com/50131232/88487275-e18cfc00-cf83-11ea-9926-a53efddd8518.jpeg)
Pages: https://fontawesome.com/icons/file-alt
Template: https://fontawesome.com/icons/file?style=regular
Objects: https://fontawesome.com/icons/cube?style=solid
Assets: https://fontawesome.com/icons/photo-video?style=solid
Recyclebin: https://fontawesome.com/icons/recycle?style=solid or

[2020-07-27 12:51] flx-sta commented on #455
@reusr1 please check out #475 to be able to close this ticket 👍

[2020-07-27 13:16] cmrockwell commented on #459
I think this part of the project took considerable time and effort, so I want to be careful if I say it should be removed. Here's why I think it should go...

- Most recent activity under platform/nodejs seems to be around Nov 2017
- Keeping a Java server-side environment secure, patched and updated seems challenging enough
- Disabling and deleting the bundles did not adversely affect my instances

[2020-07-27 13:24] reusr1 commented on #459
@cmrockwell thank you for your thoughts on this. I think the best way to continue is to disable the nodejs module from the general build.

[2020-07-27 13:30] reusr1 commented on #455
@Felix-Puetz I see some odd things with this: the toolbar in the dialog rail on the right changes as well at a smaller breakpoint, the super/subscript are for whatever reason right aligned and when on the smallest allowed window size the toolbar is gone (and the nav bar above is all messed up)

[2020-07-27 13:31] reusr1 commented on #455
![image](https://user-images.githubusercontent.com/779992/88547557-c85f6c00-cfd2-11ea-9bc5-26a8f4c3f058.png)

[2020-07-27 13:32] flx-sta commented on #455
What is the smallest allowed window size ?

[2020-07-27 13:37] reusr1 commented on #455
this seems to happen with window width between 600 and 635px

[2020-07-27 13:59] #456 closed, assigned to flx-sta

[2020-07-27 15:16] cmrockwell commented on #459
I assume disabling the nodejs module means editing the platform/pom.xml so it doesn't install by default. This sounds fine,  just note that there will still be a nodejs-service-user and associated service user mappings (com.peregrine-cms.nodejs:nodejs-service=nodejs-service-user,  com.peregrine-cms.nodejs.scripts:nodejs-service=nodejs-service-user com.peregrine-cms.nodejs.j2v8:nodejs-service=nodej

[2020-07-28 01:32] GastonGonzalez commented on #459
PR, https://github.com/headwirecom/peregrine-cms/pull/476, merged. Can we close this issue?

[2020-07-28 12:30] cmrockwell commented on #459
Yes. Thanks all!

[2020-07-28 12:30] #459 closed, assigned to GastonGonzalez

[2020-07-28 19:37] reusr1 opened #477 "performance issue on refby api call"
the refby api call ( /perapi/admin/refBy.json ) seems to use a long time once a peregrine environment has a larger number of sites in it. The issue becomes more prominent for users with a large set of allowed websites.

- [x] check if we have an appropriate index for the query
- [x] check if we should limit the call to just the current tenant

[2020-07-31 12:26] flx-sta opened #478 "Clean solution for #420 (Caret jump to the top (inline-editing)"
#420

Find a cleaner solution for this issue

[2020-07-31 12:26] #420 closed, assigned to flx-sta

[2020-07-31 12:40] flx-sta opened #479 "Issues displaying Umlaute in welcome-screen"
![image](https://user-images.githubusercontent.com/50131232/89035809-d1866b00-d33b-11ea-8d2e-a243b8ae69e5.png)

IT's supposed to read "**dämmerung**"

[2020-08-04 07:59] flx-sta opened #481 "inline-edit href prevention not working properly"
As @reusr1 reported is does not always work as expected

[2020-08-04 13:12] flx-sta commented on #481
fixed by @reusr1
[code]

[2020-08-04 13:24] #481 closed, assigned to nobody

[2020-08-04 14:32] reusr1 opened #482 "screenshot/paste assets from clipbard into assets"
it would be nice to be able to capture a screenshot on a computer and paste it into assets, much like on github where we can paste a screenshot into an issue while editing the issue

note: this may not work for copy/paste from the file explorer to assets (does not work in github either but we have drag and drop for that use case already)

some basic code able to handle a clipboard paste:

[code]

[2020-08-06 07:06] flx-sta commented on #455
merged into [feature/tenantstate](https://github.com/headwirecom/peregrine-cms/pull/468)

[2020-08-06 12:46] reusr1 opened #485 "make sure inline edit works well with collapsible groups in dialogs"
a while back we introduced grouping in dialogs (see image component of example site). We have to make sure this works well with inline editing and is usable throughout themecleanflex (and percli).

[2020-08-06 13:15] reusr1 commented on #482
looks good, merged :-)

[2020-08-06 13:15] #482 closed, assigned to flx-sta

[2020-08-06 13:19] reusr1 commented on #474
we may want to consider this together with #470

[2020-08-06 13:38] flx-sta commented on #474
Okay

[2020-08-06 13:38] #474 closed, assigned to flx-sta

[2020-08-06 13:38] flx-sta commented on #470
#474

[2020-08-06 14:12] reusr1 commented on #485
added branch https://github.com/headwirecom/peregrine-cms/tree/issues/485 and themecleanflex branch https://github.com/headwirecom/themeclean-flex/tree/pcms-issues/485 to showcase this issue in the cards component.

[2020-08-06 22:59] smcgrath0 opened #487 "Fix stylesheets loading after vue styles"
Stylesheets' styles should not override vue component styles.

Issue can be visualized with multinavigation the component. Styles to hide the tab's list are being overwritten by themeflex styles to show them.
<img width="984" alt="Screen Shot 2020-08-06 at 3 59 24 PM" src="https://user-images.githubusercontent.com/49845255/89590936-d052b380-d7fd-11ea-9973-7f1d44a0391b.png">

[2020-08-07 08:30] flx-sta opened #489 "Create a website: TypeError: Cannot read property 'name' of undefined""
![image](https://user-images.githubusercontent.com/50131232/89625988-0002c980-d899-11ea-9f31-cbb69ab7511d.png)

Google Chrome Version 84.0.4147.105 (Offizieller Build) (64-Bit)

[2020-08-07 08:31] flx-sta commented on #489
@reusr1 is this a known bug?

[2020-08-07 08:32] flx-sta commented on #489
Never mind. this just happened because my themeclean-flex wasn't deployed properly (for whatever reasons)

[2020-08-07 08:32] #489 closed, assigned to nobody

[2020-08-10 15:34] qial commented on #827
This looks like it is still an issue in the latest Themeclean-flex code. The Page editor still shows the tag name rather than the Display Value. In the case of the following screenshot the tag name is test1 and display value should be "Test Tag 1".

<img width="344" alt="image" src="https://user-images.githubusercontent.com/1071825/89800755-09cc3d00-dae4-11ea-89bd-e8c1b78bb18d.png">

[2020-08-10 17:06] qial commented on #828
You can see this issue in the Accordion and Tabs components.

Specifically for Tabs, if you edit say Tab 2 you can't see your changes unless you switch into preview mode and change to the correct tab then switch back to edit. We need some way of keeping track of the component state while editing to make sure the correct tab/etc is shown.

This is connected to other issues with state, where even co

[2020-08-10 18:45] qial commented on #827
Ah, I see. The display name shows correctly in the tags component, but it still doesn't show in the tags dialog.

[2020-08-11 15:27] reusr1 commented on #487
closing this as we solved it differently in themecleanflex for now

[2020-08-11 15:27] #487 closed, assigned to smcgrath0

[2020-08-12 12:06] reusr1 opened #493 "switches in forms are not obvious for new users"
our switches in the forms (admin-base/ui.apps/src/main/content/jcr_root/apps/field/materialswitch/template.vue) are not directly abvious to new users

![image](https://user-images.githubusercontent.com/779992/90012952-2fc71e00-dc59-11ea-99bc-7ef47ff6090a.png)

we could switch to either check boxes or a yes/no version

![image](https://user-images.githubusercontent.com/779992/90013047-613fe980-dc59

[2020-08-12 12:11] reusr1 opened #494 "better range slider for forms"
admin-base/ui.apps/src/main/content/jcr_root/apps/field/material-range currently renders a range slider (with min/max values). This however does not cover all cases of the input data and is a bit cumbersome to set exact values.

we should make sure we can:
- deal with the case where we have no data for the field and no default
- be able to see the current value of the range without clicking it
- b

[2020-08-12 13:00] reusr1 opened #495 "select color palette: wrong mouse cursor"
https://github.com/kestrel-1/report-an-issue/issues/3

[2020-08-12 13:28] flx-sta opened #496 "Uncaught TypeError: Cannot read property '$children' of undefined"
### Issue
When reloading a page and then tabbing through the components to any component that has a collection in the dialog the following error is thrown:
`Uncaught TypeError: Cannot read property '$children' of undefined`

### Reproduction
- tcf homepage,
- click example inc
- go down to the cards
- click title of first card
- click rich text of first card
- -- finish --

**Branches**
peregrine-

[2020-08-12 13:28] flx-sta commented on #496
Follow up ticket of #485

[2020-08-12 13:28] #485 closed, assigned to flx-sta

[2020-08-12 13:44] flx-sta opened #497 "editor: switch between input field and rte input field confuses editor"
https://github.com/kestrel-1/report-an-issue/issues/10

[2020-08-12 13:44] Felix-Puetz commented on #497
https://github.com/kestrel-1/report-an-issue/issues/12

[2020-08-12 13:47] reusr1 commented on #455
@Felix-Puetz thank you! looks great

[2020-08-12 13:47] #455 closed, assigned to flx-sta

[2020-08-12 14:02] #495 closed, assigned to nobody

[2020-08-12 14:06] reusr1 opened #498 "'logged in as' username display issues"
https://github.com/kestrel-1/report-an-issue/issues/1

- [x] when using long user names the display of the user name is not nice
- [x] in the single sign on usecase it would be better to use a profile property such as the email address instead of the actual system user name

issues/498 branch created

[2020-08-12 14:43] reusr1 commented on #473
we should also make sure copying a page in general does not copy the replication state (see for example create new page with a skeleton page as the template)

[2020-08-13 10:09] flx-sta commented on #496
@reusr1 should be fixed.
fix pushed into `feature/tenantstate`
could you verify pls?

[2020-08-13 10:49] flx-sta opened #500 "editor: chrome / firefox: different cursor placement behavior"
https://github.com/kestrel-1/report-an-issue/issues/11

[2020-08-13 10:51] flx-sta opened #501 "cards: card image: deviating behavior in the editor"
https://github.com/kestrel-1/report-an-issue/issues/9

[2020-08-13 10:52] flx-sta opened #502 "download site backup: macOS standard archiving program says archive invalid"
https://github.com/kestrel-1/report-an-issue/issues/7

[2020-08-13 10:54] flx-sta opened #503 "feature request: download site backup: naming of zip archive"
https://github.com/kestrel-1/report-an-issue/issues/6

[2020-08-13 10:55] flx-sta opened #504 "backup site: layout success message"
https://github.com/kestrel-1/report-an-issue/issues/5

[2020-08-13 10:59] flx-sta opened #505 "create a website: choose name: labeling, behavior and question"
https://github.com/kestrel-1/report-an-issue/issues/4

[2020-08-13 12:23] reusr1 commented on #496
@Felix-Puetz looks great, closing

[2020-08-13 12:23] #496 closed, assigned to reusr1, flx-sta

[2020-08-13 12:33] flx-sta commented on #497
See #506

[2020-08-13 12:33] #497 closed, assigned to flx-sta

[2020-08-13 12:45] reusr1 commented on #505
@Felix-Puetz I already addressed the descriptions and removed the tenant user password for non admin users. The only thing remaining would be to do something about the spacing of the asterisk

[2020-08-13 12:46] reusr1 opened #507 "placeholder ticket to overhaul website settings screen"
we need to rethink the settings screen for a tenant. This ticket is a collection of tickets and tasks that should be looked at together

- https://github.com/headwirecom/peregrine-cms/issues/504
- https://github.com/headwirecom/peregrine-cms/issues/503
- remove the need to go to root page template to change domain names, css and js, etc
- better status reporting of backup before the first backup i

[2020-08-13 13:01] reusr1 commented on #501
I think the big question here is what we really would want to happen. should we bring full inline editing to images as well and rethink that part or only support click an image and focus the field? What happens when we click in the padding of a card outside of an editable?

[2020-08-14 07:25] flx-sta commented on #502
I've tried it on my MacOS Partition and it worked fine for me. Please verify again

[2020-08-14 08:02] flx-sta opened #509 "Backup info not updating when finishing a backup"
**Before reload and after "done" of create backup**
![image](https://user-images.githubusercontent.com/50131232/90227581-1cf94880-de15-11ea-8f27-c1c115b36ae2.png)

**After reload**
![image](https://user-images.githubusercontent.com/50131232/90227611-271b4700-de15-11ea-81f2-4e55b359db5b.png)

[2020-08-14 08:05] flx-sta opened #510 ""configure your website" page has wrong <title>"
![image](https://user-images.githubusercontent.com/50131232/90227941-b0327e00-de15-11ea-8ab0-44adbaff4902.png)

[2020-08-14 08:06] flx-sta commented on #507
Maybe include:

* #509
* #510

[2020-08-14 08:35] Thomas-Pelster commented on #502
- Problem still exists

![20200814_0955_Kestrel_backupfile_invalid](https://user-images.githubusercontent.com/50134764/90230430-d8bc7700-de19-11ea-8c28-2aa9d0cafd03.gif)

[2020-08-14 11:39] #505 closed, assigned to nobody

[2020-08-14 11:46] flx-sta commented on #505
![image](https://user-images.githubusercontent.com/50131232/90246268-85a3ed80-de34-11ea-8252-a2b381fcf25e.png)

[2020-08-14 11:47] flx-sta commented on #502
Tried it again on my system. Still could not reproduce it.
Maybe has to do with the Version of MacOS

[2020-08-14 12:32] flx-sta commented on #500
I found out what is causing this.
the `onInlineFocus` event.

You can verify that by out-commeting `el.addEventListener('focus', this.onInlineFocus)` in `contentview/template.vue`

This call is at fault:
![image](https://user-images.githubusercontent.com/50131232/90249726-42994880-de3b-11ea-9f00-067fef41e254.png)

removing/out-commenting it makes it work fine again

[2020-08-14 12:42] Thomas-Pelster commented on #502
After some research I can say that it is a specific Apple bug. This is due to the interpretation of the standard and probably has something to do with specific bits in the zip archive.

With unzip via terminal or e.g. UnArchiver it works without problems.

@reusr1  I would recommend to visualize only a hint on the page or an overlay after download, which says that the zip contains complex unicode

[2020-08-14 13:16] reusr1 commented on #436
- the carousel component of themecleanflex introduces a long total blocking time
- moving the css includes to the bottom of the body increases overall page performance
- need to break up the initial javascript code in pagerenderer/vue into junks to yield control back to the browser once in a while
- it may be beneficial to not render the site in one swoop (use nextTick to populate containers, we o

[2020-08-14 14:51] reusr1 opened #512 "rel=noopener, rel=noreferrer"
when adding a link to the rich text editor we should allow the editor to set rel=noopener and rel=noreferrer on the link (as a choice in the linking dialog where we specify the alt title and external urls)

for some general info why this is important: https://mathiasbynens.github.io/rel-noopener/

[2020-08-14 20:24] cmrockwell opened #513 "Sling 12: Everyone ACL on Root, Initial start page, and /content in URL optional"
Related to [SLING-6130](https://issues.apache.org/jira/browse/SLING-6130) Peregrine is still using jcr:read for everyone on root. This is problematic in a number of ways.  The most obvious concern is that the default inheritance of that read ACL for everyone throughout the repo. Read access of rep:password values from nodes under /home/users is obviously not ideal. Based on my analysis, Peregrine

[2020-08-17 07:01] Thomas-Pelster commented on #470
The current dashboard repeats all entries from the navigation without offering any further value. I would like to see it offer a mix of KPIs, direct functionality and information.

KPIs
- How many hits this page had in the last 24 hours, e.g. a column chart.
- What were the most frequently accessed pages in the last 24 hours, e.g. a list?

Direct functionalities
- the last modified pages can be ca

[2020-08-17 13:23] cmrockwell commented on #470
My ideas are categories into easy and harder stuff as described below:

Easy Stuff: Perhaps each card could have a few "chips" that indicate the number of new and/or changes items. Clicking 'explore' could expand full screen or accordion down. Perhaps revealing recently edited or created items; similar to Firefox's 'Top Sites'

Harder Stuff: Peregrine could have a prescribed way to integrate analy

[2020-08-17 14:15] reusr1 commented on #470
@cmrockwell on analytics:
we added https://getanalytics.io/ to themecleanflex - that should help us being more abstract about analytics in general. I am also hoping that we can use perfume.js (as a getanalytics plugin) to collect some RUM data (basically the data from the browsers about how fast the page loads, etc)

[2020-08-17 14:20] reusr1 commented on #470
one of the ideas for the dashboard could also be to use an accordion style or a columns and user selectable set of cards. I think what's interesting here is that everybody depending on their role in an organization and depending on the use-case of the website has a different opinion on what a dashboard should provide.

[2020-08-17 19:51] cmrockwell commented on #513
Here are three commits added to make these improvements

- https://github.com/cmrockwell/peregrine-cms/commit/ecea0de68d680cded859fe16868738ab56880be2
- https://github.com/cmrockwell/peregrine-cms/commit/37836c397a603fc95cd16bc9b15804f0fc821e92
- https://github.com/cmrockwell/peregrine-cms/commit/a98349bcdd89347bafe4d8aece0af6d99067e835

This resolves a need to have an ACL for everyone on root, by

[2020-08-18 11:20] #512 closed, assigned to flx-sta

[2020-08-18 11:21] #500 closed, assigned to flx-sta

[2020-08-18 11:37] flx-sta opened #515 "show image-icon on images to directly enter pathrbowser"
e.g:
![image](https://user-images.githubusercontent.com/50131232/90507944-09bce480-e157-11ea-9867-e55340701747.png)

For now the only option to change it is to do it on the right-dialog.

Add an option to do this directly in the content:

![image](https://user-images.githubusercontent.com/50131232/90508397-fa8a6680-e157-11ea-9702-36dcd3cb1658.png)

[2020-08-18 11:58] reusr1 commented on #515
We should also consider additional 'inline' edit functionality for the editor such as drag and drop an image from the computer directly onto the existing image and support for upload/create folder in the image path browser

[2020-08-18 11:59] flx-sta commented on #515
Wouldn't it be better to shift these into the opened up pathbrowser?

[2020-08-19 12:26] flx-sta opened #516 "add special-characters insert button"
Example:

![image](https://user-images.githubusercontent.com/50131232/90634410-f0d03400-e227-11ea-9890-5e7f4e64f5b7.png)
![image](https://user-images.githubusercontent.com/50131232/90634433-f9286f00-e227-11ea-9a80-3519830ac7fb.png)

(Source: https://html-online.com/editor/)

[2020-08-19 12:27] flx-sta opened #517 "insert icons button"
Example: (here emoticons)
![image](https://user-images.githubusercontent.com/50131232/90634542-207f3c00-e228-11ea-8f47-4cd01e5cfed7.png)

(Source: https://html-online.com/editor/)

[2020-08-19 21:45] reusr1 commented on #494
current work in https://github.com/headwirecom/peregrine-cms/tree/issues/494

[2020-08-19 21:46] reusr1 commented on #494
@Felix-Puetz assigned this issue to you - let's see if we can create a better UI for the slider

[2020-08-20 13:14] flx-sta commented on #517
icons should be preloade and put into the state (based on tenant!)

example state: `admin.tenantIcons`

[2020-08-20 13:18] flx-sta opened #521 ""Make bold" at the end of a text: Odd behaviour"
1. add richtext - example component to page.
1. go to the end of the text
1. type `ctrl-b` John `ctrl-b` Doe

**Result**: The string is not as expected

[2020-08-20 16:26] reusr1 opened #522 "add folder button missing at bottom of list in assets"
pages. objects, templates support an add button at the bottom of the list in the explorer, somehow this was missed on assets

[2020-08-20 17:18] reusr1 opened #523 "open live version"
add button to page explorer and page editor to open the current live version of a page (using the first domain name configured for the site)

![image](https://user-images.githubusercontent.com/50131232/91974140-a2d62880-ed1d-11ea-8969-83bae31e1be6.png)

[2020-08-21 09:04] flx-sta commented on #521
I have never seen anything like that nor can i reproduce it in any other enviroment.
Unfortunately I did not find out why this happens.

I tried alot of things like
- style `direction: ltr !important`
- automatically add a space after ending a bold-tag
- removing all events bound to `inline-edit`
-  add style `display: inline-block` to all tags in inline-edit elements
- remove all `styles` that af

[2020-08-21 10:07] #517 closed, assigned to flx-sta

[2020-08-21 15:59] GastonGonzalez commented on #473
*Steps to Reproduce:*

1. Create a site.

2. Navigate to "yoursite" > "Settings" and click the "SITE SETUP REPLICATION" button. This will replicate all site assets to the file system (`sling/staticreplication/`).

3. Navigate back to "Pages" and create a page based on a skeleton page (i.e. "Article").

4. Notice that your new page has a purple globe icon.

The process of copying a previously repli

[2020-08-25 15:38] GastonGonzalez opened #529 "Add Copy Page support to Actions pane under Pages"
Problem:
Currently, copying a page is only supported via Composum.

Solution:
Update the "actions" pane under "Pages" to support a copy operation. The UI flow should re-use the same experience as the "move" action.

[2020-08-25 18:20] qial opened #530 "Pager component defaults not working correctly"
Default values for the pager model.json are listed as 'x-form-default' instead of 'x-default' which is leading to defaults not being set correctly.

[2020-08-25 18:20] qial commented on #530
This is a themeclean-flex issue, not peregrine

[2020-08-25 18:20] #530 closed, assigned to nobody

[2020-08-28 08:15] #494 closed, assigned to flx-sta

[2020-08-28 08:15] flx-sta commented on #516
![image](https://user-images.githubusercontent.com/50131232/91537955-61a5d900-e917-11ea-8c77-c291a4be4131.png)
![image](https://user-images.githubusercontent.com/50131232/91537994-6f5b5e80-e917-11ea-8053-acb2431a2b52.png)

[2020-08-31 11:00] flx-sta opened #532 "code-style standard (maybe only JS code for now)"
We should agree on a code-style standard.

At least for the javascript code.

[2020-08-31 11:42] reusr1 commented on #532
I agree we should agree on that (for front end code and backend code). But we really should do this in my opinion once we are fully merged into the develop-sling12 branch because right now a reformat of the codebase would make it nearly impossible to merge

[2020-09-01 20:43] GastonGonzalez opened #533 "Site Map Scheduled Cache Re-builder is not invalidating the cache"
**Issue:**
_Site Map Scheduled Cache Re-builder_ is not invalidating the cache for tenant sites.

**Branch:** feature/tenantstate

**Steps to Reproduce:**
1. Set the _Site Map Scheduled Cache Re-builder_ OSGi configuration to `0 45 * ? * * *`. This should run every hour at the 45 minute mark.

**Observed Results**
Cache is not invalidated and sitemap remains unchanged.

**Expected Results**
Cache

[2020-09-01 20:57] ehdatheadwire commented on #529
This could be very very helpful to me personally as I produce component skeleton pages while we figure out how we want those to operate. Any chance we can get this implemented sooner rather than later?

[2020-09-01 22:05] GastonGonzalez opened #534 "Document replication use cases"
The goal of this ticket is to identify all of the peregrine replication use cases. For now, let's ignore the actual replication implementation (i.e. Local FS Replication, Local Replication, Remote Replication, etc.) and focus on defining the use case on how replication should work.

1. Document use cases under the `docs/public/replication` folder.
2. Create `docs/public/replication/index.md`. This

[2020-09-01 22:21] GastonGonzalez commented on #529
@ehdatheadwire This has been implemented and merged to the feature/tenantstate branch.

[2020-09-02 07:14] flx-sta commented on #523
~~@reusr1 what is the "first domain name configured"?~~

~~I can't find such a configuration on the website settings page~~

[2020-09-02 12:05] reusr1 opened #536 "generic tab component"
we need a generic tab component allowing us to create vertical and horizontal tabs with text labels and/or icons for the admin console.

the xml structure to configure the component should be similar to for example the subnav component

[code]

[2020-09-03 13:25] reggie7 commented on #533
Hey, I have checked it locally on the given branch. [com.peregrine.sitemap.impl.ScheduledSiteMapStructureCacheReBuilder](http://localhost:8080/system/console/configMgr/com.peregrine.sitemap.impl.ScheduledSiteMapStructureCacheReBuilder) defines a **Scheduler Expression** and at the given time the task calls [com.peregrine.sitemap.impl.ScheduledSiteMapStructureCacheReBuilder](http://localhost:8080/s

[2020-09-04 16:42] reggie7 commented on #533
Additional issue noticed to get fixed:
1. Re-builder removes cache
2. It marks stuff to be rebuild
3. Debouncer starts counting time
4. Only when the debounce interval elapses - the cache gets back in place
The problem: in the meantime the cache dissapears.

[2020-09-04 16:43] GastonGonzalez commented on #533
@reggie7  - I reviewed this branch in dev and the cache invalidation works now. Before I merge this, here's what I'd like to see.

1. Please create a branch off `feature/tenantstate`  so that we have a cleaner merge.
2. Fix this new issue: The cache gets removed after the rebuilder marks stuff to get re-cached and before the debounce time elapses.
3. Check the replication state when adding items t

[2020-09-04 17:44] GastonGonzalez commented on #534
@reggie7 - Please add a use case that covers how the sitemap is updated upon replication. My opinion is that we should only include pages in the sitemap that have been replicated.

[2020-09-04 17:50] GastonGonzalez opened #540 "Site Map should only include pages that are replicated"
**Dependencies**
1. [issues/533](https://github.com/headwirecom/peregrine-cms/issues/533)

**Steps to Reproduce**
1. Add a page to a site
2. Invalidate the site map cache manually or wait for the invalidation window to elapse (issues/533 needed)
3. Visit /content/_tenant_/pages.sitemap.xml

**Actual Behavior**
New page is included in site map.

**Expected Behavior**
Only replicated pages are inclu

[2020-09-08 14:31] reusr1 commented on #413
looks good in feature/tenantstate

[2020-09-08 14:31] #413 closed, assigned to smcgrath0

[2020-09-09 12:14] swapnilmmane opened #543 "request.getLocale() results in UnsupportedOperationException exception for readNode.json API"
A explanation of this issue is available in this video https://youtu.be/wG1wFIb6-98

While adding the support of localizing content in JSON response using experiences (https://github.com/hotwax/peregrine-cms/pull/35), we need the locale to fetch the language from request.

It works well for all the request, but for (readNode.json)
http://localhost:8080/perapi/admin/readNode.json/content/themeclean

[2020-09-09 12:20] reusr1 commented on #543
I assume this is because the intra sling caller may not forward the accept language header:
https://github.com/headwirecom/peregrine-cms/blob/d9123cdd93d5f317ac70e473127925443c8a8c21/admin-base/core/src/main/java/com/peregrine/admin/servlets/NodeServlet.java#L82

[2020-09-09 23:39] GastonGonzalez commented on #533
This issue has been resolved with this PR: https://github.com/headwirecom/peregrine-cms/pull/541.

[2020-09-09 23:39] #533 closed, assigned to GastonGonzalez

[2020-09-10 16:56] GastonGonzalez commented on #540
Issue has been resolved and merged into `feature/tenantstate`.

[2020-09-10 16:56] #540 closed, assigned to nobody

[2020-09-10 17:34] GastonGonzalez opened #545 "Referenced page assets not replicating"
Assets referenced on a page are not replicated during page replication.

**Steps to Reproduce**
1. Upload a new image asset
2. Create a new page
3. Open page properties and set the og:image  to the newly uploaded image
4. Publish the page

**Actual Behavior**
Page is replicated, but associated image is not. Check replication by visiting the `sling/staticreplication` directory on the filesystem.

*

[2020-09-10 18:17] GastonGonzalez opened #546 "Unhide child pages from sitemap"
The `excludeFromSitemap` page property currently hides pages set to `true` as well as its children. We need to provide the ability for child pages to be included in the sitemap if desired.

Many sites have the concept of bucket pages that may be used for organizing content. For example:

[code]

We need the ability to allow child pages under a parent page to be allowed, if desired by the user, to

[2020-09-11 14:26] reggie7 commented on #546
I would go with the last solution too. I can see 2 places where the [peregrine-cms](https://github.com/headwirecom/peregrine-cms) ([explorer](https://github.com/headwirecom/peregrine-cms/blob/feature/tenantstate/admin-base/ui.apps/src/main/content/jcr_root/apps/admin/components/explorer/template.vue#L537) + [explorer_dialog](https://github.com/headwirecom/peregrine-cms/blob/feature/tenantstate/pag

[2020-09-11 14:36] reggie7 commented on #546
I also see another case that we have to treat the same way I guess. Let's take an example of the structure from above. Let's say we have published `/content/pages/site/posts/2020/09/post1` only, but we have not done that for `/content/pages/site/posts/2020/09`. The current replication mechanism will neither replicate ancestor pages to `staticreplication` nor mark them with `per:Replicated` in the

[2020-09-13 14:17] reusr1 commented on #516
closing as this has been merged

[2020-09-13 14:17] #516 closed, assigned to nobody

[2020-09-13 14:26] reusr1 opened #549 "when creating a website as a non admin user we do not check if the website name is available"
the current check at https://github.com/headwirecom/peregrine-cms/blob/d9123cdd93d5f317ac70e473127925443c8a8c21/admin-base/ui.apps/src/main/content/jcr_root/apps/admin/components/createtenantwizard/template.vue#L199-L213 should call the backend to see if the name is available, we probably should dedupe the call to avoid a lot of requests while typing

[2020-09-14 16:32] cmrockwell commented on #545
What's interesting is that following these steps, I was not able to reproduce the problem on my fork when using the Web Publishing modal. The new asset referenced in the og:image property was included in the replication package.

<img width="1515" alt="Screen Shot 2020-09-14 at 12 26 32 PM" src="https://user-images.githubusercontent.com/1811207/93112610-35fc5000-f686-11ea-93c8-a950d149f4bd.png">

[2020-09-14 18:34] GastonGonzalez commented on #545
Interesting. I haven't tried the web publishing modal on your branch, just the quick publish global icon. I'll have to look at your branch again. At any rate, @reggie7 has a fix that I'll be reviewing later today.

[2020-09-14 20:21] cmrockwell commented on #545
I was going to take a look and merge it into mine as well, but this branch comes from feature/tenant and not develop, so it is hard to evaluate.

[2020-09-15 18:48] GastonGonzalez commented on #545
Confirmed fix. Fix merged into feature/tenantstate.

[2020-09-15 18:48] #545 closed, assigned to reggie7

[2020-09-16 02:51] #397 closed, assigned to reusr1

[2020-09-16 18:53] reggie7 opened #555 "New tenants' resources published by default"
When an author creates a new tenant/site from the same website theme that was previously replicated already - the resources created for it are already marked as published, even though they're actually not.

**Branch**: [develop-sling12](https://github.com/headwirecom/peregrine-cms/pull/508)

## Steps to Reproduce
1. Grab a new peregrine instance with e.g. themeclean-flex theme installed.
1. Create

[2020-09-16 18:54] reggie7 commented on #555
I'm adding it here to keep an eye on this problem, but fortunately @reusr1 has already solved it. Let's check it and close the issue once the solution gets merged.

[2020-09-17 09:26] reggie7 opened #556 "Site Setup Replication needs better UI/UX"
When an author presses **site setup replication** there is not enough visual indication of what's actually going on. The process might take a while and the only thing that happens is that the page gets a bit gray. It's not even disabled from interaction. When I come back to it after e.g. switching tabs I have no idea whether the process succeeded or failed. I don't even know whether it has finishe

[2020-09-17 09:31] reggie7 commented on #556
It's in progress: ![progress](https://user-images.githubusercontent.com/5563546/93452727-0f822300-f8d9-11ea-8055-961542eecc43.png)
It's gray, but one could easily think it's the default look'n'feel. And we have no idea what is going on.

[2020-09-17 10:24] reggie7 opened #557 "Site replication does not delete removed resources"
When an author performs **site setup replication**, the process does not handle removed resources.

**Branch**: [develop-sling12](https://github.com/headwirecom/peregrine-cms/pull/508)

## Steps to Reproduce
1. Grab a new peregrine instance with e.g. themeclean-flex theme installed.
1. Create new website _A_.
1. Invoke **Site Setup Replication**.
1. Remove some pages from your website.
1. Invoke *

[2020-09-17 11:22] reggie7 opened #558 "Deleted resource stays in replication cache"
When an author removes a page / asset / object / template, the process does not handle cleaning the replication cache.

**Branch**: [develop-sling12](https://github.com/headwirecom/peregrine-cms/pull/508)

## Steps to Reproduce
1. Grab a new peregrine instance with e.g. themeclean-flex theme installed.
1. Create new website _A_.
1. Invoke **Site Setup Replication**.
1. Remove a page / asset / obje

[2020-09-17 13:29] reggie7 opened #559 "'Unpublish' does not work for page / object / template"
When an author tries to unpublish a page / object / template, the process does not succeed.
There is also no visual indication of the process in progress.

**Branch**: [develop-sling12](https://github.com/headwirecom/peregrine-cms/pull/508)

## Steps to Reproduce
1. Grab a new peregrine instance with e.g. themeclean-flex theme installed.
1. Create new website _A_.
1. Create a page / object / templ

[2020-09-17 13:30] reggie7 commented on #559
![unpublish](https://user-images.githubusercontent.com/5563546/93476955-b0cda100-f8fa-11ea-87cd-5181ca2b555e.png)

[2020-09-17 13:44] reggie7 opened #560 "Removing a referenced template breaks its pages"
When an author removes a referenced Template - its pages get locked for editing.

## Steps to Reproduce
1. Grab a new peregrine instance with e.g. themeclean-flex theme installed.
1. Create new website _A_.
1. Create a template _T_.
1. Create a page P out of _T_.
1. Remove _T_.
1. Open _P_.

**Expected Result**: _P_ is editable or _T_ cannot be removed.
**Actual Result**: _P_ is locked _T_ is gone

[2020-09-17 13:45] reggie7 commented on #560
![template-gone](https://user-images.githubusercontent.com/5563546/93479600-cb087e80-f8fc-11ea-97ad-f2251d1c36d0.png)

[2020-09-17 14:03] cmrockwell commented on #559
Thank you @reggie7 for reviewing this work. It's a big help because most of my focus is on the remote replication use-case. I will review your procedure and report back.

[2020-09-17 15:27] GastonGonzalez commented on #559
Thanks for looking into this, @cmrockwell. Let us know if you need help with it or want us to take it.

[2020-09-17 17:27] cmrockwell commented on #559
So, I'd like to take this opportunity to add more Sling Junit tests. It would be useful IMO to have this kind of coverage for each replication use-case. I've found these tests indispensable for redeploying instances using the remote replication. Having test suites for each replication use-case should allow refactoring with more assurances.

[2020-09-18 12:00] reggie7 opened #561 "develop branch fails on Windows"
Error observed:

[code]

[2020-09-18 22:53] cmrockwell commented on #559
I have a branch for this....
https://github.com/headwirecom/peregrine-cms/tree/issues/559-deactivate-not-working-for-localFS

The tests are passing
![image](https://user-images.githubusercontent.com/1811207/93651553-e0a2a480-f9df-11ea-9921-378bf0dd3be8.png)

Deactivate seems to work
![image](https://user-images.githubusercontent.com/1811207/93651590-0334bd80-f9e0-11ea-81b5-72b74bc72c14.png)

Still

[2020-09-21 15:14] GastonGonzalez opened #566 "Sling12: Tenant user permission issue"
**Overview**
Tenant users are unable to log into Peregrine and access the admin console.

**Steps to Reproduce**
1. Use Java 11, Sling12 and deploy  the `develop-sling12` branch.
2. As admin log in.  Then, create a site and assign a password.
3. Log out as admin.
4. Log in as the newly created tenant user.

**Expected Behavior**
Tenant user has the necessary the permissions to access the admin con

[2020-09-23 12:42] reggie7 opened #568 "Exceptions on develop-sling12 peregrine startup"
These are Exceptions that I get when running `java -agentlib:jdwp=transport=dt_socket,address=8001,server=y,suspend=n -jar org.apache.sling.feature.launcher.jar -f com.peregrine-cms.sling.launchpad-12-SNAPSHOT-oak_tar_fds_far.far -D sling.runmodes=author,notshared,oak_tar_fds -p sling` on Windows with the branch [develop-sling12](https://github.com/headwirecom/peregrine-cms/tree/develop-sling12):

[2020-09-23 12:50] reggie7 opened #569 "Composum broken in develop-sling12"
Something is wrong with **Composum** in [develop-sling12](https://github.com/headwirecom/peregrine-cms/tree/develop-sling12):

![Composum](https://user-images.githubusercontent.com/5563546/94014411-c71ca680-fdab-11ea-811c-3f569e965b56.png)

The cause is a `js` exception, not the above mentioned access issues:

![js](https://user-images.githubusercontent.com/5563546/94014504-ec111980-fdab-11ea-8dba

[2020-09-23 12:57] reusr1 commented on #569
@reggie7 have you tried clearing caches? I currently do not see this issue but I also remember somebody else having an issue with composum and sling9 that was caused by a javascript error like this.

[2020-09-23 14:01] reggie7 commented on #569
Sadly I have cleared cache, tried incognito too...

[2020-09-23 15:25] cmrockwell commented on #568
Thanks for this ticket. I have seen the exceptions about `com.peregrine.admin.replication.impl.ReplicationMixinNodeTypesOverride` it is something that should be fixed, but hasn't caused other issues for my instances. I viewed that as something that is annoying we need to clean up, but not cause or reflective a bigger issues. Could be wrong, but my replication use cases and testing indicate that it

[2020-09-23 15:29] cmrockwell commented on #568
Regarding the other one.

ERROR: bundle org.apache.sling.settings:1.4.0 (22)[org.apache.sling.settings.impl.SlingPropertiesPrinter(1)] :  Error during instantiation of the implementation object
java.lang.reflect.InvocationTargetException
        at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at java.base/jdk.internal.reflect.NativeConstructorAcc

[2020-09-23 15:32] cmrockwell commented on #569
Some questions that maybe will help figure out what's happening.

1. What does `java -version` report for Java version?
2. Can you report details about the bundles http://localhost:8080/system/console/bundles
- How many active? How many installed? Any other statuses?
3. Do you see response codes 503 for any URL's? For example, does http://localhost:8080/system/sling/form/login work?

I have other

[2020-09-23 19:59] reusr1 commented on #569
@reggie7 and you try again? for me at least this is fixed by https://github.com/headwirecom/peregrine-cms/commit/f4735263c769e37aafcffddbae72595063aad7c2

[2020-09-23 21:13] reggie7 commented on #569
@cmrockwell

[code]

All bundles up and running. No 503, login page is working.

[2020-09-24 15:39] GastonGonzalez commented on #568
@cmrockwell,  I noticed the same exception and was also able to test replication without issue. I don't see an issue with your proposed fix, but I'll defer to @reusr1.

[2020-09-24 17:10] reusr1 commented on #568
@GastonGonzalez @schaefa is the replication master, not me. Would love to get his opinion on this

[2020-09-24 21:48] GastonGonzalez commented on #566
This issue has been resolved and merged with this PR: https://github.com/headwirecom/peregrine-cms/pull/571

[2020-09-24 21:48] #566 closed, assigned to GastonGonzalez

[2020-09-28 12:21] flx-sta commented on #521
Whats the status of this. Did we agree on anything?
@reusr1 can i close this?

[2020-09-29 20:52] GastonGonzalez commented on #559
Merge complete for this PR: https://github.com/headwirecom/peregrine-cms/pull/575. It resolved the issues described.

[2020-09-29 20:52] #559 closed, assigned to nobody

[2020-09-29 22:11] GastonGonzalez opened #576 "Tenant packages do not include ACLs"
Peregrine creates a content package definition when a tenant is created (i.e. _sometenant_`-full-package-1.0.zip`). Currently, the package definition does not set a value for AC handling. This poses a problem if content is migrated between Peregrine instances.

**Use Case**
1. There are two Peregrine instances: _source_ and _target_.
2. A content package is created on the source system with filter

[2020-09-30 05:41] #523 closed, assigned to flx-sta

[2020-09-30 05:41] #536 closed, assigned to flx-sta

[2020-10-02 15:30] GastonGonzalez opened #577 "Prevent delete operation if published"
The goal of this ticket is to ensure that Peregrine does not allow users to delete a resource if it's in a published state. This should be enforced in the admin UI as well as the API. This change should help mitigate state issues related to replication.

**Use Case**
TODO: @reggie7 - please consider the impact and changes needed for delete|move|copy|rename|...

[2020-10-05 11:15] reggie7 opened #578 "Removing component from page does not mark it as updated for replication"
Just as the title suggests, deletion of a component within a pge does not trigger replication status icon update
# Steps to reproduce
1. Create a new page,
1. Add an image to the page,
1. Publish all the changes,
1. Remove the image.

**Expected result**: the world icon button indicates that the page got updated and needs re-publishing.
**Actual result**: the world icon button indicates that the p

[2020-10-05 11:27] reggie7 opened #579 "Reference component may cause OutOfMemoryError"
One can easily break the page with the Reference component.
# Steps to Reproduce
1. Add new page,
1. Add Reference component,
1. Point it to the same page.

**Expected Result**: no big deal, system handles it somehow.
**Actual Result**: `java.lang.OutOfMemoryError`:
[code]

![outofmemoryerror](https://user-images.githubusercontent.com/5563546/95074242-7d6a7f00-070e-11eb-969d-0e9223a0e33f.png)

[2020-10-05 11:32] reggie7 opened #580 "Reference component can break the page loading"
One can easily break the page with the Reference component in yet [another way](https://github.com/headwirecom/peregrine-cms/issues/579).

# Steps to Reproduce
1. Add new page,
1. Add Reference component,
1. Point it to a different page,
1. Save everything,
1. Reload the page.

**Expected Result**: no big deal, system renders the page properly.
**Actual Result**: `loading: Home Test`:
![reference_

[2020-10-05 15:13] GastonGonzalez commented on #578
Good catch, @reggie7.

[2020-10-05 20:36] reusr1 opened #581 "use title instead of name in admin UI"
A couple of areas in the admin UI default to the node name for display instead of the title (such as the display of the current tenant or the page navigation while editing a page. Please go through the UI and make sure we always display the title if available instead of the node name (node name should be fallback).

[2020-10-06 06:12] #521 closed, assigned to flx-sta

[2020-10-06 11:57] flx-sta opened #582 ""loadToolsNodesPath" causes title of parent to change"
### Initial state
![image](https://user-images.githubusercontent.com/50131232/95198621-cccab100-07db-11eb-9dd5-800026efe856.png)

###expanded state
![image](https://user-images.githubusercontent.com/50131232/95198640-d6541900-07db-11eb-8231-6d374e572ad7.png)

[2020-10-06 11:59] flx-sta commented on #582
I've added a watch to `item.title`
[code]
getting this output:
![image](https://user-images.githubusercontent.com/50131232/95198821-2206c280-07dc-11eb-8f31-e1c77152c720.png)

[2020-10-06 13:19] flx-sta commented on #581
@reusr1 went through the pages to fix that

see #583

[2020-10-07 00:27] GastonGonzalez commented on #581
Local testing looks good. Confirmed friendly title on tenant page and on dropdown while editing page.

[2020-10-07 00:27] #581 closed, assigned to flx-sta

[2020-10-07 13:37] reggie7 commented on #578
@reusr1 - reproducible in [`develop`](https://github.com/headwirecom/peregrine-cms/tree/develop) + [`develop`](https://github.com/headwirecom/themeclean-flex/tree/develop).

[2020-10-07 20:13] reggie7 commented on #577
Looking at how the structures will be affected - _move_/_rename_ will be painful to implement :( Both of these operations should probably not be blocked for the author by the replication status. Tha's my gut feeling.
_Copy_ only requires us to skip the replication properties.

[2020-10-07 20:17] reusr1 commented on #577
@reggie7 @GastonGonzalez @cmrockwell it feels to me like pages probably should not be deletable/movable once published until they unpublished again?

[2020-10-07 20:29] reggie7 opened #586 "Publishing secondary items causes a js error"
# Steps to reproduce
1. Open **Pages** console.
1. Disable secondary items filter.
1. Replicate e.g. `robots.txt`.

![view](https://user-images.githubusercontent.com/5563546/95383853-10144500-08ec-11eb-8442-95bafaf4891d.png)

**Expected Result**: Item gets replicated.
**Actual Result**: `js` error occurs.

![error](https://user-images.githubusercontent.com/5563546/95384137-77ca9000-08ec-11eb-87f5-

[2020-10-07 21:49] GastonGonzalez commented on #577
@cmrockwell I agree. Anything that puts the published cache or publish/live server in a stale/invalid state should be prevented. We'd like to handle the move/rename in a separate ticket as a fast follower.

[2020-10-08 13:42] reggie7 opened #587 "Delete operation: reference issue"
[Use Case](https://github.com/headwirecom/peregrine-cms/pull/585#issuecomment-705182976)
1. Create a page (p1) and publish it.
2. Create a second page (p2). Add a card component and create a card that links to (p1). Publish p2.
3. Unpublish p1.
4. Delete p1.

Observed Behavior
1. p1 is allowed to be deleted.

Expected Behavior
1. p1 is referenced in p2. It should not be allowed for deletion.

[2020-10-08 15:59] GastonGonzalez commented on #577
This issue has been resolved. A new issue will be logged to provide similar support for move and copy operations.

[2020-10-08 15:59] #577 closed, assigned to GastonGonzalez

[2020-10-08 16:01] GastonGonzalez opened #588 "Prevent move and rename operations if published"
The goal of this ticket is to ensure that Peregrine does not allow users to move or rename a resource if it's in a published state. This issue is related to [issues/577](https://github.com/headwirecom/peregrine-cms/issues/577) and should help mitigate state issues related to replication.

[2020-10-08 21:29] reusr1 opened #589 "issue while creating docs site from markdown files"
Maven build fails during markdown to page conversion.

[code]

[2020-10-08 21:32] reusr1 commented on #589
https://github.com/headwirecom/peregrine-cms/commit/25be373e5839b32835ae8141d1ac39e834333fc2

[2020-10-08 21:37] GastonGonzalez commented on #589
Confirmed that the build succeeds and that the docs site is properly generated in Peregrine: http://localhost:8080/content/admin/pages/pages/edit.html/path:/content/docs/pages/public

[2020-10-08 21:37] #589 closed, assigned to nobody

[2020-10-08 22:16] GastonGonzalez commented on #447
@reusr1 - Are you thinking that this feature would include support for invitations via email? If so, we would need to find a flexible solution for adding a mail interface and suppport for a pluggable mail service implementation (e.g. local MTA, configurable SMTP, third-party service like Sendgrid, a serverless function, API, etc.).

I performed a quick search and found this OSGi bundle for Sling:

[2020-10-09 13:34] reusr1 commented on #447
@GastonGonzalez I think an invitation link should be sufficient for now

[2020-10-09 16:19] reusr1 opened #591 "breaking rendering of pages through dropping component on page"
steps to reproduce:

- create a site with themecleanflex
- create a page based on the article skeleton page
- drop a rich text component onto the 'related content' tile

result: page rendering is broken

[2020-10-09 16:23] reusr1 commented on #591
@Felix-Puetz not sure why we even allow dropping of a component onto that title - the component itself does not allow children - the only place we really should be allowed to drop a component is in the container (and the component should be added after the components from the template)

[2020-10-10 15:11] reusr1 commented on #576
@GastonGonzalez in my opinion this should not be fixed with the current package format. Packages in sling are installed at the oak level and therefore can always cause security and access issues due to the nature of their purpose. In our case we have to start thinking about a different format (and such a format could also be a good candidate for a sling contribution)

[2020-10-10 15:12] reusr1 commented on #561
@reggie7 has this issue been addressed?

[2020-10-10 15:14] reusr1 commented on #543
@swapnilmmane - trying to clean up tickets a bit :-) has this issue been taken care of or are you still having problems with this?

[2020-10-10 15:15] reusr1 commented on #549
@GastonGonzalez we really need to address this one due to kestrel1

[2020-10-10 15:17] reusr1 commented on #522
issue is fixed

[2020-10-10 15:17] #522 closed, assigned to nobody

[2020-10-10 15:19] reusr1 commented on #513
@cmrockwell I assume this is all addressed in the sling12 branch, right? should we close this ticket?

[2020-10-10 16:33] GastonGonzalez commented on #576
@reusr1 - You make a good point. Are you thinking of a simple DSL or JSON structure that describes the include/exclude paths, then layer on some application logic that inspects the current user's repository access to ensure that they are only able to read/write (export/import) data to which they have access?

[2020-10-10 16:34] GastonGonzalez commented on #549
Thanks, @reusr1. I'll take this.

[2020-10-12 07:50] reggie7 commented on #561
@reusr1 yes, in `develop-sling12` it has. It's still there in `develop`, so I moved it there too. Please check [the PR](https://github.com/headwirecom/peregrine-cms/pull/592) and we can close this issue here.

[2020-10-12 12:12] swapnilmmane commented on #543
Hi @reusr1,
I am still facing this issue (Tested with the latest develop branch),
Here are the steps to reproduce https://github.com/headwirecom/peregrine-cms/issues/543#issue-696762114
Thank you!

[2020-10-12 13:08] flx-sta commented on #591
@reusr1
I've tested a bunch of stuff out and checked out what unwanted behaviours my change would cause but it seems like this case was never fully relevant till now.
Here is what i changed:
![image](https://user-images.githubusercontent.com/50131232/95750024-d43b0000-0c9c-11eb-8278-17a83020a20a.png)

with that components given from the template and not beeing a droptarget can no more the droped a

[2020-10-12 14:16] reusr1 commented on #576
@GastonGonzalez I was thinking of a more generic dsl format where one can provide an implementation per project or provide more generic implementations as well

in our case we'd like to (as far as I know)
- define an owner of a site
- add other users to the site
- import or negotiate a tenant name for the site
- deal with the replication state of the content (do we have to replicate the content wh

[2020-10-12 17:04] GastonGonzalez opened #595 "Add support for a simple HTTP server"
In order to streamline the testing of the static file system replication implementation (i.e. localFS), a Maven profile shall be added that starts a Node.js HTTP server in the `staticreplication` folder.

https://www.npmjs.com/package/http-server

[2020-10-12 17:43] GastonGonzalez commented on #540
Resolved with this PR: https://github.com/headwirecom/peregrine-cms/pull/590

[2020-10-14 12:19] reggie7 opened #602 "Inconsistent UX of Delete operation"
We would need to use the same confirmation dialods for both delete buttons. Currently the one under **Actions**

![delete](https://user-images.githubusercontent.com/5563546/95987666-062c9d80-0e28-11eb-9368-5721b4899e49.png)

uses

![confirm](https://user-images.githubusercontent.com/5563546/95987677-0cbb1500-0e28-11eb-93c6-5bbd0c510946.png)

while I assume that the proper one would be

![proper](h

[2020-10-14 16:12] GastonGonzalez opened #603 "Update sitemap to support replicated version"
**Objective**
Update the sitemap implementation to use page property values of the current version label for each page resource listed in the site map.

These three page properties should use the latest replicated version label values: priority; changefreq; and lastmod.
[code]

**Design Considerations**
We are looking at a future enhancement to add similar versioning support to resources replicate

[2020-10-14 17:58] GastonGonzalez commented on #588
Issue resolved with this [PR](https://github.com/headwirecom/peregrine-cms/pull/601).

[2020-10-14 17:58] #588 closed, assigned to reggie7

[2020-10-14 18:40] GastonGonzalez opened #604 "Startup exception in Sling12"
When Peregrine is started with Sling12, using the `develp-sling12` branch, the following exception is thrown.

[code]

**Steps to Reproduce**
Start Sling using the Feature Archive.

**NOTE: Adjust the paths accordingly**
[code]

**Resolution**
This is a Sling issue which has been resolved with [SLING-9648](https://issues.apache.org/jira/browse/SLING-9648).

The current FAR for Peregrine  is using

[2020-10-14 18:45] GastonGonzalez opened #605 "Migrate Sling12 Feature Model Launcher to Kickstarter"
The `develop-sling12` branch is currently using the Feature Model Launcher to start Sling12. The goal of this ticket is to move to the [Kickstarter](https://github.com/apache/sling-org-apache-sling-kickstart).

[2020-10-14 18:48] GastonGonzalez opened #606 "Create script to determine when Sling bundle versions change"
In order to keep Peregrine current with the latest version of Sling, currently Sling12, a script shall be created to determine which Sling dependencies our out of date.

[2020-10-15 06:23] reggie7 opened #607 "Version does not refresh on replication"
# Steps to Reproduce
1. Create a new site,
1. Open Pages,
1. Select a Page,
1. Open **page-versions** tab on the right,
1. Replicate the page with the _world_ button,
1. Dismiss the _Success_ dialog.

**Expected Result**: The right panel gets refreshed and a new version is shown.
**Actual Result**: There's no new version until we refresh the view ourselves.

![versions](https://user-images.githubu

[2020-10-15 06:23] reggie7 opened #608 "Site Setup Replication does not create versions"
# Steps to Reproduce
1. Create a new site,
1. Perform **Site Setup Replication**,
1. Check versions tab of any page.

**Expected Result**: The page has a new version with **Published** label.
**Actual Result**: There's no new version.

![action](https://user-images.githubusercontent.com/5563546/96083774-2c048180-0ebe-11eb-891c-6b9ffb6ad657.png)

![result](https://user-images.githubusercontent.com/

[2020-10-15 08:26] reggie7 opened #609 "Replication icon does not refresh after page edit"
# Steps to Reproduce
1. Create a new page,
1. Publish the page,
1. Select the page in Pages console,
1. Edit the page in the right panel,
1. Save changes.

**Expected Result**: The replication status icon updates to modified.
**Actual Result**: The icon does not refresh.

![props](https://user-images.githubusercontent.com/5563546/96097032-c66dc080-0ed0-11eb-986c-c234cc31e3a7.png)

[2020-10-15 17:35] GastonGonzalez commented on #608
@reggie7 - Please address this as part of https://github.com/headwirecom/peregrine-cms/pull/610.

[2020-10-15 17:44] GastonGonzalez commented on #608
@reggie7 - We should also consider how we create version labels when the "Site Setup Replication" is used. Since the Site Setup Replication can be invoked at any time in the tenant site's life cycle (e.g. existing site vs newly created site), I think we should only create a version label if a given resource does not have one.

[2020-10-15 17:52] reusr1 commented on #608
@GastonGonzalez you probably mean to only create a new version if the page has been changed since the last replication or has never been replicated, right?

[2020-10-15 18:15] reggie7 commented on #608
I'd suggest to keep the logic similar, if not the same, to what happens after we click replicate in the Pages UI: page gets published, new version gets created and it is assigned _Published_ label. After all isn't _Site Setup Replication_ more or less just a batch publish/activate/replicate action?
But since we do such batch here - maybe additionally we could indeed add a unique label, consisting

[2020-10-15 19:49] GastonGonzalez commented on #608
Yes. Thanks for clarifying. @reusr1

[2020-10-15 19:52] GastonGonzalez commented on #608
@reggie7 , Great suggestion. Let's use the same behavior as used when you manually publish a resource. I think adding a unique label with a simple timestamp would be good if it does not complicate the implementation too much.

[2020-10-15 22:56] GastonGonzalez opened #611 "Unable to delete tenant"
**Branch:** develop-sling12

**Steps to Reproduce**

_Preconditions:_
1. One or more tenant sites already exist.

_Steps:_
1. Open a clean browser session.
2. Log into Peregrine as admin.
3. Click the delete icon.

Observed Behavior:
1. Site is not deleted.
2. The following JavaScript error is thrown:
[code]

_Expected Behavior:_
1.. User is prompted to confirm tenant deletion.
2. If accepted, ten

[2020-10-16 07:48] reggie7 opened #612 ""Create new ... version" could allow a label input"
Maybe we could allow the user to input version labels?

![versions](https://user-images.githubusercontent.com/5563546/96227672-b9b2a080-0f94-11eb-990d-241e07e9b545.png)

[2020-10-16 12:56] reusr1 commented on #612
@reggie7 is there a specific purpose for that? and since we're using version labels now for other purposes (such as marking a replication) could that not lead to trouble?

[2020-10-16 13:57] cmrockwell opened #613 "Links in Text Editor"
There are a couple of edge cases that produce weird results in the Text Editor

### Scenario 1
Given I am editing a site based on Theme Clean Flex
And I add a Rich Text component to a newly created blank page
Given I enter text 'paragraph' and do not save the component

Given I highlight the text and click either link button
After I select a page creating the link
Then the selected text is linked

[2020-10-16 14:17] reggie7 commented on #612
@reusr1 it's a proposal from my side to enhance the functionality of versions, something to discuss (did not necessarily have to be a ticket, but such form allows to better contain stuff on a single topic).
Anyway, since we already allow the authors to see labels and they can create versions, I thought - why not allow them to label new versionsas they wish. Maybe we could actually allow a name ins

[2020-10-16 14:40] reusr1 commented on #612
@reggie7 nothing against the idea - I am more wondering what the use case for it would be (other than its nice to be able to set labels when versioning) and how we would deal with the `published` label so we dont have accidentally somebody label  a version `published` and create issues due to that.

[2020-10-16 14:44] reusr1 commented on #612
@reggie7 @cmrockwell @GastonGonzalez one good point this brings up: should we somehow namespace our 'published' label to begin with so we do not run into an issue with this in the future in case we do want to add the ability to label versions through the UI?

[2020-10-16 15:16] cmrockwell commented on #569
My understanding was that it was resolved by ensuring settings for the admin allowlist were properly effective.
As mentioned in this [Composum issue 105](https://github.com/ist-dresden/composum/issues/105), their bundles require loginAdministrative, and that needs to be configured.

If someone experiences this type of issue, they can confirm first whether /system/console/configMgr has the admin se

[2020-10-16 15:39] GastonGonzalez commented on #612
@reggie7 - Thanks for proposing the idea. Here are my thoughts:
1. We should absolutely consider using a namespace for encoding version labels created on publish events. As @reusr1 mentioned, this will give us flexibility in the future. If we take up this work, I would handle this as a separate PR.
2. I have concerns around user-defined labels. This has UI, validation and consistency implications.

[2020-10-16 16:03] GastonGonzalez opened #614 "Update localFS replication to support version labels"
This feature request is similar to [issues/603](https://github.com/headwirecom/peregrine-cms/issues/603). The goal is to update the"localFS" replication service to publish static files in such a way that the generated files take into account the current published version label for each resource. For example, a generated page should use the current published version for the following resources:
* P

[2020-10-19 17:41] GastonGonzalez commented on #605
@schaefa - What is needed to move this forward?

[2020-10-19 20:05] reggie7 opened #615 "Copy operations fail on versioned resources"
Copy operations fail if a version label exists for a resource. This issue manifests itself in multiple areas, but the root cause exists in the core resource copy methods in Peregrine. Here are three use cases that fail:

1. Page copy (develop-sling12)
1. Skeleton copy (issues/603-update-sitemap-to-support-replicated-version)
1. Site replication (issues/603-update-sitemap-to-support-replicated-vers

[2020-10-19 20:39] reusr1 commented on #615
@reggie7 are you trying to create a page in the skeleton page area or outside of the skeleton page area?

[2020-10-19 21:08] reggie7 commented on #615
Initially I tried outside, but I've just confirmed the same issue inside `skeleton-pages` folder. Is that what you meant by the _area_ @reusr1?

[2020-10-20 00:06] GastonGonzalez commented on #615
@reggie7 - Please fix this issue first. Create a new branch off `develop-sling12`. Once the core copy issue is resolved we can revisit [PR 610](https://github.com/headwirecom/peregrine-cms/pull/610).

[2020-10-20 17:00] GastonGonzalez commented on #615
Resolved by this [PR](https://github.com/headwirecom/peregrine-cms/pull/616).

[2020-10-20 17:00] #615 closed, assigned to nobody

[2020-10-20 20:02] GastonGonzalez commented on #603
Fixed with this https://github.com/headwirecom/peregrine-cms/pull/610

[2020-10-20 20:02] #603 closed, assigned to GastonGonzalez

[2020-10-21 11:18] GastonGonzalez opened #617 "Filter secondary items toggle and exclude from site map"
The *exclude from sitemap* page property and *filter secondary items* should not be bound together. Exclude from sitemap should only be used to prevent a page from appearing in the sitemap. Instead, *filter secondary items* uses this field to hide pages from page navigation.

**Use Case**
1. Create a skeleton page (i.e Blog with Recommendations)
2. Set the *exclude from sitemap* property to `true`

[2020-10-21 11:29] reusr1 commented on #617
@GastonGonzalez makes sense to decouple the two use cases - unfortunately we do not have a overall way right now to filter out the supporting files in the folder as well as the supporting directories like **errors, css** and **js** - the solution therefore has to include a fix for these folders as well

[2020-10-21 11:37] GastonGonzalez commented on #617
Sounds fair, @reusr1. Thanks for the speedy response. This one can wait, but thought I would raise it while creating content this morning as it took me out of the creative writing process. Do we have a design ticket for handling supporting files?

[2020-10-21 16:07] cmrockwell opened #618 "Server Side HTL (pagerenderer/server)"
### HTL Use Case Overview
How to incorporate HTL Sightly? It may be common problem, because devs might need to use HTL instead of Vue rendering on the clientside. An HTL theme could grow and be supported as it would serve as an example removing a barrier migrating htl apps.

### Current Condition
Peregrine CMS has server side rendering support from `peregrine-cms/pagerenderer/server`

### Problems

[2020-10-22 15:21] GastonGonzalez opened #619 "External URL links do not work in RTE"
**Branch**: `develop-sling12`

**Steps to Reproduce**
1. Create a page
2. Add Rich Text component
3. Enter a piece of text (I am an external link)
4. Highlight the text and click the link icon
5. Click the third tab to get the external link settings

**Observed Behavior**
Error thrown and user is unable to set external link.

[code]

**Expected Behavior**
User is able to set external link

[2020-10-22 15:22] GastonGonzalez commented on #619
@Felix-Puetz - Can you check if this is an issue in `develop` as well?

[2020-10-22 16:16] cmrockwell opened #620 "Container for pagerenderserver"
**Describe the bug**
Components cannot be added to the example server site template.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:8080/content/admin/pages/templates/edit.html/path:/content/pagerenderserver/templates/base
2. Drag and drop 'Base Component' unto the page content

**Expected behavior**
I expect a hover zone to highlight indicating a drop zone. After dro

[2020-10-22 16:25] cmrockwell opened #621 "Page editing error (pagerenderserver)"
**Describe the bug**
Cannot editing the default component text

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:8080/content/admin/pages/pages/edit.html/path:/content/pagerenderserver/pages/index
1. Observe a JS error upon opening the page
1. Click on text 'peregrine-cms is a basic headless, api first cms built on top of apache sling and apache jackrabbit'
1. Change tex

[2020-10-22 16:51] cmrockwell opened #622 "HTL components in a Vue site"
**User Story**

(current condition)
Given my htl component is used at `componentPath`
And the resource type implements HTL in `htl-comp.html` within apps
Then my component will render when requested directly through the `componentUrl`

(request)
Given `page` is a Vue rendering site
and contains both vue and htl components
When I view `pageUrl`
Then there is an vue wrapper for my htl components tha

[2020-10-22 17:10] cmrockwell opened #623 "Theme HTL"
**Please describe the problem.**
Currently the only way to use HTL in Peregrine is to deploy `pagerenderserver` module. While this can be extended, it is currently quite limited. New HTL sites cannot be created through the UI

**Describe the solution you'd like**
Create a simple theme called 'Theme HTL'

Page components
- working RTE component
- image component

Template components
- drop down nav

[2020-10-22 17:16] reusr1 commented on #623
@cmrockwell would be great to start this in https://github.com/peregrine-cms - maybe we can reuse the fragments from themeclen-flex [1] and update the hatch process at the same time. If we use that approach any site can switch from server to clientside rendering and it would be a great showcase to hatch to vue or htl.

[1] https://github.com/headwirecom/themeclean-flex/tree/develop/fragments

[2020-10-22 17:22] reusr1 commented on #622
@cmrockwell thinking about this a bit we would also have to figure out how we would want to make these components work in the editor - currently vue components enjoy an automatic update when editing the component. With a server side rendered component we currently can only update the rendering at save unless it is an inline change.

there is also an open source implementation of a htl render for n

[2020-10-22 17:45] reusr1 commented on #620
in general the server side rendered container is currently missing the rendering of the placeholder that can be found at [1][2]

the drop target needs to be visible in authoring mode and be of the following form:

[code]
where ${LOCATION} is one of before/after/into - we also have to make sure the appropriate minimal css for this placeholder to render correctly is added to the general site css and

[2020-10-22 17:54] cmrockwell commented on #622
Wouldn't editing HTL (server) components need a refresh hook even if then entire site used server-side rendering? I get that Vue components have it done automatically through data binding. I think a callback pattern to get and refresh a component's state after edits would be needed if server-side components are supported at all by the CMS.

I looked at htlengine for a few minutes. I think it could

[2020-10-22 19:26] cmrockwell commented on #620
I tried adding these suggestions. Seems to help with the initial js error I reported in #621. The base template still does not have a container. I don't see how it's added. Tempting to add one to the base/.content.xml Also the html way was added staticly, so the placeholder shows in preview. In past projects, I've used blended vue in serverside htl  .html and found they play nice

[2020-10-22 21:31] GastonGonzalez opened #625 "Can't create new site if themeclean-flex has versions"
**Branch: develop-sling12**

@reggie7 - I thought this was fixed  with https://github.com/headwirecom/peregrine-cms/pull/610. Maybe something was missed with debasing or merging?

**Steps to Reproduce**
1. Create a site (s1)
2. Replicate s1 using *Site Setup Replication*
3. Create a second site (s1)

**Observed Behavior**
Site creation for s2 fails.

[code]

**Expected Behavior**
Site s2 is create

[2020-10-22 23:33] GastonGonzalez commented on #614
@reusr1 and I had a conversation on how to best move forward with this implementation such that we satisfy the following goals:

1. Abstract the retrieval of the correct version across a resource graph, such that Peregrine developers do not need to think about versions when writing application code (i.e. they get it for free).
2. Abstract the retrieval such that the correct version is returned for

[2020-10-23 06:21] flx-sta opened #626 "Select (checkbox) to move/delete multiple elements at once in explorer"
RIght now if you want to delete, lets say 10, pages you'll have to delete every single one separately.
Not a good user experience.

We should add a like a button to activate the `select-mode` which will show checkboxes in front of (selectable) elements in the explorer  and change the "explorer-preview" on the right side to be only select-actions (move/delete)

### 1 . Approach (Client-Sided)
Just

[2020-10-23 06:24] flx-sta opened #627 "port is not checked before starting up the server"
If there is another application running on port `:8080` and you start sling/peregrine there is no check whether the port is actually available.

[2020-10-23 06:28] flx-sta commented on #619
was able to reproduce it on develop
![image](https://user-images.githubusercontent.com/50131232/96964007-f852d880-1509-11eb-8122-0e5635ef6272.png)

[2020-10-23 06:36] reggie7 commented on #625
[PR](https://github.com/headwirecom/peregrine-cms/pull/628)

[2020-10-23 12:06] reusr1 commented on #627
@Felix-Puetz how do you start sling/peregrine?

[2020-10-23 12:07] flx-sta commented on #627
[code]

[2020-10-23 12:09] reusr1 commented on #627
in that case this is a sling issue and not a peregrine issue - the official way to start sling is through percli and that version tracks the port (but is not fully ready yet for the sling12 version of peregrine)

[2020-10-23 15:31] GastonGonzalez commented on #614
It looks like the correct source project to evaluate is https://github.com/ist-dresden/composum-platform. Per @reusr1 , it looks like this is likely the integration pattern we need to model: https://github.com/ist-dresden/composum-platform/blob/f22628e53d1b3d101d5a63a3a5a09fdfabf49231/services/staging/src/main/java/com/composum/sling/platform/staging/impl/ResourceResolverChangeFilter.java

[2020-10-23 15:44] GastonGonzalez commented on #625
@reggie7 - I am seeing a high number of exceptions in `logs/peregrine.cms.log` when a site is replicated. If these are expected, we should change the log level.

[2020-10-23 17:23] #625 closed, assigned to GastonGonzalez

[2020-10-23 17:37] GastonGonzalez commented on #619
Fixed with this [PR](https://github.com/headwirecom/peregrine-cms/pull/629).

[2020-10-23 17:37] #619 closed, assigned to flx-sta

[2020-10-26 12:06] flx-sta commented on #611
This bug has been annoying me while trying to write some tests for drag & drop so I've provided (as usual) a fix for develop and develop-sling12

[2020-10-26 15:22] cmrockwell commented on #618
I can add components to the template either through the content packages or Composum, and see the content render in the template when viewed directly. But there seems to be fundamental piece missing that should merge the template content to the page content. When I view pages based on the template, I do not see the added template content.

Should this class be used by the page/Helper.java?

https:

[2020-10-26 19:30] cmrockwell opened #636 "Refactor Site Settings"
**Current Condition.**
Site settings are accessed by clicking the upper-left icon then Settings.

It reveals this page
<img width="1186" alt="Screen Shot 2020-10-26 at 2 57 04 PM" src="https://user-images.githubusercontent.com/1811207/97216264-f43de980-179b-11eb-9307-7f6f51ba38a2.png">

Configuring the site domain, css, js and pre-fetch domains requires configuring the Website Root Template.
Click

[2020-10-27 12:23] flx-sta opened #637 "image gets removed after changing dimensions"
### Description
On fresh tenant/website and fresh pages images are delted upon editing their dimensions

### Reproduction
* log into pcms
* Create a new Website
  * press"create" and the end (and not "create and edit!")
* Go to "Pages"
* Create new site
  * press "create and edit!" at the end (and not "create")
* click twice into this rich-text
  * ![image](https://user-images.githubusercontent.co

[2020-10-27 12:38] flx-sta opened #638 "rich-toolbar state not updating properly"
### Reproduction
* Open Page "article/welcome"
* click on teaser-headline
* click on inline-edit at the bottom (long lorem ipsum text)
* ![image](https://user-images.githubusercontent.com/50131232/97302818-d9ca4580-1859-11eb-96f9-f2e51ddffbdc.png)

### Expected Result
![image](https://user-images.githubusercontent.com/50131232/97302934-ff574f00-1859-11eb-87b2-d9c22433239c.png)

[2020-10-27 12:41] flx-sta opened #639 "text-selection not cleared upon selecting different component"
When editing a page and you select a part of text inside one component this selection is not cleared upon changing into another one resulting in unwanted behaviour upon using the richtoolbar

[2020-10-27 13:52] cmrockwell commented on #623
Sure, the HTL theme could definitely live under the per-cms repo. Tooling for creating new components that allows both styles is an interesting idea, and probably deserves a separate ticket. In the scope of this ticket, I hope to model a few patterns that could inform both updates to the percli processes, and manual processes developers can use to create new components.

[2020-10-28 08:37] flx-sta opened #640 "rich-editor reactivity impaired upon "finish and edit!" of new page"
### Description
Creating a new page and directly editing it (`finish and edit` button) causes rich-texte editor reactivity to not work properly.
A simple reload of the page fixes with issue (which is the current workaround too #637)

### Reproduction
- Create a new page
- go through the create wizzard as usual BUT WAIT AT THE LAST STEP
- at the last step click on `finish and edit!`
- select any ri

[2020-10-28 08:37] flx-sta commented on #637
I've created a follow-up issue to address the real issue.
The workaround should do for this one

[2020-10-30 17:27] #611 closed, assigned to flx-sta

[2020-11-09 15:18] reusr1 opened #644 "update feature model for develop-sling12 to latest"

[2020-11-10 16:35] reusr1 commented on #55
putting this on hold for now

[2020-11-10 16:35] #55 closed, assigned to nobody

[2020-11-10 16:39] flx-sta opened #646 "Integrated feedback button"
### As suggested in the weekly-water-cooler meeting 2020-11-10:

- implement a simple "Feedback" Button into the admin-interface
- Provide minimum of 2 fields: name & message
- This content is then converted into an issue using some sort of github bot/hook
- the issues get a specific tag to be able to filter them

[2020-11-10 16:42] GastonGonzalez opened #647 "Support for step-by-step lists"
While the rich text editor is a decent approach for creating small lists, it's not particularly well-suited for article-length lists that may require mixed content (i.e. text + image + video as an item within the list). A good example of list-based articles are step-by-step articles as used on  https://www.instructables.com/.

One approach to solve this is to create a list container and and list i

[2020-11-10 16:51] reusr1 commented on #63
this ticket is not necessary anymore now that we have develop-sling12 and a feature model for peregrine

[2020-11-10 16:51] #63 closed, assigned to nobody

[2020-11-10 16:53] reusr1 commented on #124
@GastonGonzalez is this ticket still necessary?

[2020-11-10 17:02] reusr1 commented on #139
grouping of properties is working in peregrine itself, follow up ticket to group properties in the components can be found here: https://github.com/headwirecom/themeclean-flex/issues/160

[2020-11-10 17:02] #139 closed, assigned to nobody

[2020-11-10 17:07] reusr1 commented on #150
the path browser exposes the UX concept for selecting a path or selecting an item. This can also be difficult in the OS file system browser. While we agree with this issue nobody has taken this issue up in the past year - labeling this issue as tabled for now and closing it

[2020-11-10 17:07] #150 closed, assigned to nobody

[2020-11-10 18:59] GastonGonzalez commented on #124
We can close this. Closing now.

[2020-11-10 18:59] #124 closed, assigned to GastonGonzalez

[2020-11-10 20:55] #131 closed, assigned to nobody

[2020-11-18 08:36] reggie7 opened #655 "Unable to create site in admin.dev-kestrel-1.dev (if the name was used before)"
I was unable to create a new site titled _Test_ in [admin.dev-kestrel-1.dev](https://admin.dev-kestrel-1.dev/). The reason is most likely the fact that before trying it out today I already had a tenant under the same name a while back. A different name worked properly.

![kestrel-test](https://user-images.githubusercontent.com/5563546/99505664-665fb380-2981-11eb-9785-e5929d59e326.png)

[2020-11-18 12:52] GastonGonzalez commented on #655
@reggie7 - There is already a ticket for this issue. Would you mind scanning the issues and assigning it to yourself? We need to update the validation in the UI to check if a tenant already exists. We'd like the to capture this condition at the time the user enters the tenant name.

[2020-11-18 12:52] #655 closed, assigned to nobody

[2020-11-18 13:15] reusr1 commented on #655
https://github.com/headwirecom/peregrine-cms/issues/549

[2020-11-18 13:43] reusr1 commented on #647
@GastonGonzalez would this not be a themecleanflex ticket?

[2020-11-18 13:49] reusr1 commented on #277
looks like this has been fixed - not able to reproduce, closing the issue

[2020-11-18 13:49] #277 closed, assigned to nobody

[2020-11-18 14:08] GastonGonzalez commented on #655
Thanks, @reusr1 !

[2020-11-18 14:09] GastonGonzalez commented on #647
It is. I will close and re-open.

[2020-11-18 14:09] #647 closed, assigned to reusr1

[2020-11-18 14:11] GastonGonzalez commented on #647
themeclean-flex issue created: https://github.com/headwirecom/themeclean-flex/issues/171

[2020-11-18 16:36] reggie7 commented on #655
Ok, thanks, I'll take #549 then

[2020-11-20 10:14] reggie7 opened #657 "Tenant user can't replicate themecleanflex assets: NPE is thrown"
**Steps to reproduce**
1. Create a new tenant with password and log in as its user,
1. Open Website Themes → ThemeCleanFlex Site → Assets → samples,
1. Open browser DevTools,
1. Replicate e.g. `beach-bird-s-eye-view-daytime-1249586.jpg`.

**Expected Result**: that's actually a good question what the expected result should be. We want the tenant user to be able to replicate referenced assets, but o

[2020-11-20 10:38] reggie7 commented on #657
Branch: `develop-sling12`

[2020-11-20 10:46] reggie7 opened #658 "Assets do not replicate properly"
**Steps to reproduce**
1. Create a new tenant with password and log in as its user,
1. Open Assets of the site,
1. Open browser DevTools,
1. Replicate an image.

**Expected Result**: The asset gets replicated, version is created, icon indicates published status.

**Actual Result**: The asset gets partially replicated, only 1 out of 3 `per:Replication...` properties get set, the globe icon indicate

[2020-11-20 10:47] reggie7 commented on #658
Found in `develop-sling12`, partially solved in #648 but it still gets deeper than that.

[2020-11-23 15:03] reggie7 opened #660 "Old user gets access to new site"
**Steps to reproduce**
1. Grab a fresh instaance with `develop-sling12` on board,
1. Create a new site `Test` with password,
1. Optionally check that you have access as the `test_user`,
1. Remove the site,
1. Create the same site again, this time without any password,
1. Log in as `test_user`.

**Expected Result**: The old `test_user` should not see the new `Test` site / tenant.
**Actual Result**:

[2020-11-23 17:20] #591 closed, assigned to flx-sta

[2020-11-24 11:33] reggie7 opened #661 "New tenant can't log in on first ever Peregrine launch"
**Steps to Reproduce**
1. Build a new launcher from under `sling/peregrine-builder-sling-12`,
1. Start a perfectly clean instance based on the above,
1. Log in as admin,
1. Create a new Site / Tenant with a password,
1. Log out and log in as the new tenant user.

**Expected Result**: You can do it, you're in.
**Actual Result**: The page is blank, `/index.html` results in a `404`, the mapping from

[2020-11-24 11:36] reggie7 commented on #661
I know there is a simple resolution to this: just restart the instance. But it's not the goal that I think we should aim at. It's at least detrimental to the developer experience - I just wasted some time on this as I like to sometimes get a clean instance and that's the first time when I have tried such a sequence. We should at least print a message in the UI to ask the user to restart the system

[2020-11-24 13:28] reggie7 opened #662 "ResourceResolver.revert could follow exception on ResourceResolver.commit"
During my work on #614 I have stumbled upon a problem that we might want to solve in general. We have to perform a sequence of method calls that effectively lead to the following:
1. Do some repo changes and commit them,
1. Do some repo changes and commit them.

Most often than not, these steps use the following code:
[code]
Once we catch the exception - we leave the `ResourceResolver` with the ch

[2020-11-24 15:53] flx-sta opened #663 "Can't drop components into blank pages"
after merging #594 it's not possible to drop components into blank pages anymore

[2020-11-25 01:45] reusr1 commented on #661
further investigation shows that the repo init in platform/base is not applied at first startup

[2020-11-25 01:57] reusr1 commented on #657
a site has a relation to a theme (in /content/[tenant]). In general, the theme needs to be activated in order for a site to work. I think we should limit replication to a single tenant and not allow cross tenant replication. Best would be to make this an osgi config in the replication settings (cross tenant replication on/off)

[2020-11-25 02:01] reusr1 commented on #646
it would be nice to check if there is an open source version of a tool such as https://www.userback.io/ available, as this would make feedback in general easier for everybody.

[2020-11-25 23:33] reusr1 commented on #561
closing this issue as it has been resolved a while back and the related PR has been merged

[2020-11-25 23:33] #561 closed, assigned to nobody

[2020-11-25 23:38] reusr1 commented on #644
related issues:
- #568
- #661
- #606
- #604
- #569

[2020-11-26 00:03] reusr1 commented on #460
@schaefa would you mind taking some time to migrate this feature to develop-sling12? I ran a quick test but was not able to build this change against develop-sling12 due to reflection issues

[code]

[2020-11-30 21:06] #555 closed, assigned to nobody

[2020-12-01 18:00] GastonGonzalez commented on #614
Feature resolved with merged PR #648

[2020-12-01 18:00] #614 closed, assigned to reggie7

[2020-12-01 18:19] reusr1 commented on #663
closing as PR is merged

[2020-12-01 18:19] #663 closed, assigned to flx-sta

[2020-12-01 19:59] #637 closed, assigned to nobody

[2020-12-02 12:34] reggie7 commented on #658
To do: `com.peregrine.slingjunit.localFS.LocalFSJTest#replicateOneAsset`

[2020-12-03 21:54] #602 closed, assigned to reggie7

[2020-12-04 15:13] reggie7 commented on #608
Fixed in #648.

[2020-12-04 15:13] #608 closed, assigned to GastonGonzalez

[2020-12-04 19:29] reggie7 opened #672 "Author can drag and drop image and it results in a screen freeze"
The author is allowed to grab image with a mouse and drop it elsewhere to cause a disallowed network call that results in an error and screen freeze of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Tenant and open e.g. the **index** page,
1. Add an image at the page bottom,
1. Make sure you have the image component in focus,
1. Grab the image (not the image component

[2020-12-04 19:38] reggie7 opened #673 "Copy and Paste component does not work"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Tenant and open e.g. the **index** page,
1. Add an image at the page bottom,
1. Copy the image component,
1. Paste the component.

**Expected behavior**
It works.

**Actual behavior**
It doesn't.

**Screenshots**
<img width="931" alt="buttons" src="https://user-images.githubusercontent.com/5563546/101207024-49f59380-3670-11eb-93e9-0

[2020-12-08 18:30] cmrockwell commented on #513
Yes. We can close this one.

[2020-12-08 18:30] #513 closed, assigned to nobody

[2020-12-08 18:33] cmrockwell opened #677 "Repoinit ACL's need restart"
This test procedure uses the latest Sling Starter to illustrate the concerns happens either with Peregrine's sling12 builder or the latest Sling Starter.

1. build latest sling starter (https://github.com/apache/sling-org-apache-sling-starter.git)
    1. mvn clean install
2. Prepare Sling instance directory
    1. mv ./org.apache.sling.feature.launcher.jar to working directory
    2. mv ./feature-

[2020-12-08 20:55] cmrockwell commented on #677
The issue with repoinit and ACL’s is not due to Sling Starter bugs. It’s the errors when Repoinit is trying to set ACL’s for paths that don’t exist yet. That’s why second attempt or restart works.

We have examples like this one, where it is trying to set ACL for index.html. This path is installed by `admin-base/ui.apps`

08.12.2020 14:37:27.549 *ERROR* [CM Event Dispatcher (Fire ConfigurationEven

[2020-12-09 07:42] flx-sta opened #679 "Input value not synchronized with inline-edit (non rich-text)"
## Reproduction
1. Have a tenant ready or create a new one
1. create a new page
1. drop `teaser-vertical` component in
1. select the newly added component
1. change the title of the component via edit-panel (richt side)
1. the view won't update

## Info
Upon further investigation: the vue-object does update though so it's either broken `reactivity` or missing `watchers`

[2020-12-09 07:42] #639 closed, assigned to flx-sta

[2020-12-15 14:22] reusr1 commented on #679
PR merged, looks good and editor feels faster

[2020-12-15 14:22] #679 closed, assigned to flx-sta

[2020-12-15 18:41] #623 closed, assigned to nobody

[2020-12-15 18:41] #677 closed, assigned to cmrockwell

[2020-12-15 18:41] #622 closed, assigned to nobody

[2020-12-15 18:44] #621 closed, assigned to nobody

[2020-12-22 11:31] reggie7 opened #689 "Reference link does not work"
We click here:
<img width="347" alt="originator" src="https://user-images.githubusercontent.com/5563546/102884193-7ae80d80-4451-11eb-882e-ca3ae6353521.png">
And get this:
![error](https://user-images.githubusercontent.com/5563546/102884220-889d9300-4451-11eb-9b3e-41d0ca35a24b.png)

[2020-12-24 08:51] reggie7 opened #691 "Swagger Editor not available for tenant user"
[/perapi/swaggereditor](http://localhost:8080/perapi/swaggereditor/) yields a `404` under a tenant user, but works for admin.

[2021-01-04 07:21] flx-sta commented on #613
@cmrockwell I assume it's back?

[2021-01-04 13:45] reusr1 opened #693 "Range Slider should handle the default state better"
due to PR https://github.com/headwirecom/peregrine-cms/pull/688#issuecomment-753969660 we realized the range slider UX should also handle the default value a bit better.

[2021-01-04 13:47] flx-sta commented on #693
example-data for 0 - 100 (default 50)

0 | --------------o------------- | 100

[2021-01-04 23:27] reusr1 commented on #691
PR opened for this issue, tenant users will now have access to the swagger api (everyone is still declined access)

[2021-01-05 14:16] flx-sta opened #697 "pathbrowser: add/upload assets on the fly"
Implement upload support for pathbrowser to add assets on the fly

[2021-01-06 11:55] flx-sta commented on #638
### Verify if bug is still present: **STILL PRESENT**
![image](https://user-images.githubusercontent.com/50131232/103766017-5e85cc80-501e-11eb-8f08-058c8122ab96.png)

![image](https://user-images.githubusercontent.com/50131232/103766457-27fc8180-501f-11eb-9016-e4d18e958b6f.png)
the big one seems to update properly. the small one not

[2021-01-06 15:43] reggie7 commented on #673
From @reusr1

[2021-01-06 16:21] reusr1 commented on #691
confirmed issue is resolved in develop-sling12

[2021-01-06 16:21] #691 closed, assigned to nobody

[2021-01-06 16:23] reusr1 commented on #672
@Felix-Puetz we should make sure only components can be dropped

[2021-01-06 16:27] reusr1 commented on #660
@reggie7 I think we should address this issue together with https://github.com/headwirecom/peregrine-cms/issues/447 - we need a way to invite others to collaborate on a site and handle removal of users/sites accordingly

[2021-01-11 21:21] reggie7 opened #702 "Copy/Paste works incorrectly"
When we copy Cards component with <= 3 items we'll get 4 in return.
When we copy Accordion with >4 cards we'll get a `js` error.
In general the `insertNodeAt` methods are combining incoming content with variants, which might actually not make sense anymore in some places where it's used.

[2021-01-11 21:26] reggie7 commented on #673
#702 will cover other weird behaviors

[2021-01-11 22:08] reggie7 commented on #697
I think the refresh has a hickup in my instance:

https://user-images.githubusercontent.com/5563546/104244007-d9f1de80-5461-11eb-8305-08cdc6e0349b.mov

[2021-01-11 22:11] reggie7 commented on #697
Other than that, as a UX side-note to @reusr1 - personally I don't fancy the `OK` button one has to click after the upload is done. I'd rather see it like this: after the upload ends we pre-select the new file. The same could happen in Assets console actually.

[2021-01-12 07:20] Felix-Puetz commented on #697
@reggie7 thanks for your review but I'd rather put bugs related to the PR Into the pr.

I'll look into the bug thanks alot.

About the user-experience: In my first scratch of this I actually made it that after finishing the upload the whole overlay would disappear. Thing is here: the upload is so fast that the overlay was barely visible. So I stuck to the known format for now but I agree that the

[2021-01-12 07:24] flx-sta commented on #697
@reggie7 I've moved the comments into the PR #701 👍

[2021-01-12 08:00] reggie7 commented on #697
Ah, sorry @Felix-Puetz - I must have used the wrong tab in my browser 😒 The comments were obviously meant to go to the PR 😏

[2021-01-12 16:25] reggie7 opened #705 "Remove RemoteS3SystemReplicationService and dependencies"
Amazon Replication is obsolete now. `platform/external` should go too.

[2021-01-12 16:25] reggie7 commented on #705
To do: notify @GastonGonzalez to check the PR result against Karaf.

[2021-01-13 14:44] reusr1 opened #707 "move peregrine build out of docker image"

[2021-01-13 15:24] reusr1 commented on #595
@GastonGonzalez @reggie7 would it not be better to add this http-server to percli? this simple http server may be used outside of the maven infrastructure and by a developerr that only has node and docker installed on her/his computer

[2021-01-13 15:30] reggie7 commented on #534
@GastonGonzalez can we close?

[2021-01-14 14:08] #558 closed, assigned to nobody

[2021-01-14 14:13] reggie7 commented on #557
Works for pages, does not work for assets, but it might actually come from #658

[2021-01-14 14:18] reggie7 commented on #367
@cmrockwell I guess we could actually close this issue already?
I remember that we have the error notification in place in `develop-sling12`. And for all the cases where we can see it (and we could fix the underlying reason), that I am aware of - there's a separate ticket.

[2021-01-14 15:37] reggie7 commented on #546
Additional issue: we should not hide pages that are excluded from sitemap to be revealed only as secondary items.

[2021-01-14 15:42] reggie7 commented on #473
@reusr1 @GastonGonzalez looks fixed to me.

[2021-01-14 15:42] #473 closed, assigned to GastonGonzalez

[2021-01-14 15:46] reggie7 commented on #568
State update: I don't see the replication related log anymore and we will just wait until `Sling` team resolves it, so I'll keep the issue alive for now.
[code]

[2021-01-14 18:28] reggie7 commented on #595
I don't know, actually just tested it and it's pretty simple to set up by hand, so I would choose 3rd option to configure Docker image to do it on startup and local one is not on my personal wishlist :)
Other than that I think that since e.g. my server location in file system has nothing to do with where I store the codebase - I'm not sure how `mvn` would work with that.
Another idea from me would

[2021-01-15 12:24] flx-sta commented on #689
Could not reproduce
@reggie7

[2021-01-15 16:44] #586 closed, assigned to nobody

[2021-01-15 16:44] #705 closed, assigned to nobody

[2021-01-15 17:45] GastonGonzalez commented on #705
@reggie7 was this merged?

[2021-01-15 18:01] reggie7 commented on #705
No, but I figure there is no point in keeping this one open together with #706 especially that we have [the board](https://github.com/headwirecom/peregrine-cms/projects/7#card-52744898) now. We could discuss this version of the workflow obviously if others see it differently.

[2021-01-18 16:25] reggie7 commented on #689
Hey @Felix-Puetz I have good news and bad news. The bug is actually still in there unfortunately, but it's fairly easy to reproduce:

https://user-images.githubusercontent.com/5563546/104940380-f0dc8780-59b1-11eb-94b0-724285a59f5b.mov

My instance was freshly built from `develop-sling12` branches both PCMS and TCF. It's hard for me to say why I couldn't get it on Monday.

[2021-01-20 17:38] reggie7 opened #712 "Move replication code to one place"
Replication code lives in 3 places currently:
1. [`admin-base` `core`'s `servlets`](/headwirecom/peregrine-cms/tree/develop/admin-base/core/src/main/java/com/peregrine/admin/servlets),
1. [`platform`'s `core`](/headwirecom/peregrine-cms/tree/develop/platform/base/core/src/main/java/com/peregrine/replication),
1. [`replication` module](/headwirecom/peregrine-cms/tree/develop/platform/replication).

[2021-01-21 10:26] #712 closed, assigned to reggie7

[2021-01-21 23:20] cmrockwell opened #718 "Remote replication UI Times-out"
When using remote replication, the UI does not work.

Given the author and publisher configured with remote repl, and junit tests passing
<img width="996" alt="Screen Shot 2021-01-21 at 6 14 01 PM" src="https://user-images.githubusercontent.com/1811207/105424054-968f3100-5c14-11eb-85fc-38274e2f62e9.png">

Using the UI nothing gets replicated, nothing gets replicated and the polling times-out.
<img

[2021-01-28 13:37] reggie7 opened #720 "Site Setup Replication takes forever in LocalReplicationService"
Found in #658. **Site Setup Replication** in `LocalReplicationService` takes too long, I had it work for over 28 minutes. The problem arises from the amount of resources that `replication.findReferences` returns. It's the full tree of the initial list plus its references. There can be even 12k of them. `LocalFileSystemReplicationService` does the same on ~500 resources. I think there's no point in

[2021-01-29 11:23] reggie7 opened #721 "Refresh does not redirect to login page (valid URL will not work in incognito browser)"
Every day in the morning, when I wake my laptop and refresh the last Peregrine console that I had open the day before - I get a blank page. I got logged out in the session and the URL in the browser does not trigger a redirect to login page.

The simplest case is this though: try to open a valid Peregrine console URL in a fresh incognito window of your browser. Try e.g. [/content/admin/pages/pages

[2021-01-29 20:39] reggie7 commented on #720
@cmrockwell I have noticed similar behavior in **remote replication**, though not so severe, 5 minutes or so.

[2021-02-01 12:23] reggie7 opened #722 "Folders' replication fails"
Assets console allows folders to be added to the structure, but default system settings prevent them from replication - one always gets _Action timed out when publishing_. We could simply add `sling:OrderedFolder` + `sling:Folder` + `nt:folder` to [ReplicationMixinNodeTypesOverride](http://localhost:8080/system/console/configMgr/com.peregrine.replication.impl.ReplicationMixinNodeTypesOverride), bu

[2021-02-01 12:27] reggie7 opened #723 "Objects console is inconsistent with folders"
When we create a new tenant from Theme Clean Flex - we'll get an OoTB `tags` folder, but we can't add a new one:

<img width="329" alt="objects" src="https://user-images.githubusercontent.com/5563546/106458763-2349b280-6491-11eb-924e-8be672f10eab.png">

Assets console allows that though:

<img width="360" alt="assets" src="https://user-images.githubusercontent.com/5563546/106458783-2775d000-6491-1

[2021-02-01 13:47] reusr1 commented on #723
@reggie7 add folder for objects in the top bar and not below the list. For assets we only keep the create folder at the bottom, upload a file, find an asset is at the top right. I dont think it makes sese to list every action possible on the list at the bottom of the list.

[2021-02-01 13:50] reusr1 commented on #722
@reggie7 seems to me we should all discuss what a folder replication would mean - if the folder replication just creates the subfolder on the target I am not sure how much value it is to the user. On the other hand we also do not have folder properties at the moment nor are we allowing for folders to be deep replicated?

@cmrockwell you also may have some opinions about this topic?

[2021-02-01 14:07] reggie7 commented on #723
Oh, yes, my bad. Forgot about the top right bar. Though it raises a UX issue - as a user I was expecting coherent UI among all consoles. So I think one would expect to either see _add object_ and _add asset_ respectively or _add folder_ in both consoles. I'd say the former would be used more often.

[2021-02-01 14:09] reggie7 commented on #722
@reusr1 yes, let's discuss it. I say we either figure out together what it would mean to replicate a folder or we simply do not display the respective icon for the operation.

[2021-02-02 10:15] reggie7 opened #724 "Unpublishing does not work"
Local File System:
* Unpublish Object does not work

Local Replication:
* Unpublish Page does not work
* Unpublish Asset does not work
* Unpublish Object does not work
* Unpublish Template does not work

Remote Replication:
* Unpublish Page does not work
* Unpublish Asset does not work
* Unpublish Object does not work
* Unpublish Template does not work

And, what is important, by **does not work**

[2021-02-02 14:24] flx-sta opened #725 "uploadFiles() returns unreliable"
### Description
The `uploadFiles` method in `apiImpl.js` and the stateAction are very unreliable when it comes to feedback handling.

### Example
When uploading a file `A.png` and an asset with that name already exists you get a prompt to `Replace` or `Keep Both`.

When selecting `Keep Both` you don't have ANY CHANCE to have feedback about the new file-name.

[2021-02-02 14:33] flx-sta commented on #626
@reusr1 @reggie7 @GastonGonzalez is bulk delte server-sided already supported?

[2021-02-02 14:42] reggie7 commented on #626
@Felix-Puetz usually we should be able to check the available BE endpoints at [/perapi/swaggereditor/index.html](http://localhost:8080/perapi/swaggereditor/index.html), remembering to double check though, in case some docs are missing or out-of-date. But yeah, I checked the code and only single-element operations are supported at the time.

[2021-02-02 15:26] reusr1 commented on #254
would be great to have some e2e tests on this issue first so we know when we really fixed this

[2021-02-02 15:32] #689 closed, assigned to flx-sta

[2021-02-03 15:36] reusr1 opened #726 "creating a new component through keyboard shortcuts sets the current inline edit text to undefined"
- create a new site with themecleanflex
- on the homepage edit one of the cards
- while editing insert a new rich text component (example) below with `ctrl-dot`

note: inline text of current component is switched to undefined

[2021-02-03 15:38] reusr1 commented on #726
![Screenshot from 2021-02-03 07-37-30](https://user-images.githubusercontent.com/779992/106770387-c6660d80-65f2-11eb-84ef-70c0c7067dd1.png)

[2021-02-04 13:53] flx-sta commented on #726
@reusr1 should i move this into my project?
if so high prio?

[2021-02-04 14:29] reusr1 commented on #498
@Felix-Puetz the code for the backend work has been completed in https://github.com/headwirecom/peregrine-cms/commit/9a8c6f98cd2c87d0d9b52ed5104ab7583964291e

[2021-02-05 12:59] ghost opened #727 "“No status” after publishing an object"
Web Publishing tab shows “No status” after publishing an object.

**Steps to Reproduce**

1. Open “objects” Peregrine console.
2. Go to the “tags” folder.
3. Add a tag object.
4. Publish the tag.
5. Open tag properties panel (e.g. with info icon).
6. Open “Web Publishing” tab.

**Expected behavior**
After publishing the status should change to “Published”.

**Actual behavior**
The status is “No St

[2021-02-05 13:08] #697 closed, assigned to flx-sta

[2021-02-05 13:08] #693 closed, assigned to flx-sta

[2021-02-05 13:09] #672 closed, assigned to flx-sta

[2021-02-05 13:12] flx-sta commented on #498
rename branch to `issues/498-logged-in-as-username-display-issues`

[2021-02-05 13:43] Felix-Puetz commented on #498
do I understand it correct that I dont have to change anything but the email is provided for single-signin users automatically?

[2021-02-05 14:50] ghost opened #729 "The tag can’t be deleted from page properties once added."
Once tag is added it can't be removed.

**Step to Reproduce**

1. Open “objects” Peregrine console.
2. Add an object.
3. Open editing of any page.
4. Click on menu on the right “page-info”
5. Add an object from “Tags”
6. Publish to Web.
7. Delete an object from “Tags”
8. Publish to Web.
9. Go back to the “page-info”.
10. Tag is not removed.

**Expected behavior**
After removing the object from “Ta

[2021-02-05 14:55] reggie7 commented on #729
I think that it actually doesn't even involve publishing. Can you confirm @KWoloszczuk the same when the author does not publish the page, but simply does a refresh of the browser tab after saving the change?

[2021-02-05 15:00] ghost commented on #729
Yes, you're right.

[2021-02-05 15:47] ghost opened #730 "Template is not removed after unpublishing"
After unpublishing template is not removed from page.

**Step to Reproduce**

1. Create new page with template.
2. Click “Publish”.
3. Open “Templates” Peregrine console.
4. Click “Unpublish”
5. Template is still on page.

**Expected behavior**
After unpublishing template should be removed.

**Actual behavior**
Template is not removed from page after unpublishing.

**Screencapture video**

https:/

[2021-02-05 16:13] reusr1 commented on #730
@KWoloszczuk what URL are you using to check the page?

I think its actually dangerous to be able to unpublish a template that is used by published pages. We probably should prohibit that in the first place or also force unpublishing all the pages that use that template

@cmrockwell @ehdatheadwire you guys may have an opinion here as well I'd assume?

[2021-02-05 16:18] ghost commented on #730
I'm using the usual link to the page on my local http-server - http://localhost:1080/content/local_fs/pages/test01.html

[2021-02-05 18:56] reggie7 commented on #730
@reusr1 `localhost:1080` comes from running `http-server . -p 1080` inside `staticreplication` on @KWoloszczuk's local machine I guess.

@KWoloszczuk the current shape of the bug that you described will most likely need to be adjusted just as @reusr1 mentioned above. There is no way possibly to remove the template from a page. But your perception of this as a bug indeed highlights an issue - we ne

[2021-02-08 11:59] reggie7 opened #731 "Put branch and/or commit somewhere in the about screen?"
Maybe we should show the version information of the currently installed Peregrine instance somewhere in the about section?

<img width="1022" alt="about screen" src="https://user-images.githubusercontent.com/5563546/107216503-269eea00-6a0d-11eb-8e70-3860a7d89b09.png">

From technical standpoint there's[ a plugin for that ](https://github.com/git-commit-id/git-commit-id-maven-plugin), example usage

[2021-02-08 12:48] ghost opened #732 "Template is not published after publishing"
Template is not published after publishing.

**Steps to Reproduce**

1. Create a template.
2. Create a page with this template.
3. Publish them both.
4. Edit template and add a picture.
5. Publish only template.
6. There is no picture in browser, although it is on the page in editor.

**Expected behavior**
After publishing template, picture should appear in browser.

**Actual behavior**
It only ap

[2021-02-08 16:09] #578 closed, assigned to nobody

[2021-02-08 20:48] reggie7 commented on #724
@KWoloszczuk please test the branch [issues/724-unpublishing-does-not-work](https://github.com/headwirecom/peregrine-cms/tree/issues/724-unpublishing-does-not-work)

[2021-02-08 20:50] reggie7 commented on #658
@KWoloszczuk please test the branch [issues/658-assets-do-not-replicate-properly](https://github.com/headwirecom/peregrine-cms/tree/issues/658-assets-do-not-replicate-properly)

[2021-02-09 11:35] reggie7 opened #734 "Show full username in `create a website / choose name` screen"
Currently we only show a recipe info for getting the tenant user name:

<img width="1294" alt="Zrzut ekranu 2021-02-9 o 12 29 12" src="https://user-images.githubusercontent.com/5563546/107357911-fcaffb00-6ad2-11eb-91ef-3e272fe4c509.png">

I think that we should display a label with the resulting username explicitly. And add a _copy to clipboard_ button just as in #498

[2021-02-09 15:16] reggie7 commented on #568
From `error.log`:
[code]

[2021-02-09 15:36] reggie7 commented on #568
<img width="257" alt="log in issues" src="https://user-images.githubusercontent.com/5563546/107386423-2299c780-6af4-11eb-9d6d-9fe303845bdf.png">

[2021-02-10 11:34] ghost commented on #658
Hey @reggie7 I found this while testing your branch:

https://user-images.githubusercontent.com/1230506/107504925-49abd400-6b9c-11eb-89db-a475afde2560.mp4

[2021-02-10 13:40] reusr1 commented on #734
@reggie7 the password field is only shown to admins (if a regular user creates a new site the field does not exist). I honestly would vote against keeping this bug, would love to hear others voice their opinion about this issue as well.

[2021-02-10 13:48] reusr1 opened #735 "permissions not set up correctly after the first launch of peregrine sling12 variation"
when running

`java -jar org.apache.sling.feature.launcher.jar -f com.peregrine-cms.sling.launchpad-12-SNAPSHOT-oak_tar_far.far -p sling`

the first time and installing peregrine on top of this blank sling instance the permissions are not set up correctly based on the peregrine repoinit script

The permissions are correct after stopping and starting the sling instance

[2021-02-10 14:13] reggie7 commented on #735
Hint: when saving [`org.apache.sling.jcr.repoinit.RepositoryInitializer~peregrine`](http://localhost:8080/system/console/configMgr/org.apache.sling.jcr.repoinit.RepositoryInitializer~peregrine) [config](https://github.com/headwirecom/peregrine-cms/blob/develop-sling12/platform/base/ui.apps/src/main/content/jcr_root/apps/runmodes/config/org.apache.sling.jcr.repoinit.RepositoryInitializer-peregrine.

[2021-02-10 14:23] reggie7 commented on #734
@reusr1 it's not a bug from my PoV. It's an enhancement proposal. And the proposed solution (even if only for the admin) could look like this (minus the annotations obviously), after a password is supplied:

<img width="1301" alt="proposed solution mock" src="https://user-images.githubusercontent.com/5563546/107521976-77e8de00-6bb3-11eb-97fd-2745046beacb.png">

The idea being - instead of showing

[2021-02-10 14:24] reggie7 commented on #568
#735 might solve it here

[2021-02-10 22:29] reggie7 commented on #735
#736 on the way, so closing it here.

[2021-02-10 23:30] reusr1 commented on #735
@reggie7 lets close tickets once the PR is verified and merged, right?

[2021-02-12 17:32] reggie7 opened #741 "Make sure peregrine-builder is still in line with sling-org-apache-sling-starter"
From [Slack](https://peregrine-cms.slack.com/archives/CHCV4882U/p1613147547077600):

![Slack Message](https://user-images.githubusercontent.com/5563546/107801545-80324c00-6d60-11eb-908a-1de67d98c052.png)

[2021-02-13 16:32] reusr1 commented on #741
peregrine-builder has been updated, a new release has been cut (pushed to github) and is now used by issues/707 branch to create the docker image

[2021-02-13 16:33] reusr1 commented on #741
changes above also fix https://github.com/headwirecom/peregrine-cms/issues/604

[2021-02-15 03:08] reusr1 opened #745 "remove unused parts/samples of the peregrine git repository"
we have some older code/samples in the repository we should be able to remove from the develop-sling12 branch as those are most likely not used/not tested

[2021-02-15 08:05] flx-sta opened #746 "Make step wizard (e.g. creating tenant) support pressing enter for next step"
When creating a tenant I'd love to be able to press `[Enter]` to get to the next page.
RIght now this wont work.

I remember trying to tinker that feature into it in the past and not being successful so this might not be as easy at it sounds since we dont have direct access to the buttons

[2021-02-16 17:41] flx-sta opened #754 "QOL: easy initial grid system"
Right now for a an author setting up a initial grid system is not really intuitive and takes a lot of initial effort.

Skeleton pages might not be the right solution here.

Maybe add an option to spawn a grid system similar to inserting a table in word

Looking forward to other ideas

[2021-02-16 18:45] cmrockwell commented on #754
Creating custom layouts is currently possible using the Container and Container Block. This requires the users to know some tricks as well as some trial and error. One solution is to generate the grid like you suggested. Another approach is to allow setting of widths on more components directly, so the need for extra containers (block or plain) is less. This also may be a ticket better suited for

[2021-02-16 18:52] reusr1 commented on #754
it has long been my desire to move the creation of the default components from code to the editor interface. If we allow to edit the default examples instead of creating them from code we can easily for example provide a 2 and 3 column layout as we can create a component tree when dragging a component onto the page. This would at least make this use case easier to understand and more transparent t

[2021-02-17 08:05] #498 closed, assigned to flx-sta

[2021-02-17 17:25] reggie7 opened #755 "Site Setup Replication broken until a first ever restart is performed"
**Steps to reproduce**
1. Start [Peregrine ](http://localhost:8080/)for the first time ever
2. [Create](http://localhost:8080/content/admin/pages/pages/createtenant.html/path:/content) a TCF tenant
3. Perform [**Site Setup Replication**](http://localhost:8080/content/admin/pages/tenants/configure.html/path:/content/test)

<img width="1770" alt="Screenshot_1" src="https://user-images.githubusercont

[2021-02-19 13:36] reusr1 commented on #707
closing as is is merged to develop-sling12

[2021-02-19 13:36] #707 closed, assigned to nobody

[2021-02-19 13:47] reusr1 commented on #745
PR merged :-)

[2021-02-19 13:47] #745 closed, assigned to nobody

[2021-02-23 07:47] flx-sta commented on #254
@reusr1

**trying to manually reproduce it I was able to consistently hit a HTTP-500 error**

## Reproduction Steps

- open tenant `example site` (internal websites)
- move to objects page
- create new object based on `collection`
- fill some values into the 2 collections in the wizard
- click finish
- edit the newly created object and remove all items from either collection
- press save
- **HTTP-

[2021-02-23 15:56] flx-sta commented on #754
We will be adressing this in the future again

[2021-02-23 15:56] #754 closed, assigned to flx-sta

[2021-02-23 16:23] #726 closed, assigned to flx-sta

[2021-02-24 13:06] reusr1 commented on #746
@Felix-Puetz wondering if we would want to wait with this ticket and deal with it once we know if we can switch the admin forms/wizards to the jsonforms vue version

[2021-02-24 13:13] reusr1 commented on #702
@Felix-Puetz @reggie7 can this ticket be closed as the corresponding branch has been merged?

[2021-02-24 13:14] reusr1 commented on #673
@reggie7 @Felix-Puetz since #703 has been merged - can we close this ticket?

[2021-02-24 13:19] reusr1 commented on #661
closing this ticket as this is now working correctly due to the changes to the repoinit script

[2021-02-24 13:19] #661 closed, assigned to nobody

[2021-02-24 13:22] reusr1 commented on #604
closing as this issue is solved by using the launcher/far from https://github.com/peregrine-cms/peregrine-builder

[2021-02-24 13:22] #604 closed, assigned to schaefa

[2021-02-24 13:23] reusr1 commented on #569
closing this issue as this is solved by using the launcher/far from https://github.com/peregrine-cms/peregrine-builder - we had a bad repoinit script and an older version of composum configured

[2021-02-24 13:24] reusr1 commented on #568
closing this issue as most of the problems here have been solved by using and updating https://github.com/peregrine-cms/peregrine-builder

[2021-02-24 13:24] #568 closed, assigned to reggie7

[2021-02-24 13:25] reusr1 commented on #644
we switched to https://github.com/peregrine-cms/peregrine-builder to solve this issue

[2021-02-24 13:25] #644 closed, assigned to nobody

[2021-02-24 14:52] reggie7 commented on #702
Yes, just checked it in `develop-sling12`, merged and fixed.

[2021-02-24 14:58] reggie7 commented on #569
@reusr1 I don't think the issue is fixed. Just checked it on Windows machine on [`peregrine-builder/develop`](https://github.com/peregrine-cms/peregrine-builder) + [peregrine-cms/develop-sling12](https://github.com/headwirecom/peregrine-cms/tree/develop-sling12) and the result is the same.

[2021-02-24 14:58] flx-sta commented on #746
Agree.

[2021-02-24 14:58] reusr1 commented on #702
cool, closing the issue :)

[2021-02-24 14:58] #702 closed, assigned to nobody

[2021-02-24 14:58] #746 closed, assigned to nobody

[2021-02-24 14:59] reggie7 commented on #569
@KWoloszczuk has the same problem. An I've just confirmed that with [`peregrine-builder/develop`](https://github.com/peregrine-cms/peregrine-builder) alone (prior to installing Peregrine).

[2021-02-24 15:00] #673 closed, assigned to nobody

[2021-02-24 15:03] reusr1 commented on #638
@Felix-Puetz is this still an issue? seems the PR has been merged

[2021-02-24 15:06] reusr1 commented on #627
@Felix-Puetz since this is a sling issue and not a peregrine issue, should we close this ticket? The main entry point to starting/stopping peregrine is percli - percli checks if the port is available before launching

[2021-02-24 15:14] reggie7 commented on #254
@Felix-Puetz we have inconsistent dialog here btw: <img width="962" alt="Zrzut ekranu 2021-02-24 o 16 13 04" src="https://user-images.githubusercontent.com/5563546/109021489-37ad5380-76bb-11eb-95f4-702b22697298.png">

[2021-02-24 17:06] flx-sta commented on #254
Yeah I'll address that afterwards 👍

[2021-02-24 17:06] flx-sta commented on #627
Sure

[2021-02-24 17:06] #627 closed, assigned to nobody

[2021-02-24 17:07] #638 closed, assigned to nobody

[2021-02-24 23:03] reggie7 commented on #254
1. Add collection object
2. Don't set anything in the first list

<img width="468" alt="Zrzut ekranu 2021-02-25 o 00 00 59" src="https://user-images.githubusercontent.com/5563546/109077659-cabaad80-76fc-11eb-8f0d-a74cd3dbd0c7.png">

3. Try adding it later, on edit

![Zrzut ekranu 2021-02-25 o 00 01 13](https://user-images.githubusercontent.com/5563546/109077712-d908c980-76fc-11eb-92f0-ad25b352e8f8

[2021-02-25 15:06] #613 closed, assigned to flx-sta

[2021-02-26 07:19] flx-sta opened #767 "references show old ones for a split-second"
When switching to "references" tab. changing object and switch to it again you can see the references of the old entry for a split-second.

### Reproduction Steps
- create tenant
- move to `Pages`
- click on ℹ️  for `Articles` page
- switch to referneces tab on the right side
- switch to `Assets/placeholders`
- select `man.jpg`
- switch to the references tab
- BOOM; you see them for a sec

[2021-03-02 00:18] reusr1 commented on #657
@reggie7 before we start addressing this ticket lets come to an understanding of how we are going to solve the issue

I suggest:
- replications are limited to a single tenant and do not cross into other tenants
- we expect that themecleanflex (or the basic theme sites are built from) are replicated when setting up a production environment

This can be of course discussed in a larger group. My main

[2021-03-02 00:21] reusr1 commented on #612
@reggie7 I think this issue needs a discussion and a final decision on how we all would like to handle this use case

[2021-03-02 15:21] ghost opened #774 "Tag is still on the page after unpublishing"
Tag is still on the page after unpublishing.

**Steps to Reproduce**

1. Create a tag and add it to the page.
2. Publish tag.
3. Check on the page.
4. Unpublish tag.
5. Check on the page.

**Expected behavior**
After unpublishing tag, it should disappear in browser.

**Actual behavior**
Tag is still on the page after unpublishing.

**Screencapture video**

https://user-images.githubusercontent.com

[2021-03-04 12:22] reggie7 commented on #724
I have confirmed this ticket to be solved for **localFS** and **local** modes within PR #773. I can't get the **remote** option to properly run as described in [the docs](https://github.com/headwirecom/peregrine-cms/blob/develop-sling12/docs/public/distribution/index.md#peregrine-to-peregrine-copies). I guess this has to do with our latest changes to [`peregrine-builder`](https://github.com/peregr

[2021-03-04 12:26] reggie7 commented on #724
@reusr1 I noticed that it's no longer possible to install peregrine from `develop-sling12` within running `launcher` built from [`peregrine-builder-sling-12`](https://github.com/headwirecom/peregrine-cms/tree/develop-sling12/sling/peregrine-builder-sling-12). `mvn` build process can't get the bundles to start. Maybe we should consider removing this part of the code in `develop-sling12` since the p

[2021-03-04 20:52] ehdatheadwire commented on #128
Closing issue and moving to peregrine-cms/enhancements respository.

Reference link: https://github.com/peregrine-cms/enhancements/issues/1

[2021-03-04 20:52] #128 closed, assigned to nobody

[2021-03-05 00:07] ehdatheadwire commented on #140
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/2

[2021-03-05 00:07] #140 closed, assigned to nobody

[2021-03-05 00:11] ehdatheadwire commented on #152
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/3

[2021-03-05 00:11] #152 closed, assigned to nobody

[2021-03-05 00:29] ehdatheadwire commented on #189
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/4

[2021-03-05 00:29] #189 closed, assigned to nobody

[2021-03-05 00:31] ehdatheadwire commented on #236
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/5

[2021-03-05 00:31] #236 closed, assigned to nobody

[2021-03-05 00:35] ehdatheadwire commented on #248
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/6

[2021-03-05 00:35] #248 closed, assigned to nobody

[2021-03-05 00:37] ehdatheadwire commented on #249
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/7

[2021-03-05 00:37] #249 closed, assigned to nobody

[2021-03-05 00:40] ehdatheadwire commented on #297
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/8

[2021-03-05 00:40] #297 closed, assigned to nobody

[2021-03-05 00:42] ehdatheadwire commented on #342
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/9

[2021-03-05 00:42] #342 closed, assigned to nobody

[2021-03-05 00:44] ehdatheadwire commented on #371
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/10

[2021-03-05 00:44] #371 closed, assigned to nobody

[2021-03-05 00:49] ehdatheadwire commented on #372
This enhancement was created in April 2020 and marked as HIGH but looks to have been possibly worked on as part of 1.0.0 release project.

Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/11

If further work is needed, we can address the priority and requirements in the new ticket.

[2021-03-05 00:49] #372 closed, assigned to schaefa

[2021-03-05 00:56] ehdatheadwire commented on #374
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/12

[2021-03-05 00:56] #374 closed, assigned to schaefa

[2021-03-05 00:58] ehdatheadwire commented on #272
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/13

[2021-03-05 00:58] #272 closed, assigned to nobody

[2021-03-05 01:00] ehdatheadwire commented on #275
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/14

[2021-03-05 01:00] #275 closed, assigned to nobody

[2021-03-05 01:04] ehdatheadwire commented on #299
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/15

[2021-03-05 01:04] #299 closed, assigned to nobody

[2021-03-05 01:08] ehdatheadwire commented on #375
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/16

[2021-03-05 01:08] #375 closed, assigned to nobody

[2021-03-05 01:10] ehdatheadwire commented on #423
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/17

[2021-03-05 01:10] #423 closed, assigned to GastonGonzalez

[2021-03-05 01:23] ehdatheadwire commented on #501
@Felix-Puetz I was going to close this OG issue and relocate to here: https://github.com/peregrine-cms/enhancements/issues/19 but it looks like you might be working on it or want to work on it? Could you let me know when you get a chance? I don't want to move it if it's in progress :). Thanks!

[2021-03-05 01:29] ehdatheadwire commented on #502
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/20

[2021-03-05 01:29] #502 closed, assigned to nobody

[2021-03-05 01:32] ehdatheadwire commented on #503
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/21

[2021-03-05 01:32] #503 closed, assigned to nobody

[2021-03-05 01:34] ehdatheadwire commented on #504
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/22

[2021-03-05 01:34] #504 closed, assigned to nobody

[2021-03-05 01:35] ehdatheadwire commented on #478
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/18

[2021-03-05 01:35] #478 closed, assigned to nobody

[2021-03-05 01:39] ehdatheadwire commented on #529
I believe this ticket can be closed -- I've personally used it so I'm going to close!

[2021-03-05 01:39] #529 closed, assigned to GastonGonzalez

[2021-03-05 01:41] ehdatheadwire commented on #532
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/23

[2021-03-05 01:41] #532 closed, assigned to nobody

[2021-03-05 01:54] ehdatheadwire commented on #556
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/24

[2021-03-05 01:54] #556 closed, assigned to nobody

[2021-03-05 01:59] ehdatheadwire commented on #595
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/25

[2021-03-05 01:59] #595 closed, assigned to GastonGonzalez

[2021-03-05 02:04] ehdatheadwire commented on #606
@GastonGonzalez and @reusr1 I removed the enhancement label as I don't think this is a candidate for the enhancements repository. Please correct me if I'm wrong, but this appears to be something related to sling12 and therefore might need to be worked on sooner rather than later. Let me know here either way. Thank you!

[2021-03-05 02:07] ehdatheadwire commented on #607
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/26

[2021-03-05 02:07] #607 closed, assigned to nobody

[2021-03-05 02:10] ehdatheadwire commented on #609
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/27

[2021-03-05 02:10] #609 closed, assigned to nobody

[2021-03-05 02:13] ehdatheadwire commented on #612
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/28

[2021-03-05 02:13] #612 closed, assigned to nobody

[2021-03-05 02:15] ehdatheadwire commented on #617
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/29

[2021-03-05 02:15] #617 closed, assigned to reusr1

[2021-03-05 06:48] flx-sta commented on #501
@ehdatheadwire not working on it. Go ahead 👍

[2021-03-05 13:43] reggie7 commented on #720
@reusr1 let's evaluate that after the decision to leave od remove the `local` replication approach.

[2021-03-05 14:08] reggie7 commented on #254
@KWoloszczuk http://localhost:8080/content/admin/pages/objects.html/path:/content/example/objects is the `develop-sling12` link.

[2021-03-05 14:11] #755 closed, assigned to reggie7

[2021-03-05 14:12] reggie7 commented on #755
The bug is not present anymore with the latest `peregrine-builder` and on #773

[2021-03-05 14:37] reggie7 opened #782 "Create a script to check replication consistency"
From @reusr1

[2021-03-05 21:28] ehdatheadwire commented on #501
Fab thanks, @Felix-Puetz. Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/19

[2021-03-05 21:28] #501 closed, assigned to flx-sta

[2021-03-05 21:37] ehdatheadwire commented on #515
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/30

@Felix-Puetz once we're through cleaning up/closing out the remaining bugs, we can add back in any future enhancements you want to work on.

[2021-03-05 21:37] #515 closed, assigned to flx-sta

[2021-03-05 21:40] ehdatheadwire commented on #626
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/31

[2021-03-05 21:40] #626 closed, assigned to flx-sta

[2021-03-05 21:45] ehdatheadwire commented on #662
Closing OG issue and relocating here: https://github.com/peregrine-cms/enhancements/issues/32

@reusr1 and @reggie7 if you think this needs to be included as part of the Sling12 work, we can pull it back in; but as it's not strictly a bug, I moved it for now. Thx.

[2021-03-05 21:45] #662 closed, assigned to nobody

[2021-03-05 21:51] ehdatheadwire commented on #721
I'd consider this an enhancement, not a bug, @reggie7 -- as in, not sure the use case to fix this is prevalent enough to prioritize it over other bugs/fixes in the queue.

I'll close/move it for now, but we can always pull it back in/reopen it if you think it needs to be. Thx.

---
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/33

[2021-03-05 21:51] #721 closed, assigned to nobody

[2021-03-05 21:56] ehdatheadwire commented on #734
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/34

[2021-03-05 21:56] #734 closed, assigned to nobody

[2021-03-05 21:58] ehdatheadwire commented on #741
@reggie7 and @reusr1 is this ticket still needed? It's listed as an enhancement but also as related to Sling12 and it's unclear if to work has been done to support this. Just let me know either way so I can relocate it or leave it be! Thx.

[2021-03-05 22:02] ehdatheadwire commented on #646
Closing OG issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/35

[2021-03-05 22:02] #646 closed, assigned to nobody

[2021-03-05 22:39] reusr1 commented on #549
@reggie7 @KWoloszczuk  could you please check if this made it to sling-develop12 and can be closed? thank you

[2021-03-05 22:57] #436 closed, assigned to reusr1

[2021-03-06 15:34] reusr1 commented on #724
@reggie7 I was trying to be nice and did a 'soft remove' through the README.md at https://github.com/headwirecom/peregrine-cms/blob/develop-sling12/sling/peregrine-builder-sling-12/README.md

[2021-03-08 09:50] reggie7 commented on #721
@ehdatheadwire yes, I don't think it's prioritized above other bugs. It's an enhancement on one hand, but personally I'd still call this a bug though. Not a highly prioritized, but a sophisticated bug (all other web apps simply in similar scenarios). Thus the labels `bug` + `enhancement` + `low` 😅

[2021-03-08 10:13] reggie7 commented on #741
I guess it's done, but let @reusr1 confirm for sure.

[2021-03-08 10:25] reggie7 commented on #549
Yes, fixed in #690 and merged. Confirmed now to be sure.

[2021-03-08 10:25] #549 closed, assigned to nobody

[2021-03-08 12:58] reusr1 commented on #741
agreee. closing this

[2021-03-08 12:58] #741 closed, assigned to nobody

[2021-03-09 16:02] GastonGonzalez commented on #534
Closing ticket.

[2021-03-09 16:02] #534 closed, assigned to GastonGonzalez

[2021-03-09 16:04] GastonGonzalez commented on #606
@reusr1 - I believe you created a diff script for this? Can this be closed?

[2021-03-09 16:08] reusr1 commented on #606
moved issue to the correct repository: https://github.com/peregrine-cms/peregrine-builder/issues/1

[2021-03-09 16:08] #606 closed, assigned to GastonGonzalez

[2021-03-11 19:05] ehdatheadwire commented on #344
@reusr1 and @Felix-Puetz is this still an issue and, if so, is it required for 1.0.0 release? I can't replicate the issue in my local instance. If required for 1.0.0 release, please apply the 1.0.0 Release label and milestone. Thank you!

[2021-03-11 19:07] ehdatheadwire commented on #300
@Felix-Puetz can this go into the FFF queue? (Fast Follow Fixes) Looks to be something we should still address but not necessarily for 1.0.0. Thanks!

[2021-03-11 19:49] ehdatheadwire commented on #294
Closed in this repository and relocated to: https://github.com/peregrine-cms/enhancements/issues/36

[2021-03-11 19:49] #294 closed, assigned to nobody

[2021-03-11 19:52] ehdatheadwire commented on #290
Confirmed that this is still an issue and it's not a very good user experience. But is it required for 1.0.0? @reusr1 that's likely a question for you. I could see this as being a fast follow item that we'd want to ensure works.

[2021-03-11 19:58] ehdatheadwire commented on #282
Closing issue and relocating to the enhancements queue here: https://github.com/peregrine-cms/enhancements/issues/37. This is likely not required for 1.0.0 release, although it's definitely something to look into.

[2021-03-11 19:58] #282 closed, assigned to nobody

[2021-03-11 19:59] ehdatheadwire commented on #254
@reggie7 and @KWoloszczuk  -- As this is still actively being worked on, can we assume it's required for 1.0.0 release? And if so, can we close out on it if it's been addressed/fixed? I can't tell if it's been fixed in my local instance. Thanks!

[2021-03-11 20:02] ehdatheadwire commented on #367
@reggie7 and @cmrockwell -- per Reggie's question on 1/14 -- can this be closed/listed as complete? If yes, let's close it out and that'll move us further to knocking down tickets ;) .

[2021-03-11 20:04] ehdatheadwire commented on #376
Closing original issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/38

[2021-03-11 20:04] #376 closed, assigned to nobody

[2021-03-11 20:07] ehdatheadwire commented on #377
Closing original issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/39

[2021-03-11 20:07] #377 closed, assigned to nobody

[2021-03-11 20:08] ehdatheadwire commented on #379
@reusr1 is this required for 1.0.0 release and/or has it already been done?

[2021-03-11 20:11] ehdatheadwire commented on #396
Closing as this doesn't appear to be a priority for 1.0 -- please feel free to reopen and prioritize if I have that incorrect. Here's the new ticket: https://github.com/peregrine-cms/enhancements/issues/40

[2021-03-11 20:11] #396 closed, assigned to nobody

[2021-03-11 20:13] ehdatheadwire commented on #409
This appears to be fixed. Closing ticket.

[2021-03-11 20:13] #409 closed, assigned to nobody

[2021-03-11 20:15] ehdatheadwire commented on #447
@reusr1 this might be a candidate for post 1.0.0 release unless you think it's required. I can't tell from the updates if any enhancements/fixes have been deployed to support this.

[2021-03-11 20:16] ehdatheadwire commented on #448
@reusr1 and @Felix-Puetz this ticket has been labeled "fixed" but not closed. Has it actually been fixed or is there additional work to be done? Thank you!

[2021-03-11 20:19] ehdatheadwire commented on #458
Not marked as a priority or required for new 1.0.0 release (although comments note that automation moved this through to the old 1.0.0 Release project). Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/41. Please feel free to reopen and prioritize for 1.0.0 if need be.

[2021-03-11 20:19] #458 closed, assigned to nobody

[2021-03-11 20:20] ehdatheadwire commented on #460
@reusr1 and @reggie7 is this ticket still in progress or can it be closed? If required for 1.0.0 release, let's label it as such and make sure it's in the priority queue. Thank you!

[2021-03-11 20:39] ehdatheadwire commented on #461
Closing original ticket and relocating to: https://github.com/peregrine-cms/enhancements/issues/42

[2021-03-11 20:39] #461 closed, assigned to nobody

[2021-03-11 20:42] ehdatheadwire commented on #466
Closing original ticket and relocating to: https://github.com/peregrine-cms/enhancements/issues/43

This will likely be grouped into a general UX/UI enhancements queue.

[2021-03-11 20:42] #466 closed, assigned to reusr1

[2021-03-11 20:44] ehdatheadwire commented on #477
Is this required for 1.0.0? I'd wager it isn't, but rather that it should be a fast follow to be addressed in either a performance or api queue. @reusr1 and @GastonGonzalez - would you agree?

[2021-03-11 20:45] ehdatheadwire commented on #479
@reusr1 did the commit you submitted on 11/20 fix this issue? If so, may we close this ticket?

[2021-03-11 20:48] ehdatheadwire commented on #493
Closing original issue as not required for 1.0.0 release; relocating to: https://github.com/peregrine-cms/enhancements/issues/44

[2021-03-11 20:48] #493 closed, assigned to nobody

[2021-03-11 20:53] ehdatheadwire commented on #507
Closing original issue and relocating to enhancements queue: https://github.com/peregrine-cms/enhancements/issues/45

This will likely be grouped together with other UX/UI enhancements.

[2021-03-11 20:53] #507 closed, assigned to nobody

[2021-03-11 20:55] ehdatheadwire commented on #509
Closing original issue and relocating to: https://github.com/peregrine-cms/enhancements/issues/46

This will be part of a new UX/UI improvement queue as there are many tickets related to that subject.

[2021-03-11 20:55] #509 closed, assigned to nobody

[2021-03-11 21:39] reggie7 commented on #460
I've worked on it and fixed it, I'd say yes. @reusr1 can you confirm?

[2021-03-11 22:10] reusr1 commented on #460
@reggie7 @ehdatheadwire just tried this out, works well imho, closing the ticket

[2021-03-11 22:10] #460 closed, assigned to nobody

[2021-03-12 23:10] ehdatheadwire commented on #510
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/47 where it will be grouped together with other UX/UI tickets and further filtered to the website settings screen for ease of address later.

[2021-03-12 23:10] #510 closed, assigned to nobody

[2021-03-12 23:12] ehdatheadwire commented on #543
@reusr1 -- is there any notion that this will be worked on for the 1.0.0 release or should we relocate it to the future fixes queue? There are a few API specific tickets that this might be able to be grouped with. Thanks!

[2021-03-12 23:14] ehdatheadwire commented on #546
@reggie7 are you still waiting on a PR review? Looks like this was moved to that state about a week ago but has yet to be reviewed.

[2021-03-12 23:27] ehdatheadwire commented on #560
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/48

This is possibly only relevant for developers or non-author-only people. So it should be fixed, but it may not impact the immediate end user.

[2021-03-12 23:27] #560 closed, assigned to GastonGonzalez

[2021-03-12 23:28] ehdatheadwire commented on #557
@reggie7 you've moved this from in progress to todo -- is this required for 1.0.0 release and, if so, is there work to be done?

[2021-03-12 23:33] ehdatheadwire commented on #470
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/49 where it will be grouped together with other UX/UI improvement tickets.

[2021-03-12 23:33] #470 closed, assigned to nobody

[2021-03-12 23:35] ehdatheadwire commented on #569
@reggie7 and @reusr1 please confirm if this is still an issue and, if so, if it is required for 1.0.0 release. Marking ticket as close please / move :) .

[2021-03-12 23:38] ehdatheadwire commented on #576
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/50

[2021-03-12 23:38] #576 closed, assigned to reusr1

[2021-03-12 23:43] ehdatheadwire commented on #582
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/51

[2021-03-12 23:43] #582 closed, assigned to nobody

[2021-03-12 23:47] ehdatheadwire commented on #640
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/52

[2021-03-12 23:47] #640 closed, assigned to nobody

[2021-03-12 23:56] ehdatheadwire commented on #636
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/53 where it will get grouped together with other UX/UI enhancements and refactoring.

[2021-03-12 23:56] #636 closed, assigned to nobody

[2021-03-12 23:58] ehdatheadwire commented on #620
@reusr1 and @cmrockwell to my inexperienced eye, this looks like something we'd want working for the 1.0.0 release. Can you confirm? I don't want to move something that might need to be worked on. Thanks!

[2021-03-13 00:05] ehdatheadwire commented on #605
@GastonGonzalez and @schaefa -- what state is this ticket in and is it required for 1.0.0 release? If not required, let's close it and move it to the enhancements queue. Thanks!

[2021-03-13 00:06] #448 closed, assigned to nobody

[2021-03-13 00:10] ehdatheadwire commented on #587
Looking at your noted behavior, @reggie7, I'd want to consider a notification of pending deletion rather than not allowing a page to be deleted. I'm moving this to the enhancements queue in the new repository so we can dig in a little bit more to the use case(s).

New location: https://github.com/peregrine-cms/enhancements/issues/54

[2021-03-13 00:10] #587 closed, assigned to nobody

[2021-03-13 00:24] ehdatheadwire commented on #658
@reggie7 is this still in need of PR review? Last note was from 11 days ago so if it's still in need of a review, let us know and we'll push it through so we can close it out.

[2021-03-13 00:28] ehdatheadwire commented on #723
Closing and relocating to: https://github.com/peregrine-cms/enhancements/issues/55

[2021-03-13 00:28] #723 closed, assigned to nobody

[2021-03-13 00:29] ehdatheadwire commented on #722
Assuming that this is not required for 1.0.0 release and will involve more discussion, I'm marking it as "move" rather than just relocating it in case I'm incorrect in my assumption.

[2021-03-13 00:30] ehdatheadwire commented on #720
@reggie7 and @reusr1 is this required for 1.0.0 release and, if not, should it be moved to the enhancement queue for future work/discussion?

[2021-03-13 00:32] ehdatheadwire commented on #718
Unclear to me if this is required for 1.0.0 release. If yes, we'll mark it as such. If no, we'll move it to the enhancements queue and get it grouped with other replication tickets, of which there are several. Thanks!

[2021-03-13 00:33] ehdatheadwire commented on #660
Judging by your last comment, @reusr1, this might be something to consider as required for 1.0.0 release as we'd like to make it as easy as possible to invite collaborators to the platform and manage users/sites. I'm marking it as such but feel free to adjust or move as warranted.

[2021-03-13 00:34] ehdatheadwire commented on #725
@Felix-Puetz and @reusr1 is this required for 1.0.0 release?

[2021-03-13 00:37] ehdatheadwire commented on #782
Unclear if this should be moved as an enhancement or if it is a low enough effort to be completed in a short time and will assist with the replication process in the 1.0.0 release. @reggie7 if this is not an immediate need, might we move it? I'll mark as Move just in case you want to work on it.

[2021-03-13 00:38] ehdatheadwire commented on #767
@Felix-Puetz is this in review and, if so, has it been completed?

[2021-03-13 00:41] ehdatheadwire commented on #731
@reggie7 and @reusr1 -- looks like a candidate for the enhancement queue but didn't want to assume. Let me know if it's required for 1.0.0 release or not and I'll mark accordingly.

[2021-03-13 00:44] ehdatheadwire commented on #730
Yes, @reusr1 we should look at this user flow in a little more detail. Certainly from a permissions level. There would need to be more stopgaps to unpublishing a template, if we even allow it in the first place.

I'll move this to the enhancement queue as a UI task to look into a bit more.

[2021-03-13 00:46] ehdatheadwire commented on #730
Closed and relocated to: https://github.com/peregrine-cms/enhancements/issues/56

[2021-03-13 00:48] ehdatheadwire commented on #729
Closed and relocated to: https://github.com/peregrine-cms/enhancements/issues/57

[2021-03-13 01:31] cmrockwell commented on #620
it's ok to move it imo... This unit of work for server side rendering could be prepared for 1.0, and I have it working such that a site could have both client and server side pages... but I also don't think that's where the groups priorities or energy are at the moment. So it's fine with me if server side has it's moment in a subsesquent release.

  On Fri, Mar 12, 2021 at 6:59 PM, ***@***.***> wr

[2021-03-13 14:51] reusr1 commented on #782
@ehdatheadwire would like to keep this - this will help us making sure we can test changes to publishing/unpublishing better in the future and helps with the integrity of the platform - I removed the 'move' label

[2021-03-13 15:01] reusr1 commented on #767
we still have a discussion going on in https://github.com/headwirecom/peregrine-cms/pull/768#issuecomment-791476980 - need to come to a conclusion on this if the way this changes the UX is acceptable or not - @ehdatheadwire would love to get the feedback of an editor on this one. - removing the 'close please' label for now

[2021-03-13 15:07] reusr1 commented on #732
@reggie7 is this an issue with the static replication? do we render the pages that depend on the template when a template is published again? - @ehdatheadwire removing the 'move' label as this affects editors and imho should be fixed for 1.0.0

[2021-03-13 15:11] reusr1 commented on #731
@reggie7 is there something in particular you are trying to solve with this? the git branch probably wont be a good idea for the 'product' itself - seems very developer focused. Would be great to start an enhancement ticket describing the issue we are trying to solve with this.

[2021-03-13 15:17] reusr1 commented on #724
@ehdatheadwire I think the core of this issue should be added to https://github.com/peregrine-cms/enhancements/discussions/58 - there is a secondary issue here that we dont have a good stage/live setup for testing purposes (should be a 1.0.0 release item together with us trying to move to the latest sling distribution bundles)

[2021-03-13 15:21] reusr1 commented on #722
@ehdatheadwire decision needs to be made if we can publish folders in assets or not and around the UX for this.

options:
- publishing a folder publishes all its children assets, optionally all the assets in child folders recursively)
- publishing a folder is not allowed and the UI has to be updated to reflect that

note: we also have to define the behavior for unpublish at the same time

for simp

[2021-03-13 16:21] reusr1 commented on #720
added to 1.0.0 release - 12k resources seems high - do we have dulpicates or items that can not be replicated in the list? Should we limit the site setup replication to the tenant?

[2021-03-13 18:40] reusr1 commented on #546
@ehdatheadwire we just need a second approval on this one to merge. It is a front testable issue

[2021-03-13 18:42] reusr1 commented on #569
@ehdatheadwire it is still an issue but it seems to be limited to windows installations and seems to be an issue in https://github.com/apache/sling-org-apache-sling-starter (outside of the peregrine project). I have been trying to find the root cause of the issue in that project but have not been successful yet. getting closer :-)

[2021-03-13 18:44] reusr1 commented on #447
@ehdatheadwire we should move this to the enhancements, @cmrockwell also has a proposal for this, I think

[2021-03-13 22:04] reusr1 commented on #344
I think closing as this is not relevant anymore

[2021-03-13 22:04] #344 closed, assigned to reusr1

[2021-03-13 22:07] reusr1 commented on #379
closing as this is not necessary at the moment

[2021-03-13 22:07] #379 closed, assigned to schaefa

[2021-03-13 22:16] reusr1 commented on #447
closing and opened as a discussion in https://github.com/peregrine-cms/enhancements/discussions/59

[2021-03-13 22:16] #447 closed, assigned to reusr1

[2021-03-13 22:20] reusr1 commented on #557
@ehdatheadwire this ticket should be moved and added to the discussion at https://github.com/peregrine-cms/enhancements/discussions/58

it seems the problem is that we should also unpublish when deleting a page and not with the site replication as indicated here .

[2021-03-13 22:21] reusr1 commented on #605
@ehdatheadwire @GastonGonzalez @schaefa closing this ticket for now since the docker setup uses the launcher for now - we can revisit this at a later point

[2021-03-13 22:21] #605 closed, assigned to schaefa

[2021-03-13 22:28] reusr1 commented on #620
@cmrockwell @ehdatheadwire I think it would be nice to make sure we get server side rendering right again for the 1.0.0 release and start treating it with more attention going forward. Wonder if we should start a project for the server side rendering in general as there are other tickets like https://github.com/headwirecom/peregrine-cms/issues/618 related to this one

[2021-03-13 22:31] reusr1 commented on #774
@ehdatheadwire please move to the enhancements and link to the unpublishing discussion at https://github.com/peregrine-cms/enhancements/discussions/58

[2021-03-13 22:55] reusr1 commented on #735
verified, permissions are set up correctly when peregrine is launched the first time

[2021-03-13 22:55] #735 closed, assigned to nobody

[2021-03-13 22:56] reusr1 commented on #725
closing as this has been merged

[2021-03-13 22:56] #725 closed, assigned to flx-sta

[2021-03-13 22:59] reusr1 commented on #732
@ehdatheadwire please move to the enhancements and add the ticket to https://github.com/peregrine-cms/enhancements/discussions/58

[2021-03-14 17:47] cmrockwell commented on #718
This one was fixed in PR719 which was merged into PR717, and then into sling-develop12 on Jan 21, 2021.
After updating my systems, I confirmed the issue is still fixed as of 3/14/2021. There does seem to an issue replicating asset folders... but this ticket is about UI operation timing out during pages and assets remote replication.

[2021-03-14 17:47] #718 closed, assigned to cmrockwell

[2021-03-14 18:24] cmrockwell commented on #620
@reusr1 I surely would favor a server-side project, and some fixes for 1.0. I have some work that could be contributed for 1.0.

Here is big commit for server-side work related to this ticket from last Dec
https://github.com/cmrockwell/peregrine-cms/commit/13e7a076fd18e75d669c8bac2575b043f305b10b

Here is a [PR in my fork](https://github.com/cmrockwell/peregrine-cms/pull/11/files) that does a few

[2021-03-15 08:02] flx-sta commented on #479
@ehdatheadwire
![image](https://user-images.githubusercontent.com/50131232/111121563-18447080-856d-11eb-9eef-afd4593e8b88.png)

its still present in `develop-sling12` and I couldn't get the mentioned branch working

[2021-03-15 08:06] flx-sta commented on #300
@ehdatheadwire My opinion: not very important and not necessary for 1.0.0 because its a very much edge-case. A user that would encounter this was trying to push his luck anyway

[2021-03-16 21:12] ehdatheadwire commented on #300
Great thanks @Felix-Puetz. I'll move to the enhancements queue and update this ticket with the new link.

[2021-03-16 21:15] ehdatheadwire commented on #300
Relocated to: https://github.com/peregrine-cms/enhancements/issues/60

[2021-03-16 21:15] #300 closed, assigned to nobody

[2021-03-16 21:17] ehdatheadwire commented on #367
@reggie7 and @cmrockwell -- I didn't see a response in my github spam -- can this be closed or does it need to be moved for future work? Thanks much.

[2021-03-16 21:19] ehdatheadwire commented on #479
I'd say this needs to be fixed, then, as part of a 1.0.0 release -- or at least, attempted to fix. Pretty bad user experience, IMHO.

[2021-03-16 21:20] ehdatheadwire commented on #543
@reusr1 assigning to you just to get this moved or closed as needed. If it's required for 1.0.0, feel free to relabel and keep in the queue.

[2021-03-16 21:22] ehdatheadwire commented on #546
I can test it then, I suppose. I'll assign to myself and check the PR#781.

[2021-03-16 21:26] ehdatheadwire commented on #557
Moved to: https://github.com/peregrine-cms/enhancements/issues/61

[2021-03-16 21:26] #557 closed, assigned to reggie7

[2021-03-16 21:51] ehdatheadwire opened #790 "Disable publishing of folders in assets"
Related to the listed issue #722. We should disable folder publishing in assets until we work through the desired user flow.

[2021-03-16 21:51] ehdatheadwire commented on #722
New issue created in enhancements: https://github.com/peregrine-cms/enhancements/issues/62.

New ticket created for disabling publishing of folders in assets here: https://github.com/headwirecom/peregrine-cms/issues/790

[2021-03-16 21:51] #722 closed, assigned to nobody

[2021-03-16 21:54] ehdatheadwire commented on #724
@reusr1 -- understood. I'll add to enhancements -- should there be a new ticket for the setting up of a good stage/live environment for testing purposes?

[2021-03-16 21:58] ehdatheadwire commented on #727
Closing and relocating to enhancements, likely to be included in the overall publishing/unpublishing user flow discussion: https://github.com/peregrine-cms/enhancements/issues/63

[2021-03-16 21:58] #727 closed, assigned to reggie7

[2021-03-16 22:03] ehdatheadwire commented on #731
@reggie7 I went ahead and opened up an enhancement ticket here: https://github.com/peregrine-cms/enhancements/issues/64 but I'll keep this open so you can respond to @reusr1 's question. Not sure if we've opened up the new repository yet but if you have access to the above link, you can go ahead and note your questions/proposal there.

[2021-03-16 22:04] ehdatheadwire commented on #732
Sure thing. Find your new ticket here: https://github.com/peregrine-cms/enhancements/issues/65.

[2021-03-16 22:05] ehdatheadwire commented on #767
Definitely, @reusr1 -- will take a look.

[2021-03-17 10:41] reggie7 commented on #254
@ehdatheadwire I guess it's fixed as #769 got merged. But the question goes to @Felix-Puetz more than us. @KWoloszczuk - maybe you could check the latest `develop-sling12` to confirm that stuff got fixed.

[2021-03-17 10:44] reggie7 commented on #560
Hmm, I would say it might actually impact authors as well. The steps are all what an author could do. They'd usually not fiddle so much around templates though, so it's not high impact, but a possibility for inconsistency remains. I'd leave it up to @reusr1 to evaluate the priority here.

[2021-03-17 10:50] reggie7 commented on #658
Yes, PR #773 is prepared and waiting for reviews. It's available for front-facing testing too, so both you @ehdatheadwire and @KWoloszczuk could give it a spin.

[2021-03-17 10:55] reggie7 commented on #720
@reusr1 it's `local` though, so we need to remember that we were also considering dropping it altogether.

[2021-03-17 11:01] #546 closed, assigned to nobody

[2021-03-17 11:06] flx-sta commented on #254
@KWoloszczuk if you can confirm on `develop-sling12` please close the issue

[2021-03-17 11:23] flx-sta commented on #767
@ehdatheadwire I merged the current version with the simple animation blocking the view of old references.
We should adress a more proper approach in a new enhancement ticket. You coulc create that if you want :)

[2021-03-17 11:35] reggie7 commented on #254
We have still [this](https://github.com/headwirecom/peregrine-cms/pull/769#issuecomment-799406438):

The data is sent, but somehow lost in the BE.
I'd say thats a new issue

as I see now. It's a bug. Up to @reusr1 to decide if I should look into it. Up to you @ehdatheadwire to decide if it's enhancement project or not. Video [here](https://github.com/headwirecom/peregrine-cms/pull/769#issuecomment

[2021-03-17 11:39] reggie7 commented on #367
@ehdatheadwire - it's up to @cmrockwell

[2021-03-17 11:43] ghost commented on #254
@Felix-Puetz Can you explain this behavior for me please?

https://user-images.githubusercontent.com/1230506/111462086-4b7a3180-871e-11eb-9874-020e0d1f8f2f.mp4

[2021-03-17 11:50] reggie7 commented on #724
#773 already provides the fix here, so we should be good once it's merged. It's already in `PR to review` column of [Replication project](https://github.com/headwirecom/peregrine-cms/projects/7#card-54056577).
The environment thing is separate though, not covered in the PR obviously:

[2021-03-17 11:56] reggie7 commented on #727
#785 fixed it, merged already.

[2021-03-17 12:08] reggie7 commented on #731
@ehdatheadwire, just answered in [64](https://github.com/peregrine-cms/enhancements/issues/64#issuecomment-801028019).

[2021-03-17 12:08] #731 closed, assigned to nobody

[2021-03-17 12:16] reusr1 commented on #560
while it is relevant for authors as well we need to come up with an overall strategy on the UX for publish/unpublish/delete - https://github.com/peregrine-cms/enhancements/discussions/58

[2021-03-17 13:28] reusr1 commented on #254
@Felix-Puetz I did some more testing on this and realized the same type of collection is not working in the site template either (where we manage the js/css includes, etc). There are some frontend bugs like

[code]
can you please track down all locations of the collections and see that the frontend code for all of them works? thank you

[2021-03-17 22:38] ehdatheadwire commented on #774
Moved to: https://github.com/peregrine-cms/enhancements/issues/66

[2021-03-17 22:59] ehdatheadwire commented on #658
Great, thank you. Will take a look.

[2021-03-24 21:41] reusr1 commented on #254
closing as per @reggie7 's request :-)

[2021-03-24 21:41] #254 closed, assigned to flx-sta

[2021-03-24 22:24] reusr1 commented on #479
updated PR and addressed comments, should be good to go now

[2021-03-24 22:48] cmrockwell commented on #367
Yes. This one can be closed. Thanks all!

[2021-03-24 22:48] #367 closed, assigned to cmrockwell

[2021-03-25 08:32] flx-sta commented on #479
~~which PR? can you link it please~~
found it

[2021-03-25 14:53] reusr1 commented on #479
issue resolved and merged, validated in develop-sling12

[2021-03-25 14:53] #479 closed, assigned to reusr1

[2021-03-25 23:47] reusr1 commented on #290
PR merged, issue fixed

[2021-03-25 23:47] #290 closed, assigned to nobody

[2021-03-26 00:18] reusr1 commented on #569
this issue is now limited to windows 10 and some newer jvm's - the problem is that some content from the initial bundle content are created as files instead of a node structure - the problem is tracked as well in https://github.com/ist-dresden/composum-nodes/issues/220

[2021-03-26 02:22] reusr1 commented on #767
closing this ticket as the issue is solved in develop for now - we can always create a new ticket in the future

[2021-03-26 02:22] #767 closed, assigned to flx-sta

[2021-03-26 03:24] reusr1 commented on #477
I'd like to have this solved - while looking at this issue I also discovered that `admin-base/core/src/main/java/com/peregrine/admin/resource/ReferenceListerService.java` is probably in the wrong place as its used by the replication - code - looks like this should be moved and in conjunction with https://github.com/headwirecom/peregrine-cms/issues/657 and https://github.com/headwirecom/peregrine-c

[2021-03-26 21:21] reggie7 commented on #782
Fixed in [PR percli/27](https://github.com/headwirecom/percli/pull/27).

[2021-03-29 13:08] #790 closed, assigned to nobody

[2021-03-29 18:44] ehdatheadwire commented on #828
This is a peregrine issue, so we'll move it there -- and the issue is slightly different now in that the inline editing reveals the text as entered but if you click off the tab, the data is not stored.

[2021-03-29 18:51] ehdatheadwire commented on #827
This might be a Peregrine issue not a themeclean flex issue. Initial issue in this ticket was solved but secondary issue of display name consistency is still present.

[2021-04-01 07:46] flx-sta opened #832 "Issues with vfg groups in component-panel"
### List of known issues:

- [x] Switching any `show <e.g. title>` switch to off and back to on the field pops up in the collapsed `Content` group
    - <img src="https://user-images.githubusercontent.com/50131232/113259892-f0c00880-92cd-11eb-9525-cd7f49211ddf.png" width="150"/>
- [x] `Advanced` group -> `semantic element` show an infinte loading animation
    - <img src="https://user-images.githu

[2021-04-01 23:19] #660 closed, assigned to nobody

[2021-04-06 15:07] reggie7 commented on #657
Fixed in [issues/657-tenant-site-setup-replication-NPE](/headwirecom/peregrine-cms/tree/issues/657-tenant-site-setup-replication-NPE). Once [773](https://github.com/headwirecom/peregrine-cms/pull/773#issuecomment-814195222) is merged, I'll open the next PR for this one here.

[2021-04-06 15:07] reggie7 commented on #720
Fixed in [issues/657-tenant-site-setup-replication-NPE](/headwirecom/peregrine-cms/tree/issues/657-tenant-site-setup-replication-NPE). Once [773](https://github.com/headwirecom/peregrine-cms/pull/773#issuecomment-814195222) is merged, I'll open the next PR for this one here.

[2021-04-07 15:12] reusr1 commented on #832
when testing this PR please also apply the version of themecleanflex with grouping ( https://github.com/headwirecom/themeclean-flex/pull/187 )

[2021-04-09 15:13] reusr1 opened #852 "switch com.peregrine.models.ObjectModel to use json-schema.json instead of dialog.json"
we should try to see if we can use the https://www.jsonschema2pojo.org/ library to dynamically generate the sling models from the json schema

[2021-04-09 15:58] reusr1 commented on #852
base of the code that should change https://github.com/headwirecom/peregrine-cms/blob/a59104dfb24facb3526f7e9b70d0bd24da90cbea/platform/base/core/src/main/java/com/peregrine/models/ObjectModel.java#L104-L128

[2021-04-10 21:40] golinski commented on #477
The PR should be treated as a discussion starting point.

The PR uses an SQL2 (Lucene) query to find nodes that reference the given path. For my sample content tree with ~3000 pages it makes the endpoint almost 10 times faster.

There is a change with respect to the previous solution. For now I do not try to find the name of the property that makes the reference (this needs additional work, as the

[2021-04-12 06:18] #832 closed, assigned to flx-sta

[2021-04-12 19:48] reusr1 opened #856 "no startup page displayed during sling startup"
the sling starter configures a startup page at /conent/startup/index.html but we dont take advange of that page. Would be good to do that in order to have a better first impression

[2021-04-13 18:41] ghost opened #859 "Redundant call to endpoint"
After click we can see redundant call to endpoint  (Network in DevTools). It drains memory unnecessarily.

**Steps to Reproduce**

1. Create a site.
2. Go to Pages.
3. Click F12 for DevTools. Switch to Network there.
3. Click on the Page name or info or references.
4. See how redundant call appears.

**Expected behavior**
After click, there should be only one call.

**Actual behavior**
There is a

[2021-04-14 10:27] #658 closed, assigned to reggie7, ehdatheadwire

[2021-04-14 10:27] #724 closed, assigned to nobody

[2021-04-16 12:53] flx-sta opened #861 "new field: reference object-definitions"
Right now (after integrating jsonforms into the form component in themeclean-flex) we have  2 texteareas where you can write your schema and uischema.

We want to be able to reference object-definitions here instead.

1 object-definition can contain 1 `schema` and multiple `uischema` (but only 1 chosen)

# simple mockup
![image](https://user-images.githubusercontent.com/50131232/115027056-8315fe00

[2021-04-16 12:58] flx-sta opened #862 "integrate vue-codemirror as editor for object-definitions"
When clicking `edit` on an object (e.g. json files, js files etc.) it opens the composum editor right now.

We want to change that to vue-codemirror-lite whch is already present as a dependency in the project (`see admin/ui.apps/package.json`)

[2021-04-16 13:00] reusr1 commented on #862
https://github.com/headwirecom/peregrine-cms/blob/1b19de2f7cfb64f802d44305971a21ce85382610/admin-base/ui.apps/src/main/content/jcr_root/apps/admin/components/explorer/template.vue#L503 is currently used to check if we open the composum editor

files are opened here:

https://github.com/headwirecom/peregrine-cms/blob/1b19de2f7cfb64f802d44305971a21ce85382610/admin-base/ui.apps/src/main/content/jcr_r

[2021-04-16 13:04] flx-sta opened #863 ""+ add object definition" doesn't allow creating schema/uischema.json"
In the root of level of object definitions the button should stay as it is.

inside a object definiton the button should change its behaviour so that clicking it will end up creating a new file (e.g. `.json`).

# minimal mockup

![image](https://user-images.githubusercontent.com/50131232/115028359-097f0f80-9ec5-11eb-90b4-18886acf062d.png)

### `onClick`
- opens `editFile` (hopefully vue-coremirror

[2021-04-16 13:07] flx-sta opened #864 "object definitions "right panel" stays empty"
When selecting something in object-definitions the right-panel should show the same behaviour as in `assets`. But it doesn't.

fix that

Investigate why this isn't adapting automatically (dynamic bindings!?)

[2021-04-18 08:39] #657 closed, assigned to reggie7

[2021-04-18 08:40] #720 closed, assigned to reggie7

[2021-04-20 15:43] cmrockwell opened #869 "Sidebar Expand & Collapse Button"
Sometimes the Sidebar Expand & Collapse Button covers the Move handle or Delete button.
The screenshot below shows a thin header component, which has both obscured.

<img width="1152" alt="Screen Shot 2021-04-19 at 6 15 19 PM" src="https://user-images.githubusercontent.com/1811207/115425390-94b21b00-a1cd-11eb-8350-da49056e6b01.png">

[2021-04-20 17:27] reggie7 opened #870 "Replication status does not refresh after 'Properties & Information' changes"
**Steps to Reproduce**
1. Replicate page,
2. Change page title in **Properties & Information** panel,
3. Save.

**Expected Result**
The _world_ icon changes color.

**Actual Result**
It does not. One needs to refresh the page.

![View](https://user-images.githubusercontent.com/5563546/115438863-335e6c00-a20e-11eb-8fa3-e1ebb028a23e.png)

[2021-04-20 17:32] reggie7 opened #871 "Replication Status does not refresh right away after page edit and 'Pages' click"
**Steps to Reproduce**
1. Replicate page,
2. Open page in author,
3. Change something, don't save anything yet,
4. Click 'Pages' navigation,
5. Save changes.

**Expected Result**
The _world_ icon changes color.

**Actual Result**
It does not.

![View](https://user-images.githubusercontent.com/5563546/115439429-df07bc00-a20e-11eb-8123-ece8060a0aac.png)

[2021-04-20 17:34] reggie7 opened #872 "Asset change does not mark it as modified"
**Steps to Reproduce**
1. Replicate image,
2. Change its title,
3. Save.

**Expected Result**
The _world_ icon changes color.

**Actual Result**
It does not.

![View](https://user-images.githubusercontent.com/5563546/115439773-3efe6280-a20f-11eb-901a-2029461b87be.png)

[2021-04-20 17:36] reggie7 commented on #870
Same applies to Objects.

[2021-04-20 17:42] reggie7 opened #873 "Publishing a changed template in static replication does not refresh relevant pages"
**Steps to Reproduce**
1. Replicate page,
2. Change the page's template,
3. Replicate the template.

**Expected Result**
The page reflects template's changes.

**Actual Result**
It does not. One needs to publish the page directly.
Additionally - the Replicate button in the right panel (**Publish to Web**) does not pick up the relevant pages affected.

[2021-04-20 17:44] reggie7 commented on #873
I guess #732 covered it previously.

[2021-04-20 17:44] reggie7 commented on #873
#774 is actually the same in its core.

[2021-04-20 18:01] reggie7 opened #874 "Site Setup Replication breaks editing in local replication mode"
**Steps to Reproduce**
1. Perform **Site Setup Replication** in local replication setup,
2. Edit a page and try to save it.

**Expected Result**
It works.

**Actual Result**
`js` error.

![View](https://user-images.githubusercontent.com/5563546/115443031-05c7f180-a213-11eb-8f3e-c0f1859c29c3.png)

![Console](https://user-images.githubusercontent.com/5563546/115443021-03659780-a213-11eb-80aa-5b2b51b

[2021-04-20 18:21] reggie7 opened #875 "Locally replicated page is blank when rendered under /live"
The page [/live/test/pages/articles.html](http://localhost:8080/live/test/pages/articles.html) is blank after **SiteSetup Replication**. There are some `js` errors in place:

![js errors](https://user-images.githubusercontent.com/5563546/115445168-c9e25b80-a215-11eb-941a-e7530ff48473.png)

[2021-04-20 18:38] reggie7 opened #876 "It's possible to replicate a page without the referenced new image in `remote` mode"
**Steps to Reproduce**
1. Add a new image asset,
2. Add it to a page,
3. Replicate page.

**Expected Result**
The page contains the image.

**Actual Result**
It does not.

![Missing Image](https://user-images.githubusercontent.com/5563546/115447059-568e1900-a218-11eb-83f0-622dd907784d.png)

[2021-04-20 18:39] reggie7 commented on #876
Not sure if that's a legitimate bug or rather author responsibility?

[2021-04-21 09:52] flx-sta commented on #859
@KWoloszczuk Those are mot exatly redundant calls
If you open the request headers you can see that those are 2 completly different endpoiints:

![image](https://user-images.githubusercontent.com/50131232/115534409-06569b80-a298-11eb-9d50-e1f2dafab3e7.png)
![image](https://user-images.githubusercontent.com/50131232/115534424-0b1b4f80-a298-11eb-804a-0e176d284a3d.png)

but an addtional request when c

[2021-04-21 12:14] #732 closed, assigned to nobody

[2021-04-21 12:14] #774 closed, assigned to nobody

[2021-04-21 12:14] #729 closed, assigned to nobody

[2021-04-21 12:14] #730 closed, assigned to nobody

[2021-04-22 14:09] reggie7 commented on #870
Same applies to Assets & Templates.

[2021-04-23 14:48] #874 closed, assigned to nobody

[2021-04-23 18:24] #872 closed, assigned to nobody

[2021-04-23 20:46] reggie7 opened #881 "Tie the globe icon button to the same action as 'Publish to Web'"
![main view](https://user-images.githubusercontent.com/5563546/115927887-75ddae00-a485-11eb-9dc1-95009b792946.png)

![required popup](https://user-images.githubusercontent.com/5563546/115927888-76764480-a485-11eb-9d34-98c26f4f1585.png)

[2021-04-23 20:47] reggie7 opened #882 "Block 'unpublish' and 'delete' actions on referenced items"

[2021-04-23 20:52] reggie7 commented on #882
@reusr1 can you confirm my below description, please?
The way I understand it - if an item is referenced somewhere - we don't allow neither to _delete_ it nor to _unpublish_ it?
What about this scenario:
- I add a new page,
- I add a new image,
- I reference the image in the page,
- I publish the image,
- I want to unpublish the image?

I say we would need to allow it then.

[2021-04-24 21:48] golinski commented on #882
There are many corner cases here. First, a short scenario

1. An image is added to DAM and is published (because, why not).
2. Similarly an unrelated page is published.
3. On the author instance the image is added to the page, but the updated page is not published yet.
4. We have a problem when trying to unpublish the image: there is a reference, but on the author instance only.

This is not a big

[2021-04-25 10:35] reggie7 commented on #882
Oh, I know, I just thought of it now - we'll need to use [`VersioningResourceResolver`](https://github.com/headwirecom/peregrine-cms/blob/develop-sling12/platform/base/core/src/main/java/com/peregrine/versions/VersioningResourceResolver.java). It might help us with the proper references for both the above cases. Let's see in practice.

[2021-04-25 20:51] reusr1 commented on #882
@reggie7 @golinski makes me wonder if we should change the reference search to allow for searching the 'published' version vs the current version

We also may think a bit about not allowing a delete before a node is unpublished or go through the unpublish step if already published.

[2021-04-25 23:29] golinski opened #887 "Login does not work for certain paths"
When in private mode one goes to etc. http://localhost:8080/system/console/bundles, we are presented with the normal login form at http://localhost:8080/system/sling/form/login?resource=%2Fsystem%2Fconsole%2Fbundles, but after entering `admin`/`admin` we are redirected to http://localhost:8080/system/sling/form/login?resource=%2Fsystem%2Fconsole%2Fbundles%2Fj_security_check. Each subsequent login

[2021-04-26 09:42] reggie7 commented on #887
@golinski please check if this covers [#33](https://github.com/peregrine-cms/enhancements/issues/33) too. If so - let's close that one too. #721 is the original for it.

[2021-04-26 14:04] reusr1 opened #890 "unpublish an item that was never published throws a client side exception"
we should block unpublishing of a never published item or if we allow it at least make sure we dont throw an exception

[2021-04-26 21:29] golinski commented on #887
No, https://github.com/peregrine-cms/enhancements/issues/33 works this way because `/content` is anonymously readable, therefore no authentication is performed (and the form is not displayed) and markup is simply returned. Afterwards the `/perapi` endpoints are not visible to the felibs (because we are an anonymous user), and the page stays blank.

[2021-04-27 10:53] reggie7 commented on #887
Great analysis @golinski, thank you for that 👍🏼

[2021-04-27 15:16] #881 closed, assigned to reggie7

[2021-04-27 15:17] #890 closed, assigned to reggie7

[2021-04-27 16:11] cmrockwell commented on #887
Indeed. Thanks both to Reggie and Michał for investigating the issues related to expired login. To summarize the discussion from the water-cooler meeting, there were a few points...
1. Whether anonymous users should have access to /content for default localFS replication use-case. Instances with author runmode for the remote use-case [do not grant 'everyone' access](https://github.com/headwirecom/

[2021-04-29 21:18] reusr1 commented on #887
@golinski @cmrockwell @reggie7 great discussion here - one comment on the access servlet: that is probably a permission issue in `/perapi/admin/access.json` that one should allow read for everyone - since the original issue was fixed and this relates more to https://github.com/peregrine-cms/enhancements/issues/33 - should we take the discussion there?

also, I think we should turn off the default

[2021-04-29 21:21] #859 closed, assigned to cmrockwell, flx-sta

[2021-04-29 21:21] reusr1 commented on #859
closed, fix was merged and verified

[2021-04-30 13:02] cmrockwell commented on #887
Hi @reusr1
Peregrine CMS would greatly benefit from friendlier URL's generally. The default content mapping offers a simple way to have that not just for the CMS pages, but also the tenant pages. No site owner wants to look at /content/ at root constantly. As CMS developers, we should not settle on that either. I mentioned the default content mapping in the context of this issue only to ensure the

[2021-04-30 13:22] #477 closed, assigned to reggie7

[2021-04-30 13:26] #870 closed, assigned to reggie7

[2021-04-30 13:53] #782 closed, assigned to nobody

[2021-04-30 15:50] reusr1 commented on #887
@cmrockwell I think that is what I was trying to say - we should split the discussion into a different ticket - this issue is about `login does not work for certain paths` and from what I see that was fixed.

[2021-04-30 16:11] reusr1 opened #903 "evaluate if the icon edit functionality in the rich text editor can use a web component"
@Felix-Puetz - our rich text editor currently inserts [icon:iconname] into the text - can you please explore if we can change that to insert a web component instead and write a web component that can render the icon?

z.B.
- slimjs

[2021-04-30 16:37] cmrockwell commented on #887
Ah I see. My comments on this issue 887 were a bit off topic. They were more relevant to [issue 33](https://github.com/peregrine-cms/enhancements/issues/33) which I had read before the water-cooler meeting. It was on my mind, so maybe I delete the comments move them. Because I was mistaken about what issue 887 was really about. My apologies!

[2021-05-03 08:56] flx-sta commented on #903
well we can always just use `<img>` but i don't really kow where you wanna head with this

[2021-05-03 08:58] #861 closed, assigned to flx-sta

[2021-05-03 13:14] #882 closed, assigned to reggie7

[2021-05-06 14:42] reggie7 opened #908 "Remove self-reference from references list"

[2021-05-06 14:49] reggie7 opened #909 "Remove cross-tenant publishing display in modal window"

[2021-05-10 11:10] reggie7 commented on #873
I think we can close this one as #889 displays _Used By_ section that covers the case in question.

[2021-05-10 11:10] #873 closed, assigned to nobody

[2021-05-10 11:21] reggie7 commented on #876
I think we can close this one as #889 displays _Uses_ section that covers the case in question.

[2021-05-10 11:21] #876 closed, assigned to nobody

[2021-05-10 13:23] reusr1 commented on #862
@Felix-Puetz code mirror is already available in the admin ui - the base HTML for the admin console includes ` Vue.use(VueCodeMirror)`

[2021-05-12 07:35] #908 closed, assigned to reggie7

[2021-05-12 12:11] #909 closed, assigned to reggie7

[2021-05-12 23:19] reusr1 commented on #903
@Felix-Puetz please find attached a super simple web component that can display an icon and some instructions that show us how we could use it in our text editor

[simpleicon.zip](https://github.com/headwirecom/peregrine-cms/files/6469513/simpleicon.zip)

unzip the zip file, open up the index.html file in your browser

[2021-05-17 09:55] flx-sta commented on #903
@reusr1

- ~~Alright but what is the gain from this? this is what I still don't get..
The icons might still be way oversized.
And for me an `<img/>` tag would have produced the same result (except maybe new line but we were able to solve that with css technically)~~
  - > **@reusr1 in Slack:**

- ~~Also we should verify if this is doable "dynmically" (insert it into a text-flow without breaking th

[2021-05-18 14:17] flx-sta opened #928 "`<peregrine-icon>` is not removable with backspace/delete key"
The only way to remove a `<peregrine-icon>`  right now is to mark it (and usually at least 1 "normal" character") and then pressing backspace/delete.

Should get fixed

[2021-05-18 14:19] flx-sta commented on #903
It works now but there is still some issues that are noted in #928

[2021-05-18 15:10] flx-sta opened #930 "`<pathbrowser>` in `<collection>` no showing (first time)"
When trying to open the pathbrowser in e.g. the card component it doesnt show up but rather the open collection-item is collapsed into a undefined state and then has to be clicked twice to reopen it and then it properly open the pathbrowser.

This bug only happens once though.

[2021-05-26 13:05] #863 closed, assigned to flx-sta

[2021-06-06 15:27] #903 closed, assigned to flx-sta

[2021-07-08 15:49] reusr1 commented on #856
solved

[2021-07-08 15:49] #856 closed, assigned to reusr1

[2021-07-13 15:13] flx-sta opened #958 "references initial state issues"
# Description
If you are in a fresh browser-window and you create a new tenant and click on `Create and Edit` at the end the references tab stays empty.
Same emptiness can be achieved with clicking `Create` at the end and then going to `Pages` -> click the `(i)` on `Home` and checking the referneces here (not 100% reproduceable)

## Test Coverage
There is an end-2-end test called `'open first refe

[2021-08-09 13:25] golinski opened #968 "Swagger editor update"
Right now our API browser uses swagger-editor v 3.0.10, which doesn't support OpenAPI 3.0 and (more importantly) is more than 4 years old. Swagger v.4.0 is realeasing soon, it might be a good idea to upgrade when it is ready. Additionally: we should consider replacing swagger-editor with swagger-ui (which skips the editor pane and is an API viewer only).

[2021-09-21 13:58] #862 closed, assigned to flx-sta

[2021-12-16 21:52] schaefa opened #1011 "Add support for Peregrine's Sling Model based on JSon Schemas"
We have JSon Schema supported in the Object Definitions. Now we need to support them in Sling Models to make the visible.
An object based on an object definition should show the properties provided by the object definition in their model view (object-name.model.json).
Add support for nested reference schemas and cache schemas but check for updates.

[2021-12-16 22:05] schaefa commented on #1011
I added the changes to the Object Model into a new branch: issues/1011-add-json-schema-support-to-sling-models

[2022-01-07 21:08] schaefa opened #1017 "Add Support for GraphQL and a GraphiQL client"
Provide GraphQL support to Peregrine based on Object-Definitions Schemas and add a GraphiQL client

[2022-05-26 07:15] dogebi2 opened #1071 "how to delete objectDifinition go to the Recyclebin display the deleted objectdifinition file?"
how to delete objectDifinition go to the Recyclebin display the deleted objectdifinition file?
like a , Assets and object , file.

please ,

[2022-08-04 22:59] schaefa opened #1096 "Fix the broken Actions tab on the Object's right panel"

[2022-08-04 23:00] schaefa commented on #1096
It turns out that the Actions panel is empty because non of the actions were allowed to be shown

[2022-08-05 15:24] schaefa commented on #1096
Created a PR for that: https://github.com/headwirecom/peregrine-cms/pull/1097

[2022-08-05 15:30] schaefa opened #1098 "Make the Tags based on Object Definition"
Tags are based on a fixed definition in Admin. The Tag should be based on an Object Definition to make the dynamic

[2022-08-07 02:48] dogebi2 commented on #1071
ok, it`s resolved

[2022-08-07 02:48] #1071 closed, assigned to nobody

[2022-08-09 16:40] schaefa opened #1099 "Use ui-schema.json to render the objects"
Currently the dialog.json is used to render the UI but we should move to ui-schema.json and json-schema.json as fallback

[2022-08-10 20:08] schaefa commented on #1096
Added the Actions on the Objects and did fix an issue with the Copy Servlet that prevented a default copy (no name/title given)

[2022-08-10 20:08] #1096 closed, assigned to nobody

[2022-08-18 18:31] schaefa commented on #1098
As of now the Tags are based on an OD in apps but the handling in the Objects is a little bit confusing.
If we use a Node Type for Tags then we can make the handling cleaner as we can define what node types a folder can contain.
Custom Tags should also be based on the Base Tag OD so that the base fields are provided.